Repository infinispan/infinispan, pull requests merged in 2019-11, with the labels that each got.

#7518 [10.0.x] ISPN-10866 Force Infinispan Wildfly extension to use jboss marshalling
  wildfly/infinispan/src/main/java/org/jboss/as/clustering/infinispan/subsystem/CacheContainerConfigurationBuilder.java
Labels: Backport

#7531 [10.0.x] ISPN-10860 Attributes with DataType.TRAIT are not metrics
  component-annotations/src/main/java/org/infinispan/jmx/annotations/DataType.java
  component-processor/src/main/java/org/infinispan/component/processor/Generator.java
  core/src/main/java/org/infinispan/eviction/impl/ActivationManagerImpl.java
  core/src/main/java/org/infinispan/jmx/ResourceDMBean.java
  core/src/main/java/org/infinispan/manager/CacheManagerInfo.java
  core/src/main/java/org/infinispan/manager/DefaultCacheManager.java
  core/src/main/java/org/infinispan/metrics/impl/ApplicationMetricsRegistry.java
Labels: Backport

#7533 [10.0.x] ISPN-10863 java.lang.IllegalAccessException logged by PropertyFormatter
  core/src/main/java/org/infinispan/configuration/format/PropertyFormatter.java
Labels: Backport

#7549 ISPN-10868 Default whitelist should allow primitives, arrays and Arra…
  commons/src/main/java/org/infinispan/commons/configuration/ClassWhiteList.java
Labels: Trivial :-)

#7545 ISPN-10911 HotRodMultiMapOperations random failures
  server/runtime/src/test/java/org/infinispan/server/functional/HotRodMultiMapOperations.java
Labels: Test fix, Trivial :-)

#7491 ISPN-10749 Invalidation mode needs a proper key partitioner
  core/src/main/java/org/infinispan/configuration/cache/Configurations.java
  core/src/main/java/org/infinispan/container/impl/AbstractInternalDataContainer.java
  core/src/main/java/org/infinispan/distribution/ch/impl/KeyPartitionerFactory.java
  core/src/main/java/org/infinispan/reactive/publisher/impl/LocalClusterPublisherManagerImpl.java
Labels: Trivial :-)

#7553 ISPN-10919 Offline Xsite test failures
  core/src/test/java/org/infinispan/xsite/AbstractXSiteTest.java
  core/src/test/java/org/infinispan/xsite/BaseSiteUnreachableTest.java
Labels: Test fix, Trivial :-)

#7557 ISPN-10922 StateTransferLinkFailuresTest random failures
  core/src/main/java/org/infinispan/remoting/transport/RetryOnFailureXSiteCommand.java
  core/src/test/java/org/infinispan/xsite/AbstractTwoSitesTest.java
  core/src/test/java/org/infinispan/xsite/statetransfer/failures/StateTransferLinkFailuresTest.java
Labels: Test fix

#7556 [9.4.x] ISPN-10920 SB starter dependencies
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
Labels: Documentation

#7571 ISPN-10855 Run all test methods when the class isn't annotated @InCacheMode
  core/src/test/java/org/infinispan/test/MultipleCacheManagersTest.java
Labels: Test fix, Trivial :-)

#7566 [10.0.x] ISPN-10924 JPA cache store (with async enabled) will log Exceptions i…
  persistence/jpa/src/main/java/org/infinispan/persistence/jpa/JpaStore.java
  persistence/jpa/src/test/java/org/infinispan/persistence/jpa/JpaStoreAsyncFunctionalTest.java
Labels: Backport

#7558 ISPN-10925 CacheMgmtInterceptor.visitComputeCommand uses millis to up…
  core/src/main/java/org/infinispan/interceptors/impl/CacheMgmtInterceptor.java
Labels: Trivial :-)

#7555 [9.4.x] ISPN-10917 removing TODOs from doc
  documentation/src/main/asciidoc/user_guide/execute_grid.adoc
  documentation/src/main/asciidoc/user_guide/locked_streams.adoc
  documentation/src/main/asciidoc/user_guide/multimapcache.adoc
  documentation/src/main/asciidoc/user_guide/query.adoc
Labels: Documentation

#7554 [9.4.x] ISPN-10918 adding CLI session expiration info
  documentation/src/main/asciidoc/user_guide/cli.adoc
Labels: Documentation

#7573 ISPN-10855 Remove the need for factory() implementations when the base class has it
  core/src/test/java/org/infinispan/api/ConditionalOperationsConcurrentOptimisticTest.java
  core/src/test/java/org/infinispan/api/ConditionalOperationsConcurrentPessimisticTest.java
  core/src/test/java/org/infinispan/distribution/DistSyncTx1PCL1FuncTest.java
  core/src/test/java/org/infinispan/distribution/topologyaware/TopologyAwareDistAsyncFuncTest.java
  core/src/test/java/org/infinispan/distribution/topologyaware/TopologyAwareDistSyncUnsafeFuncTest.java
  core/src/test/java/org/infinispan/functional/FunctionalWriteSkewInMemoryTest.java
  core/src/test/java/org/infinispan/scattered/ScatteredSkipRemoteLookupTest.java
  core/src/test/java/org/infinispan/test/MultipleCacheManagersTest.java
Labels: Test fix

#7578 [10.0.x] ISPN-10940 JPA deleteBatch should not pass empty collection to Criter…
  core/src/test/java/org/infinispan/persistence/BaseStoreTest.java
  persistence/jpa/src/main/java/org/infinispan/persistence/jpa/JpaStore.java
Labels: Backport

#7587 ISPN-8357 Remove support for the deprecated Index.LOCAL
  query/src/main/java/org/infinispan/query/backend/IndexModificationStrategy.java
Labels: Question, Trivial :-)

#7581 ISPN-10843 CLI docs, manpages and counters
  cli/cli-client/src/main/java/org/infinispan/cli/commands/Cas.java
  cli/cli-client/src/main/java/org/infinispan/cli/commands/Cd.java
  cli/cli-client/src/main/java/org/infinispan/cli/commands/Counter.java
  cli/cli-client/src/main/java/org/infinispan/cli/commands/Help.java
  cli/cli-client/src/main/java/org/infinispan/cli/commands/Ls.java
  cli/cli-client/src/main/java/org/infinispan/cli/commands/Remove.java
  cli/cli-client/src/main/java/org/infinispan/cli/commands/Shutdown.java
  cli/cli-client/src/main/java/org/infinispan/cli/commands/Site.java
  cli/cli-client/src/main/java/org/infinispan/cli/commands/Stats.java
  cli/cli-client/src/main/resources/help/add.adoc
  cli/cli-client/src/main/resources/help/cache.adoc
  cli/cli-client/src/main/resources/help/cas.adoc
  cli/cli-client/src/main/resources/help/cd.adoc
  cli/cli-client/src/main/resources/help/clearcache.adoc
  cli/cli-client/src/main/resources/help/connect.adoc
  cli/cli-client/src/main/resources/help/container.adoc
  cli/cli-client/src/main/resources/help/counter.adoc
  cli/cli-client/src/main/resources/help/create.adoc
  cli/cli-client/src/main/resources/help/describe.adoc
  cli/cli-client/src/main/resources/help/disconnect.adoc
  cli/cli-client/src/main/resources/help/drop.adoc
  cli/cli-client/src/main/resources/help/encoding.adoc
  cli/cli-client/src/main/resources/help/get.adoc
  cli/cli-client/src/main/resources/help/help.adoc
  cli/cli-client/src/main/resources/help/ls.adoc
  cli/cli-client/src/main/resources/help/put.adoc
  cli/cli-client/src/main/resources/help/query.adoc
  cli/cli-client/src/main/resources/help/quit.adoc
  cli/cli-client/src/main/resources/help/remove.adoc
  cli/cli-client/src/main/resources/help/reset.adoc
  cli/cli-client/src/main/resources/help/schema.adoc
  cli/cli-client/src/main/resources/help/shutdown.adoc
  cli/cli-client/src/main/resources/help/site.adoc
  cli/cli-client/src/main/resources/help/version.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_command_reference.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_counters.adoc
  documentation/src/main/asciidoc/titles/cli/stories.adoc
  documentation/src/main/asciidoc/topics/json_examples/strong_counter.json
  documentation/src/main/asciidoc/topics/json_examples/weak_counter.json
  documentation/src/main/asciidoc/topics/proc_cli_adding_counter_deltas.adoc
  documentation/src/main/asciidoc/topics/proc_cli_creating_counters.adoc
  documentation/src/main/asciidoc/topics/proc_cli_registering_protobuf_schema.adoc
  documentation/src/main/asciidoc/topics/proc_cli_resetting_dropping_counters.adoc
  documentation/src/main/asciidoc/topics/rest_api_v2.adoc
Labels: Documentation

#7598 fix InfinispanServerRule
  server/runtime/src/test/java/org/infinispan/server/test/InfinispanServerRule.java
Labels: Trivial :-)

#7616 ISPN-10967 CORS rules for localhost don't take offset into account
  server/runtime/src/test/java/org/infinispan/server/configuration/JsonSerializationTest.java
Labels: Test fix
