Repository infinispan/infinispan, pull requests merged in 2019-12, with the labels that each got.

#7621 ISPN-10993 Rest CORS documentation table missing allowed-headers
  documentation/src/main/asciidoc/topics/ref_rest_cors.adoc
Labels: Documentation

#7635 ISPN-11016 cli help ref fixes
  cli/cli-client/src/main/resources/help/quit.adoc
  cli/cli-client/src/main/resources/help/remove.adoc
  cli/cli-client/src/main/resources/help/task.adoc
  cli/cli-client/src/main/resources/help/version.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_command_reference.adoc
Labels: Documentation, Trivial :-)

#7631 ISPN-10966 StateTransferLockImpl should complete with an IllegalLifec…
  core/src/main/java/org/infinispan/statetransfer/StateTransferLockImpl.java
Labels: Test fix

#7625 ISPN-10999 remove out of date jmx prometheus doc
  documentation/src/main/asciidoc/stories/assembly_server_monitoring.adoc
  documentation/src/main/asciidoc/topics/jmx_prometheus.adoc
Labels: Documentation, Trivial :-)

#7624 ISPN-10997 minor fixes for rest doc productization
  documentation/src/main/asciidoc/titles/rest/stories.adoc
  documentation/src/main/asciidoc/topics/ref_rest_caches.adoc
  documentation/src/main/asciidoc/topics/ref_rest_client_http.adoc
  documentation/src/main/asciidoc/topics/ref_rest_client_java.adoc
  documentation/src/main/asciidoc/topics/ref_rest_data_formats.adoc
  documentation/src/main/asciidoc/topics/ref_rest_security.adoc
Labels: Documentation

#7641 ISPN-11028 Add org.infinispan:infinispan-spring5-common to infinispan-bom
  build-configuration/bom/pom.xml
  pom.xml
Labels: Trivial :-)

#7642 [9.4.x] ISPN-11028 Add org.infinispan:infinispan-spring5-common to infinispan-bom
  build-configuration/bom/pom.xml
  pom.xml
Labels: Trivial :-)

#7643 ISPN-11030 ConcurrentModificationException in CorsHandler
  server/rest/src/main/java/org/infinispan/rest/ALPNHandler.java
  server/rest/src/main/java/org/infinispan/rest/configuration/CorsConfiguration.java
Labels: Performance ACK required!, Urgent!

#7622 ISPN-10996 productizing server readme
  documentation/src/main/asciidoc/stories/assembly_server_reference.adoc
  documentation/src/main/asciidoc/titles/server/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  server/runtime/README.adoc
Labels: Documentation, Trivial :-)

#7638 ISPN-10846 server scripting docs
  cli/cli-client/src/main/resources/help/task.adoc
  documentation/src/main/asciidoc/stories/assembly_server_remote_execution.adoc
  documentation/src/main/asciidoc/stories/assembly_server_running_tasks.adoc
  documentation/src/main/asciidoc/stories/assembly_server_scripts.adoc
  documentation/src/main/asciidoc/stories/assembly_server_tasks.adoc
  documentation/src/main/asciidoc/titles/server/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/code_examples/ScriptAdd.java
  documentation/src/main/asciidoc/topics/code_examples/ScriptExecute.java
  documentation/src/main/asciidoc/topics/code_examples/TaskExecute.java
  documentation/src/main/asciidoc/topics/con_script_metadata.doc
  documentation/src/main/asciidoc/topics/con_server_scripting.adoc
  documentation/src/main/asciidoc/topics/proc_adding_server_tasks.adoc
  documentation/src/main/asciidoc/topics/proc_cli_adding_scripts.adoc
  documentation/src/main/asciidoc/topics/proc_cli_running_scripts.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_script_manager_role.adoc
  documentation/src/main/asciidoc/topics/proc_implementing_server_task.adoc
  documentation/src/main/asciidoc/topics/proc_installing_scripts.adoc
  documentation/src/main/asciidoc/topics/proc_running_scripts.adoc
  documentation/src/main/asciidoc/topics/ref_distributed_script_execution.adoc
  documentation/src/main/asciidoc/topics/ref_script_bindings.adoc
  documentation/src/main/asciidoc/topics/ref_script_comments.adoc
  documentation/src/main/asciidoc/topics/ref_script_hotrod_add.adoc
  documentation/src/main/asciidoc/topics/ref_script_hotrod_run.adoc
  documentation/src/main/asciidoc/topics/ref_script_metadata.adoc
  documentation/src/main/asciidoc/topics/ref_script_metadata_properties.adoc
  documentation/src/main/asciidoc/topics/ref_script_parameters.adoc
  documentation/src/main/asciidoc/topics/ref_scripts.adoc
  documentation/src/main/asciidoc/topics/ref_server_task.adoc
  documentation/src/main/asciidoc/topics/ref_task_hotrod_run.adoc
  documentation/src/main/asciidoc/topics/ref_tasks.adoc
Labels: Documentation

#7633 ISPN-10844 endpoint connectors
  documentation/src/main/asciidoc/stories/assembly_server_endpoints.adoc
  documentation/src/main/asciidoc/stories/assembly_server_health.adoc
  documentation/src/main/asciidoc/stories/assembly_server_logging.adoc
  documentation/src/main/asciidoc/stories/assembly_server_monitoring.adoc
  documentation/src/main/asciidoc/titles/server/stories.adoc
  documentation/src/main/asciidoc/topics/con_endpoints.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_hotrod.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_memcached.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_rest.adoc
  documentation/src/main/asciidoc/topics/con_server_module_hr.adoc
  documentation/src/main/asciidoc/topics/con_server_module_memcached.adoc
  documentation/src/main/asciidoc/topics/con_server_module_rest.adoc
  documentation/src/main/asciidoc/topics/config_examples/endpoints_connectors.xml
  documentation/src/main/asciidoc/topics/config_examples/endpoints_hotrod_connector.xml
  documentation/src/main/asciidoc/topics/config_examples/endpoints_memcached_connector.xml
  documentation/src/main/asciidoc/topics/config_examples/endpoints_rest_connector.xml
  documentation/src/main/asciidoc/topics/config_examples/hotrod_connector.xml
  documentation/src/main/asciidoc/topics/config_examples/hotrod_topology_state_transfer.xml
  documentation/src/main/asciidoc/topics/config_examples/ispn_subsystem_endpoint.xml
  documentation/src/main/asciidoc/topics/config_examples/memcached_connector.xml
  documentation/src/main/asciidoc/topics/config_examples/rest_connector.xml
  documentation/src/main/asciidoc/topics/ref_common_connector_settings.adoc
  documentation/src/main/asciidoc/topics/ref_endpoint_subsystem_config.adoc
  documentation/src/main/asciidoc/topics/ref_endpoints_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_endpoints_connectors.adoc
  documentation/src/main/asciidoc/topics/ref_endpoints_hotrod_connector.adoc
  documentation/src/main/asciidoc/topics/ref_endpoints_memcached_connector.adoc
  documentation/src/main/asciidoc/topics/ref_endpoints_rest_connector.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_connector_declaration.adoc
  documentation/src/main/asciidoc/topics/ref_memcached_connector_declaration.adoc
  documentation/src/main/asciidoc/topics/ref_rest_connector_declaration.adoc
  server/runtime/src/main/resources/schema/infinispan-server-10.1.xsd
Labels: Documentation

#7617 ISPN-10989 Simplify InfinispanServerRule construction
  server/runtime/TESTING.md
  server/runtime/src/test/java/org/infinispan/server/cli/CliIT.java
  server/runtime/src/test/java/org/infinispan/server/extensions/ExtensionsIT.java
  server/runtime/src/test/java/org/infinispan/server/functional/ClusteredIT.java
  server/runtime/src/test/java/org/infinispan/server/functional/ConcurrentShutdownRestIT.java
  server/runtime/src/test/java/org/infinispan/server/functional/ShutdownRestIT.java
  server/runtime/src/test/java/org/infinispan/server/persistence/PersistenceIT.java
  server/runtime/src/test/java/org/infinispan/server/resilience/GracefulShutdownRestartIT.java
  server/runtime/src/test/java/org/infinispan/server/resilience/ResilienceIT.java
  server/runtime/src/test/java/org/infinispan/server/security/AuthenticationCertIT.java
  server/runtime/src/test/java/org/infinispan/server/security/AuthenticationKerberosIT.java
  server/runtime/src/test/java/org/infinispan/server/security/AuthenticationKerberosSpnegoIT.java
  server/runtime/src/test/java/org/infinispan/server/security/AuthenticationKeyCloakIT.java
  server/runtime/src/test/java/org/infinispan/server/security/AuthenticationLDAPIT.java
  server/runtime/src/test/java/org/infinispan/server/security/AuthenticationTLSIT.java
  server/runtime/src/test/java/org/infinispan/server/security/AuthorizationKerberosIT.java
  server/runtime/src/test/java/org/infinispan/server/security/AuthorizationLDAPIT.java
  server/runtime/src/test/java/org/infinispan/server/security/authentication/AuthenticationIT.java
  server/runtime/src/test/java/org/infinispan/server/test/ContainerInfinispanServerDriver.java
  server/runtime/src/test/java/org/infinispan/server/test/EmbeddedInfinispanServerDriver.java
  server/runtime/src/test/java/org/infinispan/server/test/InfinispanServerDriver.java
  server/runtime/src/test/java/org/infinispan/server/test/InfinispanServerRule.java
  server/runtime/src/test/java/org/infinispan/server/test/InfinispanServerRuleBuilder.java
  server/runtime/src/test/java/org/infinispan/server/test/InfinispanServerRuleConfigurationBuilder.java
  server/runtime/src/test/java/org/infinispan/server/test/LazyInfinispanServerDriver.java
  server/runtime/src/test/java/org/infinispan/server/test/LdapServerRule.java
Labels: Question

#7626 [9.4.x] Backport for ISPN-10999 removing reference to Jolokia from product docs
  documentation/src/main/asciidoc/server_guide/management.adoc
Labels: Documentation, Trivial :-)

#7646 ISPN-11035 XSiteResourceTest.testPushAllCaches random failures
  client/rest-client/src/main/java/org/infinispan/client/rest/RestResponse.java
  server/rest/src/main/java/org/infinispan/rest/resources/XSiteResource.java
  server/rest/src/test/java/org/infinispan/rest/helper/RestResponses.java
  server/rest/src/test/java/org/infinispan/rest/resources/XSiteResourceTest.java
Labels: Test fix

#7610 ISPN-10975 Transactional cache will slow down the expiration reaper
  core/src/main/java/org/infinispan/expiration/impl/ClusterExpirationManager.java
Labels: Backport

#7677 ISPN-11077 TransactionsSpanningReplicatedCachesTest.testReadOnlyTransaction random failures
  core/src/test/java/org/infinispan/tx/TransactionsSpanningReplicatedCachesTest.java
Labels: Test fix

#7668 ISPN-10836 moving kyro and protostuff marshalling docs
  documentation/src/main/asciidoc/stories/assembly_server_marshalling.adoc
  documentation/src/main/asciidoc/titles/server/stories.adoc
  documentation/src/main/asciidoc/topics/marshalling.adoc
  documentation/src/main/asciidoc/topics/proc_adding_kyro_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_adding_protostuff_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_registering_custom_serializers.adoc
  documentation/src/main/asciidoc/topics/proc_storing_deserialized_objects.adoc
Labels: Documentation

#7657 [9.4.x] ISPN-10984 Scattered cache distributed streams stack overflow
  core/src/main/java/org/infinispan/scattered/ScatteredVersionManager.java
  core/src/main/java/org/infinispan/scattered/impl/ScatteredVersionManagerImpl.java
  core/src/test/java/org/infinispan/scattered/stream/ScatteredStreamIteratorTest.java
  core/src/test/java/org/infinispan/stream/BaseSetupStreamIteratorTest.java
  core/src/test/java/org/infinispan/stream/DistributedStreamIteratorTest.java
  core/src/test/java/org/infinispan/test/Mocks.java
Labels: Backport

#7687 ISPN-11090 fixing mvn build errors with doc html
  documentation/src/main/asciidoc/stories/assembly_memcached.adoc
  documentation/src/main/asciidoc/stories/assembly_server_endpoints.adoc
  documentation/src/main/asciidoc/titles/server/stories.adoc
  documentation/src/main/asciidoc/topics/contributing/basics.adoc
  documentation/src/main/asciidoc/topics/server_protocols_hotrod.adoc
  documentation/src/main/asciidoc/topics/transactions.adoc
  documentation/src/main/asciidoc/topics/upgrading.adoc
Labels: Documentation, Trivial :-)

#7697 Release Console 0.1.Beta2
  build-configuration/pom.xml
Labels: Trivial :-)

#7690 ISPN-10596 persistence doc productization
  core/src/main/resources/schema/infinispan-config-10.1.xsd
  documentation/src/main/asciidoc/stories/assembly_cache_store_implementations.adoc
  documentation/src/main/asciidoc/stories/assembly_cache_stores.adoc
  documentation/src/main/asciidoc/stories/assembly_migrating_cache_stores.adoc
  documentation/src/main/asciidoc/stories/assembly_persistence.adoc
  documentation/src/main/asciidoc/stories/assembly_persistence_spi.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/code_examples/CacheJpaStore.java
  documentation/src/main/asciidoc/topics/code_examples/SingleFileStore.java
  documentation/src/main/asciidoc/topics/con_cache_loaders_transactional.adoc
  documentation/src/main/asciidoc/topics/con_filesystem_cache_stores.adoc
  documentation/src/main/asciidoc/topics/con_passivation.adoc
  documentation/src/main/asciidoc/topics/con_segmented_cache_stores.adoc
  documentation/src/main/asciidoc/topics/con_write_behind.adoc
  documentation/src/main/asciidoc/topics/con_write_through.adoc
  documentation/src/main/asciidoc/topics/config_examples/custom_cache_store.xml
  documentation/src/main/asciidoc/topics/config_examples/example_agroal.properties
  documentation/src/main/asciidoc/topics/config_examples/file_store.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_example_ds_jndi.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_example_jdbc.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_write_through_async.xml
  documentation/src/main/asciidoc/topics/images/Figure2_1_persistence_API.png
  documentation/src/main/asciidoc/topics/persistence.adoc
  documentation/src/main/asciidoc/topics/persistence_cli.adoc
  documentation/src/main/asciidoc/topics/persistence_cluster.adoc
  documentation/src/main/asciidoc/topics/persistence_custom.adoc
  documentation/src/main/asciidoc/topics/persistence_jdbc.adoc
  documentation/src/main/asciidoc/topics/persistence_jpa.adoc
  documentation/src/main/asciidoc/topics/persistence_remote.adoc
  documentation/src/main/asciidoc/topics/persistence_rocksdb.adoc
  documentation/src/main/asciidoc/topics/persistence_sfs.adoc
  documentation/src/main/asciidoc/topics/persistence_sifs.adoc
  documentation/src/main/asciidoc/topics/persistence_spi.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_cache_stores.adoc
  documentation/src/main/asciidoc/topics/proc_creating_custom_cache_stores.adoc
  documentation/src/main/asciidoc/topics/proc_deploying_custom_cache_stores.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_cluster.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_custom.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_custom_config.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jdbc.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jdbc_configuration.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jdbc_connection.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jpa.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jpa_example.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_remote.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_rocksdb.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_sfs.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_sifs.adoc
  documentation/src/main/asciidoc/topics/ref_passivation_behavior.adoc
  documentation/src/main/asciidoc/topics/ref_persistence_spi.adoc
Labels: Documentation

#7682 [9.4.x] ISPN-10994 exposing jmx beans to prometheus
  documentation/src/main/asciidoc/server_guide/management.adoc
Labels: Documentation

#7660 [9.4.x] ISPN-10784 xsite updates for 9.4.x concurrent writes
  documentation/src/main/asciidoc/user_guide/cross_site_replication.adoc
  documentation/src/main/asciidoc/user_guide/user_guide.asciidoc
Labels: Documentation

#7676 ISPN-11076 ParticipantFailsAfterPrepareTest.testNonOriginatorFailsAft…
  core/src/test/java/org/infinispan/test/AbstractCacheTest.java
  core/src/test/java/org/infinispan/test/MultipleCacheManagersTest.java
  core/src/test/java/org/infinispan/tx/ParticipantFailsAfterPrepareTest.java
Labels: Test fix

#7699 Infinispan Console 0.1.Final
  build-configuration/pom.xml
Labels: Trivial :-)
