Repository infinispan/infinispan, pull requests merged in 2020-12, with the labels that each got.

#8873 ISPN-12437 xsite max idle
  documentation/src/main/asciidoc/topics/con_xsite_expiration.adoc
Labels: Documentation

#8897 ISPN-12541 Remove ControlledRpcManager allRequests
  core/src/test/java/org/infinispan/api/NonDuplicateModificationTest.java
  core/src/test/java/org/infinispan/util/ControlledRpcManager.java
Labels: Trivial :-)

#8882 ISPN-12500 Custom server paths
  build-configuration/pom.xml
  documentation/src/main/asciidoc/stories/assembly_server_reference.adoc
  documentation/src/main/asciidoc/titles/server/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/con_server_directory_structure.adoc
  documentation/src/main/asciidoc/topics/proc_downloading_server.adoc
  pom.xml
  server/runtime/README.adoc
  server/runtime/pom.xml
  server/runtime/src/main/java/org/infinispan/server/Bootstrap.java
  server/runtime/src/main/java/org/infinispan/server/loader/Loader.java
  server/runtime/src/main/server/README.adoc
  server/runtime/src/main/server/README.md
  server/runtime/src/main/server/docs/systemd/infinispan.service
  server/runtime/src/test/java/org/infinispan/server/loader/LoaderTest.java
  server/runtime/src/test/java/org/infinispan/server/loader/ThreeClass.java
  server/runtime/src/test/java/org/infinispan/server/loader/TwoClass.java
  server/runtime/src/test/resources/server/lib1/test.properties
Labels: Documentation

#8910 ISPN-12553 Upgrade to console 0.7.2.Final
  build-configuration/pom.xml
Labels: Trivial :-), Urgent!

#8907 ISPN-12528 CLI backup create doesn't reflect directory provided
  cli/src/main/java/org/infinispan/cli/connection/rest/RestConnection.java
  server/tests/src/test/java/org/infinispan/server/functional/CliBackupManagerIT.java
Labels: Trivial :-)

#8915 ISPN-12558 StackOverflowError during REST connection shutdown
  server/rest/src/main/java/org/infinispan/rest/RestRequestHandler.java
  server/rest/src/test/java/org/infinispan/rest/resources/AbstractRestResourceTest.java
  server/rest/src/test/java/org/infinispan/rest/resources/CacheV2ResourceTest.java
  server/rest/src/test/java/org/infinispan/rest/resources/StaticResourceTest.java
Labels: Test fix

#8913 [11.x] ISPN-12551 Override existing parameters for Keycloak test integration
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/TestSystemPropertyNames.java
  server/tests/src/test/java/org/infinispan/server/security/AuthenticationKeyCloakIT.java
  server/tests/src/test/java/org/infinispan/server/test/core/KeyCloakServerRule.java
  server/tests/src/test/resources/keycloak/infinispan-rhsso-realm.json
Labels: Backport

#8927 ISPN-12567 remove scattered cache conditionals
  documentation/src/main/asciidoc/stories/assembly_cache_clustered.adoc
  documentation/src/main/asciidoc/topics/con_expiration_maxidle.adoc
  documentation/src/main/asciidoc/topics/ref_cache_modes.adoc
  documentation/src/main/asciidoc/topics/ref_cache_modes_comparison.adoc
Labels: Documentation, Trivial :-)

#8928 [11.0.x] ISPN-12567 remove scattered cache conditionals
  documentation/src/main/asciidoc/stories/assembly_cache_clustered.adoc
  documentation/src/main/asciidoc/topics/con_expiration_maxidle.adoc
  documentation/src/main/asciidoc/topics/ref_cache_modes.adoc
  documentation/src/main/asciidoc/topics/ref_cache_modes_comparison.adoc
Labels: Backport, Documentation, Trivial :-)

#8929 ISPN-12568 CLI alias command help
  cli/src/main/resources/help/alias.adoc
  cli/src/main/resources/help/config.adoc
  cli/src/main/resources/help/unalias.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_command_reference.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_config.adoc
  documentation/src/main/asciidoc/topics/proc_cli_creating_command_aliases.adoc
  documentation/src/main/asciidoc/topics/ref_cache_modes_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_cli_storage_directory.adoc
Labels: Documentation

#8932 [11.0.x] ISPN-12568 CLI alias command help
  cli/cli-client/src/main/resources/help/config.adoc
  cli/src/main/resources/help/alias.adoc
  cli/src/main/resources/help/unalias.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_command_reference.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_config.adoc
  documentation/src/main/asciidoc/topics/proc_cli_creating_command_aliases.adoc
  documentation/src/main/asciidoc/topics/ref_cache_modes_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_cli_storage_directory.adoc
Labels: Backport, Documentation

#8922 ISPN-12561 CacheV2ResourceTest does not close RestClient responses
  server/rest/src/test/java/org/infinispan/rest/assertion/JsonAssertion.java
  server/rest/src/test/java/org/infinispan/rest/assertion/ResponseAssertion.java
  server/rest/src/test/java/org/infinispan/rest/resources/CacheV2ResourceTest.java
Labels: Question

#8943 ISPN-12583 InfinispanServerRule cannot be reused
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/TestServer.java
  server/testdriver/junit4/src/main/java/org/infinispan/server/test/junit4/InfinispanServerRule.java
Labels: Trivial :-)

#8947 ISPN-12590 Upgrade console to 0.12.Final
  build-configuration/pom.xml
Labels: Trivial :-)
