Repository infinispan/infinispan, pull requests merged in 2020-08, with the labels that each got.

#8608 ISPN-12197 HotRodNonOwnerStatisticsTest failures
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/HotRodNonOwnerStatisticsTest.java
Labels: Test fix, Trivial :-)

#8609 [11.x] ISPN-12194 Transport::getSitesView() should be ordered
  core/src/main/java/org/infinispan/remoting/transport/jgroups/JGroupsTransport.java
Labels: Backport

#8558 [11.0.x] ISPN-12097 Invalidation Cache with a shared store doesn't work proper…
  core/src/main/java/org/infinispan/persistence/manager/PersistenceManagerImpl.java
  core/src/test/java/org/infinispan/invalidation/WriteStoreInvalidationTest.java
Labels: Backport

#8554 ISPN-12108 configuring mediatypes client interop
  documentation/src/main/asciidoc/stories/assembly_configuring_data_container.adoc
  documentation/src/main/asciidoc/stories/assembly_configuring_data_encoding.adoc
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/stories/assembly_eviction_expiration.adoc
  documentation/src/main/asciidoc/stories/assembly_marshalling.adoc
  documentation/src/main/asciidoc/titles/configuring/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/code_examples/CacheEncoding.java
  documentation/src/main/asciidoc/topics/code_examples/MaxCountMemory.java
  documentation/src/main/asciidoc/topics/code_examples/MaxCountOffHeap.java
  documentation/src/main/asciidoc/topics/code_examples/MaxSizeMemory.java
  documentation/src/main/asciidoc/topics/con_client_interoperability.adoc
  documentation/src/main/asciidoc/topics/con_evict_vs_expire.adoc
  documentation/src/main/asciidoc/topics/config_examples/cache_encoding.xml
  documentation/src/main/asciidoc/topics/config_examples/encoding_media_type.xml
  documentation/src/main/asciidoc/topics/config_examples/encoding_memcached.xml
  documentation/src/main/asciidoc/topics/config_examples/encoding_memcached_clients.xml
  documentation/src/main/asciidoc/topics/config_examples/encoding_protostream.xml
  documentation/src/main/asciidoc/topics/config_examples/max_count_memory.xml
  documentation/src/main/asciidoc/topics/config_examples/max_memory.xml
  documentation/src/main/asciidoc/topics/config_examples/max_size_offheap.xml
  documentation/src/main/asciidoc/topics/config_examples/memory_binary.xml
  documentation/src/main/asciidoc/topics/encoding.adoc
  documentation/src/main/asciidoc/topics/endpoint_interop.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_cache_encoding.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_encoding_memcached.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_memory_offheap.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_memory_size.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_memory_size_bytes.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_protobuf_encoding.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_textbased_encoding.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_store_binary.adoc
  documentation/src/main/asciidoc/topics/proc_server_using_datasources.adoc
  documentation/src/main/asciidoc/topics/proc_storing_custom_java_objects.adoc
  documentation/src/main/asciidoc/topics/proc_storing_deserialized_objects.adoc
  documentation/src/main/asciidoc/topics/proc_storing_pojos.adoc
  documentation/src/main/asciidoc/topics/ref_data_encoding.adoc
  documentation/src/main/asciidoc/topics/ref_data_transcoding.adoc
Labels: Documentation

#8621 [11.0.x] ISPN-12108 configuring mediatypes client interop
  documentation/src/main/asciidoc/stories/assembly_configuring_data_container.adoc
  documentation/src/main/asciidoc/stories/assembly_configuring_data_encoding.adoc
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/stories/assembly_eviction_expiration.adoc
  documentation/src/main/asciidoc/stories/assembly_marshalling.adoc
  documentation/src/main/asciidoc/titles/configuring/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/code_examples/CacheEncoding.java
  documentation/src/main/asciidoc/topics/code_examples/MaxCountMemory.java
  documentation/src/main/asciidoc/topics/code_examples/MaxCountOffHeap.java
  documentation/src/main/asciidoc/topics/code_examples/MaxSizeMemory.java
  documentation/src/main/asciidoc/topics/con_client_interoperability.adoc
  documentation/src/main/asciidoc/topics/con_evict_vs_expire.adoc
  documentation/src/main/asciidoc/topics/config_examples/cache_encoding.xml
  documentation/src/main/asciidoc/topics/config_examples/encoding_media_type.xml
  documentation/src/main/asciidoc/topics/config_examples/encoding_memcached.xml
  documentation/src/main/asciidoc/topics/config_examples/encoding_memcached_clients.xml
  documentation/src/main/asciidoc/topics/config_examples/encoding_protostream.xml
  documentation/src/main/asciidoc/topics/config_examples/max_count_memory.xml
  documentation/src/main/asciidoc/topics/config_examples/max_memory.xml
  documentation/src/main/asciidoc/topics/config_examples/max_size_offheap.xml
  documentation/src/main/asciidoc/topics/config_examples/memory_binary.xml
  documentation/src/main/asciidoc/topics/encoding.adoc
  documentation/src/main/asciidoc/topics/endpoint_interop.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_cache_encoding.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_encoding_memcached.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_memory_offheap.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_memory_size.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_memory_size_bytes.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_protobuf_encoding.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_textbased_encoding.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_store_binary.adoc
  documentation/src/main/asciidoc/topics/proc_server_using_datasources.adoc
  documentation/src/main/asciidoc/topics/proc_storing_custom_java_objects.adoc
  documentation/src/main/asciidoc/topics/proc_storing_deserialized_objects.adoc
  documentation/src/main/asciidoc/topics/proc_storing_pojos.adoc
  documentation/src/main/asciidoc/topics/ref_data_encoding.adoc
  documentation/src/main/asciidoc/topics/ref_data_transcoding.adoc
Labels: Backport, Documentation

#8623 ISPN-12175 update index links
  documentation/src/main/asciidoc/index.asciidoc
Labels: Documentation, Trivial :-)

#8626 ISPN-12233 Server requires Java 11
  documentation/src/main/asciidoc/topics/proc_download_hotrod_java_client.adoc
  documentation/src/main/asciidoc/topics/ref_server_requirements.adoc
Labels: Documentation, Trivial :-)

#8625 ISPN-10092 link doc readme
  documentation/src/main/asciidoc/topics/contributing/docs.adoc
Labels: Documentation, Trivial :-)

#8617 ISPN-12173 update eviction description
  documentation/src/main/asciidoc/topics/con_eviction.adoc
Labels: Documentation, Trivial :-)

#8632 [11.0.x] ISPN-12233 Server requires Java 11
  documentation/src/main/asciidoc/topics/proc_download_hotrod_java_client.adoc
  documentation/src/main/asciidoc/topics/ref_server_requirements.adoc
Labels: Backport, Documentation

#8634 ISPN-12240 CLI command reference
  cli/cli-client/src/main/resources/help/stats.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_command_reference.adoc
Labels: Documentation, Trivial :-)

#8635 [11.x] ISPN-12240 CLI command reference
  cli/cli-client/src/main/resources/help/stats.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_command_reference.adoc
Labels: Backport, Documentation

#8627 ISPN-11868: add hint about no default cache for spring session
  documentation/src/main/asciidoc/topics/proc_enabling_spring_session.adoc
Labels: Documentation, Question, Trivial :-)

#8640 [11.x] ISPN-12246 shared vs non-shared cache store
  documentation/src/main/asciidoc/topics/code_examples/SingleFileStore.java
  documentation/src/main/asciidoc/topics/config_examples/file_store.xml
  documentation/src/main/asciidoc/topics/proc_configuring_cache_stores.adoc
Labels: Backport, Documentation

#8618 ISPN-12217 Adding detail about ports and protocols
  documentation/src/main/asciidoc/stories/assembly_configuring_clustering.adoc
  documentation/src/main/asciidoc/stories/assembly_ports_protocols.adoc
  documentation/src/main/asciidoc/stories/assembly_server_endpoints.adoc
  documentation/src/main/asciidoc/titles/configuring/stories.adoc
  documentation/src/main/asciidoc/titles/security/stories.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_firewall.adoc
  documentation/src/main/asciidoc/topics/ref_jgroups_ports.adoc
  documentation/src/main/asciidoc/topics/ref_server_ports.adoc
Labels: Documentation

#8423 ISPN-11950 Create a new module called server-integration module into integrationtests module
  integrationtests/server-integration/pom.xml
  integrationtests/server-integration/src/test/resources/infinispan-custom.xml
  integrationtests/server-integration/wildfly-modules/pom.xml
  integrationtests/server-integration/wildfly-modules/server-provisioning.xml
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/InfinispanCoreIT.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/InfinispanStoreJdbcIT.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/InfinispanStoreJpaIT.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/InfinispanStoreRocksDBIT.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/KeyValueEntity.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/WidlflyIntegrationSCI.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/cdi/Config.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/cdi/DuplicatedDomainsCdiIT.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/cdi/GreetingCache.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/cdi/GreetingCacheManager.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/cdi/GreetingCacheManagerIT.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/cdi/GreetingService.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/cdi/GreetingServiceIT.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/client/BaseHotRodQueryIT.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/client/HotRodClientIT.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/client/HotRodQueryIT.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/client/Person.java
  integrationtests/server-integration/wildfly-modules/src/test/java/org/infinispan/test/integration/as/remote/InfinispanRemoteWithQueryIT.java
  integrationtests/server-integration/wildfly-modules/src/test/resources/META-INF/persistence.xml
  integrationtests/server-integration/wildfly-modules/src/test/resources/arquillian.xml
  integrationtests/server-integration/wildfly-modules/src/test/resources/as-config/standalone/configuration/application-roles.properties
  integrationtests/server-integration/wildfly-modules/src/test/resources/as-config/standalone/configuration/application-users.properties
  integrationtests/server-integration/wildfly-modules/src/test/resources/as-config/standalone/configuration/standalone-test.xml
  integrationtests/server-integration/wildfly-modules/src/test/resources/beans.xml
  integrationtests/server-integration/wildfly-modules/src/test/resources/infinispan-custom.xml
  integrationtests/server-integration/wildfly-modules/src/test/resources/jdbc-config.xml
  integrationtests/server-integration/wildfly-modules/src/test/resources/jpa-config.xml
  integrationtests/server-integration/wildfly-modules/src/test/resources/log4j.properties
  pom.xml
Labels: Changes Required

#8646 update anchor to fix doc build
  documentation/src/main/asciidoc/stories/assembly_configuring_clustering.adoc
  documentation/src/main/asciidoc/stories/assembly_ports_protocols.adoc
Labels: Documentation, Trivial :-)

#8647 [11.x] update anchor to fix doc build
  documentation/src/main/asciidoc/stories/assembly_configuring_clustering.adoc
  documentation/src/main/asciidoc/stories/assembly_ports_protocols.adoc
Labels: Documentation, Trivial :-)

#8651 ISPN-12255 spring-boot-starter tests do not run
  integrationtests/spring-boot-it/pom.xml
  object-filter/pom.xml
  pom.xml
  spring/spring-boot/embedded/pom.xml
  spring/spring-boot/embedded/src/test/resources/logback.xml
  spring/spring-boot/pom.xml
  spring/spring-boot/remote/pom.xml
  spring/spring-boot/remote/src/test/resources/logback.xml
  spring/spring-boot/tests/pom.xml
  spring/spring-boot/tests/src/test/resources/logback.xml
Labels: Test fix

#8653 ISPN-12256 InfinispanServerExtensionContainerTest fails to start
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/AbstractInfinispanServerDriver.java
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/AbstractServerConfigBuilder.java
  server/testdriver/junit4/src/main/java/org/infinispan/server/test/junit4/InfinispanServerRuleBuilder.java
  server/testdriver/junit5/pom.xml
  server/testdriver/junit5/src/main/java/org/infinispan/server/test/junit5/InfinispanServerExtensionBuilder.java
  server/testdriver/junit5/src/test/java/org/infinispan/server/test/junit5/InfinispanServerExtensionContainerTest.java
  server/testdriver/junit5/src/test/resources/infinispan.xml
  server/testdriver/pom.xml
Labels: Test fix
