Repository infinispan/infinispan, pull requests merged in 2020-06, with the labels that each got.

#8403 ISPN-11929 Add query boolean property
  server/rest/src/main/java/org/infinispan/rest/resources/CacheResourceV2.java
  server/rest/src/test/java/org/infinispan/rest/resources/CacheV2ResourceTest.java
Labels: Trivial :-)

#8319 [10.1.x] ISPN-11825 update procedure to register schemas with CLI
  documentation/src/main/asciidoc/topics/proc_cli_registering_protobuf_schema.adoc
  documentation/src/main/asciidoc/topics/query.adoc
Labels: Documentation

#8425 ISPN-11909 Better error reporting when querying a cache with non-quer…
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/query/RemoteQueryNonQueryableCacheTest.java
Labels: Test fix, Trivial :-)

#8417 ISPN-10373 Rework put map and simplify batch
  commons/all/src/main/java/org/infinispan/commons/util/ByRef.java
  core/src/main/java/org/infinispan/eviction/impl/PassivationManagerImpl.java
  core/src/main/java/org/infinispan/interceptors/impl/CacheWriterInterceptor.java
  core/src/main/java/org/infinispan/interceptors/impl/DistCacheWriterInterceptor.java
  core/src/main/java/org/infinispan/persistence/manager/PersistenceManager.java
  core/src/main/java/org/infinispan/persistence/manager/PersistenceManagerImpl.java
  core/src/main/java/org/infinispan/persistence/manager/PersistenceManagerStub.java
  core/src/main/java/org/infinispan/persistence/support/DelegatingPersistenceManager.java
  core/src/test/java/org/infinispan/distribution/BaseDistStoreTest.java
  core/src/test/java/org/infinispan/distribution/DistSyncStoreSharedTest.java
  core/src/test/java/org/infinispan/persistence/BaseStoreFunctionalTest.java
  core/src/test/java/org/infinispan/scattered/store/ScatteredSyncStoreSharedTest.java
Labels: Changes Required

#8398 ISPN-11920 docs for wildfly modules
  documentation/src/main/asciidoc/stories/assembly_integrating.adoc
  documentation/src/main/asciidoc/stories/assembly_wildfly_modules.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/integrations_wildfly.adoc
  documentation/src/main/asciidoc/topics/proc_adding_dependencies_wildfly_modules.adoc
  documentation/src/main/asciidoc/topics/proc_installing_wildfly_modules.adoc
Labels: Documentation

#8431 ISPN-11961 DefaultIracManager should handle ImmutableSet
  core/src/main/java/org/infinispan/xsite/irac/DefaultIracManager.java
  server/tests/src/test/java/org/infinispan/server/functional/XSiteIT.java
  server/tests/src/test/java/org/infinispan/server/functional/XSiteRestCacheOperations.java
Labels: Trivial :-)

#8421 ISPN-11945 JGroups Kubernetes stack should set 'port_range="0"'
  core/src/main/resources/default-configs/default-jgroups-kubernetes.xml
Labels: Trivial :-)

#8422 ISPN-11946 Deprecate JBossUserMarshaller and associated classes
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/commons/AbstractJBossMarshaller.java
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/commons/CheckedClassResolver.java
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/commons/DefaultContextClassResolver.java
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/commons/ExtendedRiverMarshaller.java
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/commons/ExtendedRiverUnmarshaller.java
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/commons/JBossExternalizerAdapter.java
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/commons/JBossMarshallerFactory.java
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/commons/RiverCloseListener.java
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/commons/SerializeWithExtFactory.java
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/core/JBossMarshaller.java
  jboss-marshalling/src/main/java/org/infinispan/jboss/marshalling/core/JBossUserMarshaller.java
Labels: Trivial :-)

#8434 Don't use Jackson 1.x in test
  checkstyle/src/main/resources/checkstyle.xml
  server/tests/src/test/java/org/infinispan/server/functional/RollingUpgradeIT.java
Labels: Trivial :-)

#8437 Fix random failures on REST testQueryStats()
  server/rest/src/test/java/org/infinispan/rest/search/BaseRestSearchTest.java
Labels: Test fix, Trivial :-)

#8281 ISPN-11572 security guide and auth
  documentation/src/main/asciidoc/stories/assembly_securing_jgroups.adoc
  documentation/src/main/asciidoc/stories/assembly_security.adoc
  documentation/src/main/asciidoc/stories/assembly_security_authorization.adoc
  documentation/src/main/asciidoc/stories/assembly_server_authorization.adoc
  documentation/src/main/asciidoc/stories/assembly_server_endpoint_authentication.adoc
  documentation/src/main/asciidoc/stories/assembly_server_security.adoc
  documentation/src/main/asciidoc/titles/security/stories.adoc
  documentation/src/main/asciidoc/topics/con_cache_authorization.adoc
  documentation/src/main/asciidoc/topics/con_roles_permissions_mapping.adoc
  documentation/src/main/asciidoc/topics/con_security.adoc
  documentation/src/main/asciidoc/topics/config_examples/cache_authorization.xml
  documentation/src/main/asciidoc/topics/config_examples/cache_authorization_explicit_roles.xml
  documentation/src/main/asciidoc/topics/config_examples/jgroups_sasl_auth.xml
  documentation/src/main/asciidoc/topics/images/SecurityRolesPermissions.png
  documentation/src/main/asciidoc/topics/images/SecurityRolesPermissions.svg
  documentation/src/main/asciidoc/topics/proc_configuring_authz_declarative.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_authz_programmatic.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_jgroups_auth.adoc
  documentation/src/main/asciidoc/topics/proc_disabling_server_authentication.adoc
  documentation/src/main/asciidoc/topics/ref_cache_authorization.adoc
  documentation/src/main/asciidoc/topics/ref_executing_secure_caches.adoc
  documentation/src/main/asciidoc/topics/ref_permissions.adoc
  documentation/src/main/asciidoc/topics/ref_role_mappers.adoc
  documentation/src/main/asciidoc/topics/security.adoc
Labels: Documentation

#8404 ISPN-11925 updating docs for non-blocking
  documentation/src/main/asciidoc/stories/assembly_cache_store_implementations.adoc
  documentation/src/main/asciidoc/stories/assembly_cache_stores.adoc
  documentation/src/main/asciidoc/stories/assembly_configuration.adoc
  documentation/src/main/asciidoc/stories/assembly_creating_custom_cache_stores.adoc
  documentation/src/main/asciidoc/topics/cache_manager.adoc
  documentation/src/main/asciidoc/topics/code_examples/ConfigCacheStores.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigExpiration.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigTransactionsLocking.java
  documentation/src/main/asciidoc/topics/code_examples/NewDefaultCacheManager.java
  documentation/src/main/asciidoc/topics/code_examples/SingleFileStore.java
  documentation/src/main/asciidoc/topics/con_async_api.adoc
  documentation/src/main/asciidoc/topics/con_passivation.adoc
  documentation/src/main/asciidoc/topics/con_persistence_spi.adoc
  documentation/src/main/asciidoc/topics/con_write_behind.adoc
  documentation/src/main/asciidoc/topics/con_write_through.adoc
  documentation/src/main/asciidoc/topics/config_examples/custom_cache_store.xml
  documentation/src/main/asciidoc/topics/config_examples/file_store.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_custom_store_example_notsegmented.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_write_through_async.xml
  documentation/src/main/asciidoc/topics/performance.adoc
  documentation/src/main/asciidoc/topics/proc_creating_custom_cache_stores.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_custom.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_custom_config.adoc
  documentation/src/main/asciidoc/topics/ref_config_programmatic.adoc
  documentation/src/main/asciidoc/topics/ref_config_programmatic_objects.adoc
  documentation/src/main/asciidoc/topics/ref_persistence_spi.adoc
Labels: Documentation, Preview, Suggestions please?

#8442 Remove unused internal class BulkGetOperation
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/operations/BulkGetOperation.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/operations/OperationsFactory.java
Labels: Trivial :-)

#8443 ISPN-11959 Add custom NonBlockingStore server test
  server/tests/src/test/java/org/infinispan/server/persistence/CustomStoreOperationsIT.java
Labels: Test fix, Trivial :-)

#8439 11.0 Codename: Corona Extra
  build-configuration/pom.xml
Labels: Freeze exception, Performance ACK required!, Test fix, Trivial :-), Urgent!

#8448 ISPN-11982 Remove Unused TxBatchUpdater class
  core/src/main/java/org/infinispan/interceptors/impl/TxBatchUpdater.java
Labels: Trivial :-)

#8455 ISPN-11987 Authorization header blocked by CORS
  server/rest/src/main/java/org/infinispan/rest/RequestHeader.java
Labels: Freeze exception, Trivial :-)

#8452 [10.1.x] ISPN-11846 Server runtime tests cannot run from IDE after antlr-runti…
  integrationtests/security-manager-it/pom.xml
  server/runtime/pom.xml
Labels: Backport, Trivial :-)

#8454 ISPN-11893 Fix PrepareTimeoutTest
  core/src/test/java/org/infinispan/statetransfer/PrepareTimeoutTest.java
Labels: Test fix, Trivial :-)

#8459 Jenkinsfile Build PRs with 'Documentation' label using distribution p…
  Jenkinsfile
Labels: Documentation

#8460 ISPN-11988 fix invalid include directive
  documentation/src/main/asciidoc/stories/assembly_persistence.adoc
Labels: Documentation, Trivial :-)

#8464 ISPN-11990 JDK 11 modules do not compile in IntelliJ
  commons/jdk11/pom.xml
Labels: Trivial :-)

#8466 ISPN-11911 remote store segmentation note
  documentation/src/main/asciidoc/topics/ref_cache_store_remote.adoc
  documentation/src/main/asciidoc/topics/ref_rolling_upgrade_remote_store.adoc
Labels: Documentation

#8367 ISPN-11869 updating docs for memory configuration
  core/src/main/resources/schema/infinispan-config-11.0.xsd
  documentation/src/main/asciidoc/stories/assembly_eviction_expiration.adoc
  documentation/src/main/asciidoc/topics/con_evict_vs_expire.adoc
  documentation/src/main/asciidoc/topics/con_eviction.adoc
  documentation/src/main/asciidoc/topics/con_eviction_overview.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_memory_offheap.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_memory_size.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_memory_size_bytes.adoc
  documentation/src/main/asciidoc/topics/ref_eviction_examples.adoc
Labels: Documentation

#8469 Fix ClusteredDistCacheTest
  query/src/test/java/org/infinispan/query/blackbox/ClusteredDistCacheTest.java
Labels: Test fix, Trivial :-)

#8468 upgrade console 0.7.Final
  build-configuration/pom.xml
Labels: Freeze exception, Trivial :-)

#8472 Add missing upgrading info
  documentation/src/main/asciidoc/topics/upgrading.adoc
Labels: Documentation

#8401 ISPN-11913 search and improved index
  documentation/src/main/asciidoc/index.asciidoc
  documentation/src/main/asciidoc/js/js.js
Labels: Documentation

#8485 ISPN-12018 Fix JpaStoreCompatibilityTest failure
  core/src/test/java/org/infinispan/persistence/PersistenceCompatibilityTest.java
  persistence/jpa/src/test/resources/META-INF/persistence.xml
Labels: Test fix, Trivial :-)

#8490 ISPN-11151 - Migrating some remote tests from jdg-functional-tests to upstream
  pom.xml
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/persistence/ContainerDatabase.java
  server/testdriver/junit4/src/main/java/org/infinispan/server/test/junit4/InfinispanServerRule.java
  server/tests/pom.xml
  server/tests/src/test/java/org/infinispan/server/functional/MemcachedOperations.java
  server/tests/src/test/java/org/infinispan/server/functional/RestOperations.java
  server/tests/src/test/java/org/infinispan/server/persistence/AsyncJdbcStringBasedCacheStore.java
  server/tests/src/test/java/org/infinispan/server/persistence/JdbcConfigurationUtil.java
  server/tests/src/test/java/org/infinispan/server/persistence/JdbcStringBasedCacheStorePassivation.java
  server/tests/src/test/java/org/infinispan/server/persistence/PersistenceIT.java
  server/tests/src/test/java/org/infinispan/server/persistence/TableManipulation.java
  server/tests/src/test/resources/database/h2.properties
  server/tests/src/test/resources/database/mysql.properties
Labels: Changes Required

#8440 ISPN-11782 xsite monitoring and troubleshooting
  core/src/main/java/org/infinispan/xsite/irac/DefaultIracManager.java
  documentation/src/main/asciidoc/stories/assembly_server_statistics.adoc
  documentation/src/main/asciidoc/stories/assembly_statistics.adoc
  documentation/src/main/asciidoc/stories/assembly_xsite_cli.adoc
  documentation/src/main/asciidoc/stories/assembly_xsite_jmx.adoc
  documentation/src/main/asciidoc/stories/assembly_xsite_monitoring.adoc
  documentation/src/main/asciidoc/stories/assembly_xsite_operations.adoc
  documentation/src/main/asciidoc/stories/assembly_xsite_rest.adoc
  documentation/src/main/asciidoc/titles/xsite/stories.adoc
  documentation/src/main/asciidoc/topics/con_xsite_concurrent_writes.adoc
  documentation/src/main/asciidoc/topics/config_examples/config_dist_xsite_lon.xml
  documentation/src/main/asciidoc/topics/proc_enabling_jmx.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_metrics.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_statistics.adoc
  documentation/src/main/asciidoc/topics/proc_troubleshooting_xsite.adoc
  documentation/src/main/asciidoc/topics/proc_xsite_performing_jmx_operations.adoc
  documentation/src/main/asciidoc/topics/ref_jmx_xsite_components.adoc
  documentation/src/main/asciidoc/topics/ref_logs_xsite.adoc
  documentation/src/main/asciidoc/topics/ref_metrics.adoc
Labels: Documentation

#8504 ISPN-11958 Infinispan Archetypes Getting Started Docs
  archetypes/README.md
  archetypes/client/pom.xml
  archetypes/embedded/pom.xml
  archetypes/pom.xml
  archetypes/store/pom.xml
  documentation/src/main/asciidoc/stories/assembly_getting_started.adoc
  documentation/src/main/asciidoc/topics/create_project.adoc
  documentation/src/main/asciidoc/topics/proc_using_mvn_archetypes.adoc
Labels: Documentation

#8491 ISPN-12021 creating remote caches
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/configuration/package-info.java
  documentation/pom.xml
  documentation/src/main/asciidoc/stories/assembly_cli_cache_operations.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_starting.adoc
  documentation/src/main/asciidoc/stories/assembly_creating_remote_caches.adoc
  documentation/src/main/asciidoc/stories/assembly_hotrod_client_configuration.adoc
  documentation/src/main/asciidoc/stories/assembly_server_getting_started.adoc
  documentation/src/main/asciidoc/stories/assembly_server_quickstart.adoc
  documentation/src/main/asciidoc/stories/assembly_server_quickstart_cli.adoc
  documentation/src/main/asciidoc/stories/assembly_server_security_realm.adoc
  documentation/src/main/asciidoc/titles/server/stories.adoc
  documentation/src/main/asciidoc/topics/cmd_examples/cli_nix.adoc
  documentation/src/main/asciidoc/topics/cmd_examples/cli_win.adoc
  documentation/src/main/asciidoc/topics/con_remote_cache.adoc
  documentation/src/main/asciidoc/topics/config_examples/infinispan_distributed_cache.json
  documentation/src/main/asciidoc/topics/config_examples/infinispan_distributed_cache.xml
  documentation/src/main/asciidoc/topics/proc_adding_credentials.adoc
  documentation/src/main/asciidoc/topics/proc_cli_adding_counter_deltas.adoc
  documentation/src/main/asciidoc/topics/proc_cli_adding_entries.adoc
  documentation/src/main/asciidoc/topics/proc_cli_adding_scripts.adoc
  documentation/src/main/asciidoc/topics/proc_cli_batching_files.adoc
  documentation/src/main/asciidoc/topics/proc_cli_batching_interactive.adoc
  documentation/src/main/asciidoc/topics/proc_cli_configuring_media_types.adoc
  documentation/src/main/asciidoc/topics/proc_cli_connecting.adoc
  documentation/src/main/asciidoc/topics/proc_cli_creating_caches_files.adoc
  documentation/src/main/asciidoc/topics/proc_cli_creating_caches_templates.adoc
  documentation/src/main/asciidoc/topics/proc_cli_creating_counters.adoc
  documentation/src/main/asciidoc/topics/proc_cli_deleting_entries.adoc
  documentation/src/main/asciidoc/topics/proc_cli_dropping_caches.adoc
  documentation/src/main/asciidoc/topics/proc_cli_getting_server_reports.adoc
  documentation/src/main/asciidoc/topics/proc_cli_logging.adoc
  documentation/src/main/asciidoc/topics/proc_cli_navigating.adoc
  documentation/src/main/asciidoc/topics/proc_cli_querying_protobuf_schema.adoc
  documentation/src/main/asciidoc/topics/proc_cli_registering_protobuf_schema.adoc
  documentation/src/main/asciidoc/topics/proc_cli_resetting_dropping_counters.adoc
  documentation/src/main/asciidoc/topics/proc_cli_running_scripts.adoc
  documentation/src/main/asciidoc/topics/proc_cli_shutdown.adoc
  documentation/src/main/asciidoc/topics/proc_cli_starting.adoc
  documentation/src/main/asciidoc/topics/proc_cli_statistics.adoc
  documentation/src/main/asciidoc/topics/proc_cli_user_create.adoc
  documentation/src/main/asciidoc/topics/proc_cli_user_ls.adoc
  documentation/src/main/asciidoc/topics/proc_cli_user_remove.adoc
  documentation/src/main/asciidoc/topics/proc_cli_xsite_push.adoc
  documentation/src/main/asciidoc/topics/proc_cli_xsite_sites.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_createonaccess.adoc
  documentation/src/main/asciidoc/topics/proc_creating_caches_cli.adoc
  documentation/src/main/asciidoc/topics/proc_creating_caches_console.adoc
  documentation/src/main/asciidoc/topics/proc_creating_caches_hotrod.adoc
  documentation/src/main/asciidoc/topics/proc_creating_caches_hotrod_onaccess.adoc
  documentation/src/main/asciidoc/topics/proc_creating_caches_rest.adoc
  documentation/src/main/asciidoc/topics/proc_creating_entry_rest.adoc
  documentation/src/main/asciidoc/topics/proc_downloading_server.adoc
  documentation/src/main/asciidoc/topics/proc_forming_clusters.adoc
  documentation/src/main/asciidoc/topics/proc_server_user_tool.adoc
  documentation/src/main/asciidoc/topics/proc_starting_server.adoc
  documentation/src/main/asciidoc/topics/ref_default_cm_remote.adoc
  server/runtime/README.adoc
Labels: Documentation

#8487 ISPN-12027 RemoteCacheContainer missing getCache overrides
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/RemoteCacheContainer.java
Labels: Trivial :-)

#8513 ISPN-11974 Remove GenericJbossMarshaller automatic configuration
  server/tests/src/test/java/org/infinispan/server/persistence/CustomStoreOperationsIT.java
Labels: Test fix, Trivial :-)

#8508 ISPN-12058 wildfly/feature-pack module doesn't build
  wildfly/feature-pack/pom.xml
Labels: Trivial :-)

#8511 ISPN-11566 Add StatefulSetRollingUpgradeIT to unstable category
  server/tests/src/test/java/org/infinispan/server/resilience/StatefulSetRollingUpgradeIT.java
Labels: Preview
