Repository infinispan/infinispan, pull requests merged in 2020-03, with the labels that each got.

#7929 [9.4.x] [PREVIEW] ISPN-11373 XSite backup commands should be sent from a blocking thread
  core/src/main/java/org/infinispan/remoting/transport/jgroups/JGroupsTransport.java
Labels: Backport, Performance ACK required!

#7981 [10.1.x] ISPN-11410 upgrade to console 0.4.Final
  build-configuration/pom.xml
Labels: Backport

#7971 [10.1.x] ISPN-11400 Let's disable histograms in the server by default
  server/runtime/src/main/server/server/conf/infinispan-local.xml
  server/runtime/src/main/server/server/conf/infinispan-xsite.xml
  server/runtime/src/main/server/server/conf/infinispan.xml
Labels: Backport

#7977 [9.4.x] ISPN-11404 Add metrics to ActionSequencer
  core/src/main/java/org/infinispan/remoting/transport/jgroups/JGroupsTransport.java
  core/src/main/java/org/infinispan/util/concurrent/ActionSequencer.java
  core/src/main/java/org/infinispan/xsite/BaseBackupReceiver.java
  core/src/test/java/org/infinispan/util/ActionSequencerUnitTest.java
Labels: Backport

#7976 [10.1.x] ISPN-11404 Add metrics to ActionSequencer
  core/src/main/java/org/infinispan/topology/ClusterTopologyManagerImpl.java
  core/src/main/java/org/infinispan/topology/LocalTopologyManagerImpl.java
  core/src/main/java/org/infinispan/util/concurrent/ActionSequencer.java
  core/src/main/java/org/infinispan/xsite/BaseBackupReceiver.java
  core/src/test/java/org/infinispan/util/ActionSequencerUnitTest.java
Labels: Backport

#7941 [10.1.x] ISPN-11249 Unexpected functionality added by Java8 default interface …
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/RemoteCacheSupport.java
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/tx/APITxTest.java
Labels: Backport

#7998 ISPN-11415 InfinispanExtensionIT always fails
  wildfly/infinispan/src/main/java/org/jboss/as/clustering/infinispan/subsystem/CacheContainerConfigurationBuilder.java
Labels: Trivial :-)

#7988 ISPN-11418 Disconnect CLI after running batch
  cli/cli-client/src/main/java/org/infinispan/cli/CLI.java
Labels: Trivial :-)

#7987 [10.1] ISPN-11418 Disconnect CLI after running batch
  cli/cli-client/src/main/java/org/infinispan/cli/CLI.java
Labels: Trivial :-)

#7993 ISPN-11417 Include XSDs in the server's docs/schema directory
  server/runtime/build.xml
Labels: Trivial :-)

#7994 [10.1] ISPN-11417 Include XSDs in the server's docs/schema directory
  server/runtime/build.xml
Labels: Backport, Trivial :-), Urgent!

#7984 [10.1] ISPN-11414 Correctly parse -Dname=value command-line arguments on Win…
  server/runtime/src/main/server/bin/common.bat
Labels: Urgent!

#7973 [10.1] ISPN-11401 Log4j 2.13.1
  build-configuration/pom.xml
Labels: Urgent!

#7969 ISPN-7819 update putAll docs
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/RemoteCache.java
Labels: Documentation

#8005 [10.1.x] ISPN-7819 update putAll docs
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/RemoteCache.java
Labels: Documentation

#8002 ISPN-11427 RestMetricsResource#testMicroprofileMetricsMetadata can ti…
  server/tests/src/test/java/org/infinispan/server/functional/ClusteredIT.java
  server/tests/src/test/java/org/infinispan/server/functional/RestMetricsResource.java
Labels: Test fix, Trivial :-)

#7996 [10.1.x] ISPN-11425 Missing metada for persistent counter upon server restart
  commons/src/main/java/org/infinispan/commons/marshall/PersistenceContextInitializer.java
  commons/src/main/java/org/infinispan/commons/marshall/ProtoStreamTypeIds.java
  commons/src/main/java/org/infinispan/counter/api/CounterConfiguration.java
  commons/src/main/java/org/infinispan/counter/api/CounterType.java
  commons/src/main/java/org/infinispan/counter/api/Storage.java
  core/src/main/java/org/infinispan/functional/impl/CounterConfigurationMetaParam.java
  core/src/main/java/org/infinispan/functional/impl/MetaParamsInternalMetadata.java
  counter/src/main/java/org/infinispan/counter/impl/CounterModuleLifecycle.java
  counter/src/main/java/org/infinispan/counter/impl/function/AddFunction.java
  counter/src/main/java/org/infinispan/counter/impl/function/BaseCreateFunction.java
  counter/src/main/java/org/infinispan/counter/impl/function/BaseFunction.java
  counter/src/main/java/org/infinispan/counter/impl/function/CompareAndSwapFunction.java
  counter/src/main/java/org/infinispan/counter/impl/function/CreateAndAddFunction.java
  counter/src/main/java/org/infinispan/counter/impl/function/CreateAndCASFunction.java
  counter/src/main/java/org/infinispan/counter/impl/function/FunctionHelper.java
  counter/src/main/java/org/infinispan/counter/impl/function/InitializeCounterFunction.java
  counter/src/main/java/org/infinispan/counter/impl/function/ResetFunction.java
  counter/src/main/java/org/infinispan/counter/impl/interceptor/CounterInterceptor.java
  counter/src/main/java/org/infinispan/counter/impl/metadata/ConfigurationMetadata.java
  counter/src/test/java/org/infinispan/counter/RestartCounterTest.java
Labels: Backport

#8013 ISPN-11437 Protostream Processor missing from infinispan-bom
  build-configuration/bom/pom.xml
Labels: Trivial :-)

#8014 [10.1.x] ISPN-11437 Protostream Processor missing from infinispan-bom
  build-configuration/bom/pom.xml
Labels: Backport, Trivial :-)

#8006 Remove unused Parser72 class
  core/src/main/java/org/infinispan/configuration/parsing/Parser72.java
Labels: Trivial :-)

#7940 [10.1.x] ISPN-11285 Compute with off-heap/binary storage throws ClassCastExcep…
  core/src/main/java/org/infinispan/cache/impl/EncoderCache.java
  core/src/test/java/org/infinispan/api/APINonTxTest.java
Labels: Backport

#8000 [10.1.x] ISPN-11384 Cannot create OFF_HEAP caches dynamically
  core/src/main/java/org/infinispan/configuration/cache/MemoryStorageConfiguration.java
  core/src/main/java/org/infinispan/configuration/serializing/Serializer.java
  core/src/test/java/org/infinispan/configuration/parsing/UnifiedXmlFileParsingTest.java
  core/src/test/java/org/infinispan/configuration/serializer/AbstractConfigurationSerializerTest.java
  core/src/test/resources/configs/unified/10.1.xml
  query/src/test/java/org/infinispan/query/distributed/MassIndexingTest.java
Labels: Backport

#8025 [10.1.x] ISPN-9082 Off Heap maxIdle expiration works like lifespan
  core/src/main/java/org/infinispan/container/offheap/OffHeapConcurrentMap.java
  core/src/main/java/org/infinispan/container/offheap/OffHeapEntryFactory.java
  core/src/main/java/org/infinispan/container/offheap/OffHeapEntryFactoryImpl.java
  core/src/main/java/org/infinispan/container/offheap/OffHeapMemory.java
  core/src/main/java/org/infinispan/expiration/impl/ClusterExpirationManager.java
  core/src/main/java/org/infinispan/expiration/impl/TouchCommand.java
  core/src/test/java/org/infinispan/eviction/impl/ExceptionEvictionTest.java
  core/src/test/java/org/infinispan/expiration/impl/ClusterExpirationFunctionalTest.java
  core/src/test/java/org/infinispan/expiration/impl/ExpirationFunctionalTest.java
Labels: Backport

#8032 ISPN-11455 TestingUtil.waitForNoRebalanceAcrossManagers: do not start…
  core/src/test/java/org/infinispan/test/TestingUtil.java
Labels: Test fix, Trivial :-)

#8033 [10.1] ISPN-11455 TestingUtil.waitForNoRebalanceAcrossManagers: do not start…
  core/src/test/java/org/infinispan/test/TestingUtil.java
Labels: Backport, Test fix, Trivial :-)

#8021 ISPN-11449 Make Shared persistent location == persistent location by …
  core/src/main/java/org/infinispan/configuration/global/GlobalStateConfiguration.java
  core/src/main/java/org/infinispan/configuration/global/GlobalStateConfigurationBuilder.java
  core/src/main/java/org/infinispan/configuration/global/GlobalStatePathConfiguration.java
  server/rest/src/test/java/org/infinispan/rest/resources/CacheV2ResourceTest.java
Labels: Test fix

#8027 [10.1] ISPN-11449 Make Shared persistent location == persistent location by …
  core/src/main/java/org/infinispan/configuration/global/GlobalStateConfiguration.java
  core/src/main/java/org/infinispan/configuration/global/GlobalStateConfigurationBuilder.java
  core/src/main/java/org/infinispan/configuration/global/GlobalStatePathConfiguration.java
  server/rest/src/test/java/org/infinispan/rest/resources/CacheV2ResourceTest.java
Labels: Backport, Test fix

#8038 ISPN-9082 max idle with off-heap
  documentation/src/main/asciidoc/topics/con_expiration.adoc
Labels: Documentation

#8041 [10.1] ISPN-9082 max idle with off-heap
  documentation/src/main/asciidoc/topics/con_expiration.adoc
Labels: Documentation

#7979 ISPN-11393 statistics, metrics, jmx
  core/src/main/resources/schema/infinispan-config-11.0.xsd
  documentation/src/main/asciidoc/stories/assembly_server_jmx.adoc
  documentation/src/main/asciidoc/stories/assembly_server_monitoring.adoc
  documentation/src/main/asciidoc/stories/assembly_server_statistics.adoc
  documentation/src/main/asciidoc/stories/assembly_statistics.adoc
  documentation/src/main/asciidoc/titles/configuring/stories.adoc
  documentation/src/main/asciidoc/topics/code_examples/ConfigStats.java
  documentation/src/main/asciidoc/topics/code_examples/EnableJmxStatistics.java
  documentation/src/main/asciidoc/topics/code_examples/EnableJmxStats.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodClientInstance.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodJmx.java
  documentation/src/main/asciidoc/topics/code_examples/JmxMbeanServerLookup.java
  documentation/src/main/asciidoc/topics/code_examples/JmxStatisticsCacheManager.java
  documentation/src/main/asciidoc/topics/config_examples/jmx_mbean_server_lookup.xml
  documentation/src/main/asciidoc/topics/config_examples/jmx_statistics_cache_manager.xml
  documentation/src/main/asciidoc/topics/proc_collecting_metrics.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_jmx.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_jmx.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_jmx_statistics.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_metrics.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_statistics.adoc
  documentation/src/main/asciidoc/topics/proc_naming_cache_managers.adoc
  documentation/src/main/asciidoc/topics/proc_registering_jmx_mbeans.adoc
  documentation/src/main/asciidoc/topics/ref_config_programmatic_objects.adoc
Labels: Documentation

#8048 [10.1.x] ISPN-11393 statistics, metrics, jmx
  core/src/main/resources/schema/infinispan-config-10.1.xsd
  documentation/src/main/asciidoc/stories/assembly_server_jmx.adoc
  documentation/src/main/asciidoc/stories/assembly_server_monitoring.adoc
  documentation/src/main/asciidoc/stories/assembly_server_statistics.adoc
  documentation/src/main/asciidoc/stories/assembly_statistics.adoc
  documentation/src/main/asciidoc/titles/configuring/stories.adoc
  documentation/src/main/asciidoc/topics/code_examples/ConfigStats.java
  documentation/src/main/asciidoc/topics/code_examples/EnableJmxStatistics.java
  documentation/src/main/asciidoc/topics/code_examples/EnableJmxStats.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodClientInstance.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodJmx.java
  documentation/src/main/asciidoc/topics/code_examples/JmxMbeanServerLookup.java
  documentation/src/main/asciidoc/topics/code_examples/JmxStatisticsCacheManager.java
  documentation/src/main/asciidoc/topics/config_examples/jmx_mbean_server_lookup.xml
  documentation/src/main/asciidoc/topics/config_examples/jmx_statistics_cache_manager.xml
  documentation/src/main/asciidoc/topics/proc_collecting_metrics.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_jmx.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_jmx.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_jmx_statistics.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_metrics.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_statistics.adoc
  documentation/src/main/asciidoc/topics/proc_naming_cache_managers.adoc
  documentation/src/main/asciidoc/topics/proc_registering_jmx_mbeans.adoc
  documentation/src/main/asciidoc/topics/ref_config_programmatic_objects.adoc
Labels: Documentation

#8054 ISPN-11468 TransactionTable#calculateMinTopologyId should allow blocking
  core/src/main/java/org/infinispan/util/CoreBlockHoundIntegration.java
Labels: Test fix, Trivial :-)

#8026 ISPN-11050 StreamDistPartitionHandlingTest.testUsingIteratorButPartit…
  core/src/test/java/org/infinispan/partitionhandling/StreamDistPartitionHandlingTest.java
  core/src/test/java/org/infinispan/stream/BaseSetupStreamIteratorTest.java
  core/src/test/java/org/infinispan/stream/DistributedStreamIteratorTest.java
  core/src/test/java/org/infinispan/stream/DistributedWriteBehindStreamIteratorTest.java
  core/src/test/java/org/infinispan/test/Mocks.java
Labels: Test fix

#8051 ISPN-11457 marshalling docs
  documentation/src/main/asciidoc/stories/assembly_creating_serialization_contexts.adoc
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/stories/assembly_marshalling.adoc
  documentation/src/main/asciidoc/topics/code_examples/LibraryInitializer.java
  documentation/src/main/asciidoc/topics/code_examples/SerializationMarshaller.java
  documentation/src/main/asciidoc/topics/code_examples/StoreAsBinary.java
  documentation/src/main/asciidoc/topics/con_proto_schemas.adoc
  documentation/src/main/asciidoc/topics/con_protostream_serialization_context.adoc
  documentation/src/main/asciidoc/topics/config_examples/store_as_binary.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/marshaller-kryo.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/marshaller-protostuff.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/persistence_storemigrator.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/protostream-processor.xml
  documentation/src/main/asciidoc/topics/marshalling.adoc
  documentation/src/main/asciidoc/topics/proc_adding_deserialization_whitelist.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_store_binary.adoc
  documentation/src/main/asciidoc/topics/proc_generating_serial_cxt_initializer.adoc
  documentation/src/main/asciidoc/topics/proc_getting_store_migrator.adoc
  documentation/src/main/asciidoc/topics/proc_implementing_serial_cxt_initializer.adoc
  documentation/src/main/asciidoc/topics/proc_migrating_cache_stores.adoc
  documentation/src/main/asciidoc/topics/proc_storing_deserialized_objects.adoc
  documentation/src/main/asciidoc/topics/proc_using_custom_marshallers.adoc
  documentation/src/main/asciidoc/topics/proc_using_java_serialization.adoc
  documentation/src/main/asciidoc/topics/proc_using_jboss_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_kyro_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_protostream_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_protostuff_marshaller.adoc
  documentation/src/main/asciidoc/topics/protostream.adoc
  documentation/src/main/asciidoc/topics/query.adoc
  documentation/src/main/asciidoc/topics/ref_protostream_types.adoc
Labels: Documentation

#8061 [10.1.x] ISPN-11457 marshalling docs
  documentation/src/main/asciidoc/stories/assembly_creating_serialization_contexts.adoc
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/stories/assembly_marshalling.adoc
  documentation/src/main/asciidoc/topics/code_examples/LibraryInitializer.java
  documentation/src/main/asciidoc/topics/code_examples/SerializationMarshaller.java
  documentation/src/main/asciidoc/topics/code_examples/StoreAsBinary.java
  documentation/src/main/asciidoc/topics/con_proto_schemas.adoc
  documentation/src/main/asciidoc/topics/con_protostream_serialization_context.adoc
  documentation/src/main/asciidoc/topics/config_examples/store_as_binary.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/marshaller-kryo.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/marshaller-protostuff.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/persistence_storemigrator.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/protostream-processor.xml
  documentation/src/main/asciidoc/topics/marshalling.adoc
  documentation/src/main/asciidoc/topics/proc_adding_deserialization_whitelist.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_store_binary.adoc
  documentation/src/main/asciidoc/topics/proc_generating_serial_cxt_initializer.adoc
  documentation/src/main/asciidoc/topics/proc_getting_store_migrator.adoc
  documentation/src/main/asciidoc/topics/proc_implementing_serial_cxt_initializer.adoc
  documentation/src/main/asciidoc/topics/proc_migrating_cache_stores.adoc
  documentation/src/main/asciidoc/topics/proc_storing_deserialized_objects.adoc
  documentation/src/main/asciidoc/topics/proc_using_custom_marshallers.adoc
  documentation/src/main/asciidoc/topics/proc_using_java_serialization.adoc
  documentation/src/main/asciidoc/topics/proc_using_jboss_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_kyro_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_protostream_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_protostuff_marshaller.adoc
  documentation/src/main/asciidoc/topics/protostream.adoc
  documentation/src/main/asciidoc/topics/query.adoc
  documentation/src/main/asciidoc/topics/ref_protostream_types.adoc
Labels: Documentation

#8040 [10.1] ISPN-10270 Fix DropppedConnectionsTest random failures
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/operations/RetryOnFailureOperation.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/transport/netty/ChannelFactory.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/transport/netty/ChannelPool.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/transport/netty/ChannelRecord.java
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/DroppedConnectionsTest.java
Labels: Test fix

#8020 get cache templates via REST
  documentation/src/main/asciidoc/topics/ref_rest_cache_managers.adoc
  documentation/src/main/asciidoc/topics/ref_rest_caches.adoc
Labels: Documentation

#8058 ISPN-11239 Create caches with default template name
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/DefaultTemplate.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/RemoteCacheManagerAdmin.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/RemoteCacheManagerAdminImpl.java
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/admin/RemoteCacheAdminTest.java
Labels: Trivial :-)

#8066 ISPN-11484 storemigrator from maven
  documentation/src/main/asciidoc/topics/proc_getting_store_migrator.adoc
Labels: Documentation, Trivial :-)

#7968 ISPN-11399 BasicComponentRegistryImpl can block when starting a compo…
  core/src/main/java/org/infinispan/util/CoreBlockHoundIntegration.java
Labels: Test fix, Trivial :-)

#8086 ISPN-10539 - Fix javadoc
  javadoc/pom.xml
Labels: Trivial :-)

#8083 ISPN-11515 Drop use of java.security.acl.Group
  core/src/main/java/org/infinispan/security/Security.java
  core/src/main/java/org/infinispan/security/impl/AuthorizationHelper.java
Labels: Trivial :-)

#8039 ISPN-10270 Fix DropppedConnectionsTest random failures
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/operations/RetryOnFailureOperation.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/transport/netty/ChannelFactory.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/transport/netty/ChannelPool.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/transport/netty/ChannelRecord.java
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/DroppedConnectionsTest.java
Labels: Test fix

#8090 ISPN-11239 - Fix SecureRemoteCacheAdminTest
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/admin/SecureRemoteCacheAdminTest.java
Labels: Test fix, Trivial :-)

#8089 ISPN-11516 edits to eviction and expiration.adoc
  documentation/src/main/asciidoc/stories/assembly_eviction_expiration.adoc
  documentation/src/main/asciidoc/topics/con_evict_vs_expire.adoc
  documentation/src/main/asciidoc/topics/con_eviction_custom_classes.adoc
  documentation/src/main/asciidoc/topics/con_eviction_custom_types.adoc
  documentation/src/main/asciidoc/topics/con_eviction_overview.adoc
  documentation/src/main/asciidoc/topics/ref_eviction_examples.adoc
  documentation/src/main/asciidoc/topics/ref_expiration_examples.adoc
Labels: Documentation

#8092 [10.1.x] ISPN-11513 ComposedSegmentedLoadWriteStore should not iterate over se…
  core/src/main/java/org/infinispan/persistence/support/ComposedSegmentedLoadWriteStore.java
  persistence/rocksdb/src/main/java/org/infinispan/persistence/rocksdb/RocksDBStore.java
Labels: Backport

#8008 ISPN-11428 JGroups clustering docs
  documentation/src/main/asciidoc/stories/assembly_cluster_transport.adoc
  documentation/src/main/asciidoc/topics/code_examples/ConfigureTransport.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigureTransportDefault.java
  documentation/src/main/asciidoc/topics/config_examples/config_external_jgroups.xml
  documentation/src/main/asciidoc/topics/config_examples/config_inline_jgroups.xml
  documentation/src/main/asciidoc/topics/config_examples/config_jgroups_extends.xml
  documentation/src/main/asciidoc/topics/config_examples/config_transport_stack.xml
  documentation/src/main/asciidoc/topics/config_examples/jgroups_default_stack.xml
  documentation/src/main/asciidoc/topics/proc_using_jgroups_external.adoc
  documentation/src/main/asciidoc/topics/proc_using_jgroups_inheritance.adoc
  documentation/src/main/asciidoc/topics/proc_using_jgroups_inline.adoc
  documentation/src/main/asciidoc/topics/proc_using_jgroups_preconfigured.adoc
  documentation/src/main/asciidoc/topics/ref_default_jgroups_stacks.adoc
  documentation/src/main/asciidoc/topics/ref_jgroups_preconfigured.adoc
  documentation/src/main/asciidoc/topics/ref_jgroups_preconfigured_tuning.adoc
  documentation/src/main/asciidoc/topics/ref_jgroups_stackcombine_attribute.adoc
Labels: Documentation

#8094 [10.1.x] ISPN-11428 JGroups clustering docs
  documentation/src/main/asciidoc/stories/assembly_cluster_transport.adoc
  documentation/src/main/asciidoc/topics/code_examples/ConfigureTransport.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigureTransportDefault.java
  documentation/src/main/asciidoc/topics/config_examples/config_external_jgroups.xml
  documentation/src/main/asciidoc/topics/config_examples/config_inline_jgroups.xml
  documentation/src/main/asciidoc/topics/config_examples/config_jgroups_extends.xml
  documentation/src/main/asciidoc/topics/config_examples/config_transport_stack.xml
  documentation/src/main/asciidoc/topics/config_examples/jgroups_default_stack.xml
  documentation/src/main/asciidoc/topics/proc_using_jgroups_external.adoc
  documentation/src/main/asciidoc/topics/proc_using_jgroups_inheritance.adoc
  documentation/src/main/asciidoc/topics/proc_using_jgroups_inline.adoc
  documentation/src/main/asciidoc/topics/proc_using_jgroups_preconfigured.adoc
  documentation/src/main/asciidoc/topics/ref_default_jgroups_stacks.adoc
  documentation/src/main/asciidoc/topics/ref_jgroups_preconfigured.adoc
  documentation/src/main/asciidoc/topics/ref_jgroups_preconfigured_tuning.adoc
  documentation/src/main/asciidoc/topics/ref_jgroups_stackcombine_attribute.adoc
Labels: Backport, Documentation

#8067 [10.1.x] ISPN-11484 storemigrator from maven
  documentation/src/main/asciidoc/topics/proc_getting_store_migrator.adoc
Labels: Backport, Documentation, Trivial :-)

#8091 [10.1.x] ISPN-11516 edits to eviction and expiration.adoc
  documentation/src/main/asciidoc/stories/assembly_eviction_expiration.adoc
  documentation/src/main/asciidoc/topics/con_evict_vs_expire.adoc
  documentation/src/main/asciidoc/topics/con_eviction_custom_classes.adoc
  documentation/src/main/asciidoc/topics/con_eviction_custom_types.adoc
  documentation/src/main/asciidoc/topics/con_eviction_overview.adoc
  documentation/src/main/asciidoc/topics/ref_eviction_examples.adoc
  documentation/src/main/asciidoc/topics/ref_expiration_examples.adoc
Labels: Backport, Documentation

#8093 ISPN-11518 IndexingDuringStateTransferTest random failures
  query/src/test/java/org/infinispan/query/blackbox/IndexingDuringStateTransferTest.java
Labels: Test fix

#8004 ISPN-11402 docs housekeeping
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/stories/assembly_rest.adoc
  documentation/src/main/asciidoc/stories/assembly_server_getting_started.adoc
  documentation/src/main/asciidoc/stories/assembly_server_quickstart.adoc
  documentation/src/main/asciidoc/titles/developing/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/cache_api.adoc
  documentation/src/main/asciidoc/topics/cache_manager.adoc
  documentation/src/main/asciidoc/topics/clustered_lock.adoc
  documentation/src/main/asciidoc/topics/config_examples/rest_connector_cors.xml
  documentation/src/main/asciidoc/topics/config_examples/transaction_config.xml
  documentation/src/main/asciidoc/topics/config_examples/versioning_scheme.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/clustered_counters.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/clustered_locks.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/eap_dependencies.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/hibernate_directory_provider.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/hibernate_v5.1.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/hibernate_v5.2.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/hibernate_v5.3.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/ispn_cloud_azure.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/ispn_cloud_ec2.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/ispn_cloud_google.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/ispn_embedded.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/jcache.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/kyro_marshaller.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/lucene_directory.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/multimap.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/netty_bom.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/spring4_session_dependencies.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/spring5_session_dependencies.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/spring_integration.xml
  documentation/src/main/asciidoc/topics/encoding.adoc
  documentation/src/main/asciidoc/topics/endpoint_interop.adoc
  documentation/src/main/asciidoc/topics/execute_grid.adoc
  documentation/src/main/asciidoc/topics/functional_api.adoc
  documentation/src/main/asciidoc/topics/interceptors.adoc
  documentation/src/main/asciidoc/topics/jcache.adoc
  documentation/src/main/asciidoc/topics/locking.adoc
  documentation/src/main/asciidoc/topics/multimapcache.adoc
  documentation/src/main/asciidoc/topics/proc_cli_adding_entries.adoc
  documentation/src/main/asciidoc/topics/proc_cli_creating_caches_templates.adoc
  documentation/src/main/asciidoc/topics/proc_cli_navigating.adoc
  documentation/src/main/asciidoc/topics/proc_cli_shutdown.adoc
  documentation/src/main/asciidoc/topics/proc_forming_clusters.adoc
  documentation/src/main/asciidoc/topics/proc_starting_server.adoc
  documentation/src/main/asciidoc/topics/proc_using_jboss_marshaller.adoc
  documentation/src/main/asciidoc/topics/query.adoc
  documentation/src/main/asciidoc/topics/ref_cli_resource_tree.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_listeners.adoc
  documentation/src/main/asciidoc/topics/ref_rest_cors.adoc
  documentation/src/main/asciidoc/topics/ref_rest_data_formats.adoc
  documentation/src/main/asciidoc/topics/ref_rest_protocols.adoc
  documentation/src/main/asciidoc/topics/ref_rest_security.adoc
  documentation/src/main/asciidoc/topics/ref_scripts.adoc
  documentation/src/main/asciidoc/topics/scripting.adoc
  documentation/src/main/asciidoc/topics/transactions.adoc
  server/runtime/src/main/resources/schema/infinispan-server-11.0.xsd
Labels: Documentation

#8103 [10.1.x] ISPN-11402 docs housekeeping
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/stories/assembly_rest.adoc
  documentation/src/main/asciidoc/stories/assembly_server_getting_started.adoc
  documentation/src/main/asciidoc/stories/assembly_server_quickstart.adoc
  documentation/src/main/asciidoc/titles/developing/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/cache_api.adoc
  documentation/src/main/asciidoc/topics/cache_manager.adoc
  documentation/src/main/asciidoc/topics/clustered_lock.adoc
  documentation/src/main/asciidoc/topics/config_examples/rest_connector_cors.xml
  documentation/src/main/asciidoc/topics/config_examples/transaction_config.xml
  documentation/src/main/asciidoc/topics/config_examples/versioning_scheme.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/clustered_counters.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/clustered_locks.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/eap_dependencies.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/hibernate_directory_provider.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/hibernate_v5.1.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/hibernate_v5.2.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/hibernate_v5.3.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/ispn_cloud_azure.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/ispn_cloud_ec2.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/ispn_cloud_google.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/ispn_embedded.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/jcache.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/kyro_marshaller.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/lucene_directory.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/multimap.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/netty_bom.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/spring4_session_dependencies.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/spring5_session_dependencies.xml
  documentation/src/main/asciidoc/topics/dependencies_maven/spring_integration.xml
  documentation/src/main/asciidoc/topics/encoding.adoc
  documentation/src/main/asciidoc/topics/endpoint_interop.adoc
  documentation/src/main/asciidoc/topics/execute_grid.adoc
  documentation/src/main/asciidoc/topics/functional_api.adoc
  documentation/src/main/asciidoc/topics/interceptors.adoc
  documentation/src/main/asciidoc/topics/jcache.adoc
  documentation/src/main/asciidoc/topics/locking.adoc
  documentation/src/main/asciidoc/topics/multimapcache.adoc
  documentation/src/main/asciidoc/topics/proc_cli_adding_entries.adoc
  documentation/src/main/asciidoc/topics/proc_cli_creating_caches_templates.adoc
  documentation/src/main/asciidoc/topics/proc_cli_navigating.adoc
  documentation/src/main/asciidoc/topics/proc_cli_shutdown.adoc
  documentation/src/main/asciidoc/topics/proc_forming_clusters.adoc
  documentation/src/main/asciidoc/topics/proc_starting_server.adoc
  documentation/src/main/asciidoc/topics/proc_using_jboss_marshaller.adoc
  documentation/src/main/asciidoc/topics/query.adoc
  documentation/src/main/asciidoc/topics/ref_cli_resource_tree.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_listeners.adoc
  documentation/src/main/asciidoc/topics/ref_rest_cors.adoc
  documentation/src/main/asciidoc/topics/ref_rest_data_formats.adoc
  documentation/src/main/asciidoc/topics/ref_rest_protocols.adoc
  documentation/src/main/asciidoc/topics/ref_rest_security.adoc
  documentation/src/main/asciidoc/topics/ref_scripts.adoc
  documentation/src/main/asciidoc/topics/scripting.adoc
  documentation/src/main/asciidoc/topics/transactions.adoc
  server/runtime/src/main/resources/schema/infinispan-server-10.1.xsd
Labels: Backport, Documentation

#8104 ISPN-11536 updates to write behind and write through docs
  documentation/src/main/asciidoc/topics/con_write_behind.adoc
  documentation/src/main/asciidoc/topics/con_write_through.adoc
Labels: Documentation

#8076 ISPN-11504 update docs with segment column name for jdbc cache stores
  documentation/src/main/asciidoc/topics/code_examples/PersistenceDatasourceJndi.java
  documentation/src/main/asciidoc/topics/code_examples/PersistenceJdbcStringBasedStore.java
  documentation/src/main/asciidoc/topics/con_passivation.adoc
  documentation/src/main/asciidoc/topics/con_segmented_cache_stores.adoc
  documentation/src/main/asciidoc/topics/con_store_migrator.adoc
  documentation/src/main/asciidoc/topics/config_examples/persistence_example_ds_jndi.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_example_jdbc.xml
  documentation/src/main/asciidoc/topics/ref_cache_store_jdbc.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jdbc_configuration.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_sfs.adoc
  persistence/jdbc/src/test/resources/configs/string-based.xml
Labels: Documentation

#8105 [10.1.x] ISPN-11536 updates to write behind and write through docs
  documentation/src/main/asciidoc/topics/con_write_behind.adoc
  documentation/src/main/asciidoc/topics/con_write_through.adoc
Labels: Backport, Documentation

#8106 [10.1.x] ISPN-11504 update docs with segment column name for jdbc cache stores
  documentation/src/main/asciidoc/topics/code_examples/PersistenceDatasourceJndi.java
  documentation/src/main/asciidoc/topics/code_examples/PersistenceJdbcStringBasedStore.java
  documentation/src/main/asciidoc/topics/con_passivation.adoc
  documentation/src/main/asciidoc/topics/con_segmented_cache_stores.adoc
  documentation/src/main/asciidoc/topics/con_store_migrator.adoc
  documentation/src/main/asciidoc/topics/config_examples/persistence_example_ds_jndi.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_example_jdbc.xml
  documentation/src/main/asciidoc/topics/ref_cache_store_jdbc.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jdbc_configuration.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_sfs.adoc
  persistence/jdbc/src/test/resources/configs/string-based.xml
Labels: Backport, Documentation

#8073 [10.1.x] get cache templates via REST
  documentation/src/main/asciidoc/topics/ref_rest_cache_managers.adoc
  documentation/src/main/asciidoc/topics/ref_rest_caches.adoc
Labels: Backport, Documentation

#8116 ISPN-11547 Query test suite hangs intermitently
  query/src/test/resources/async-file-store-config.xml
  query/src/test/resources/async-jdbc-store-config.xml
Labels: Test fix

#8121 ISPN-11517 set global persistent location for file-based cache stores
  documentation/src/main/asciidoc/stories/assembly_cache_stores.adoc
  documentation/src/main/asciidoc/topics/code_examples/ConfigRocksDbProperties.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigSingleFileStore.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigSoftIndexFileStore.java
  documentation/src/main/asciidoc/topics/config_examples/persistence_file_store.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_rocksdb_example.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_soft_index_file_store.xml
  documentation/src/main/asciidoc/topics/proc_setting_persistent_location.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_rocksdb.adoc
Labels: Documentation

#8123 [10.1.x] ISPN-11517 set global persistent location for file-based cache stores
  documentation/src/main/asciidoc/stories/assembly_cache_stores.adoc
  documentation/src/main/asciidoc/topics/code_examples/ConfigRocksDbProperties.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigSingleFileStore.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigSoftIndexFileStore.java
  documentation/src/main/asciidoc/topics/config_examples/persistence_file_store.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_rocksdb_example.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_soft_index_file_store.xml
  documentation/src/main/asciidoc/topics/proc_setting_persistent_location.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_rocksdb.adoc
Labels: Backport, Documentation

#8007 ISPN-11205 Server DataSources
  build-configuration/pom.xml
  commons/all/src/main/java/org/infinispan/commons/util/Util.java
  core/src/main/java/org/infinispan/configuration/serializing/Serializer.java
  core/src/test/java/org/infinispan/test/fwk/TestCacheManagerFactory.java
  server/runtime/src/main/java/org/infinispan/server/SecurityActions.java
  server/runtime/src/main/java/org/infinispan/server/Server.java
  server/runtime/src/main/java/org/infinispan/server/configuration/Attribute.java
  server/runtime/src/main/java/org/infinispan/server/configuration/DataSourceConfiguration.java
  server/runtime/src/main/java/org/infinispan/server/configuration/DataSourceConfigurationBuilder.java
  server/runtime/src/main/java/org/infinispan/server/configuration/DataSourcesConfiguration.java
  server/runtime/src/main/java/org/infinispan/server/configuration/DataSourcesConfigurationBuilder.java
  server/runtime/src/main/java/org/infinispan/server/configuration/Element.java
  server/runtime/src/main/java/org/infinispan/server/configuration/ServerConfiguration.java
  server/runtime/src/main/java/org/infinispan/server/configuration/ServerConfigurationBuilder.java
  server/runtime/src/main/java/org/infinispan/server/configuration/ServerConfigurationParser.java
  server/runtime/src/main/java/org/infinispan/server/context/ServerInitialContext.java
  server/runtime/src/main/java/org/infinispan/server/context/ServerInitialContextFactory.java
  server/runtime/src/main/java/org/infinispan/server/context/ServerInitialContextFactoryBuilder.java
  server/runtime/src/main/java/org/infinispan/server/datasource/DataSourceFactory.java
  server/runtime/src/main/java/org/infinispan/server/logging/Log.java
  server/runtime/src/main/resources/schema/infinispan-server-11.0.xsd
  server/runtime/src/test/java/org/infinispan/server/configuration/ServerConfigurationParserTest.java
  server/runtime/src/test/resources/configuration/ServerConfigurationParserTest.xml
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/persistence/ContainerDatabase.java
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/proxy/SocketProxy.java
  server/tests/src/test/java/org/infinispan/server/persistence/ManagedConnectionOperations.java
  server/tests/src/test/java/org/infinispan/server/persistence/PersistenceIT.java
  server/tests/src/test/resources/configuration/PersistenceTest.xml
  server/tests/src/test/resources/configuration/datasources/default-h2.xml
Labels: Needs Rebase

#8112 ISPN-11539 Documentation edits and corrections
  documentation/src/main/asciidoc/stories/assembly_hotrod_client_api.adoc
  documentation/src/main/asciidoc/stories/assembly_rest_api.adoc
  documentation/src/main/asciidoc/stories/assembly_server_endpoints.adoc
  documentation/src/main/asciidoc/topics/code_examples/ConfigCacheStores.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigClustering.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigStats.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigTransactionsLocking.java
  documentation/src/main/asciidoc/topics/code_examples/EmbeddedConflictManager.java
  documentation/src/main/asciidoc/topics/code_examples/InitialClusterSize.java
  documentation/src/main/asciidoc/topics/code_examples/PartitionHandling.java
  documentation/src/main/asciidoc/topics/code_examples/RestClient.java
  documentation/src/main/asciidoc/topics/code_examples/rest_client.py
  documentation/src/main/asciidoc/topics/code_examples/rest_client.rb
  documentation/src/main/asciidoc/topics/con_caches_simple.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_memcached.adoc
  documentation/src/main/asciidoc/topics/con_store_migrator.adoc
  documentation/src/main/asciidoc/topics/dependencies_maven/persistence_storemigrator.xml
  documentation/src/main/asciidoc/topics/proc_cli_shutdown.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_statistics.adoc
  documentation/src/main/asciidoc/topics/proc_getting_store_migrator.adoc
  documentation/src/main/asciidoc/topics/proc_running_embedded.adoc
  documentation/src/main/asciidoc/topics/proc_starting_server.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jpa.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jpa_example.adoc
  documentation/src/main/asciidoc/topics/ref_endpoints_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_client_transactions.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_listeners.adoc
  documentation/src/main/asciidoc/topics/ref_rest_caches.adoc
  documentation/src/main/asciidoc/topics/ref_rest_security.adoc
Labels: Documentation

#8124 [10.1.x] ISPN-11539 Documentation edits and corrections
  documentation/src/main/asciidoc/stories/assembly_hotrod_client_api.adoc
  documentation/src/main/asciidoc/stories/assembly_rest_api.adoc
  documentation/src/main/asciidoc/stories/assembly_server_endpoints.adoc
  documentation/src/main/asciidoc/topics/code_examples/ConfigCacheStores.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigClustering.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigStats.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigTransactionsLocking.java
  documentation/src/main/asciidoc/topics/code_examples/EmbeddedConflictManager.java
  documentation/src/main/asciidoc/topics/code_examples/InitialClusterSize.java
  documentation/src/main/asciidoc/topics/code_examples/PartitionHandling.java
  documentation/src/main/asciidoc/topics/code_examples/RestClient.java
  documentation/src/main/asciidoc/topics/code_examples/rest_client.py
  documentation/src/main/asciidoc/topics/code_examples/rest_client.rb
  documentation/src/main/asciidoc/topics/con_caches_simple.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_memcached.adoc
  documentation/src/main/asciidoc/topics/con_store_migrator.adoc
  documentation/src/main/asciidoc/topics/dependencies_maven/persistence_storemigrator.xml
  documentation/src/main/asciidoc/topics/proc_cli_shutdown.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_statistics.adoc
  documentation/src/main/asciidoc/topics/proc_getting_store_migrator.adoc
  documentation/src/main/asciidoc/topics/proc_running_embedded.adoc
  documentation/src/main/asciidoc/topics/proc_starting_server.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jpa.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jpa_example.adoc
  documentation/src/main/asciidoc/topics/ref_endpoints_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_client_transactions.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_listeners.adoc
  documentation/src/main/asciidoc/topics/ref_rest_caches.adoc
  documentation/src/main/asciidoc/topics/ref_rest_security.adoc
Labels: Backport, Documentation

#8056 ISPN-11470 Scheduled thread pools rejection handle should throw Lifec…
  commons/all/src/main/java/org/infinispan/commons/executors/ScheduledThreadPoolExecutorFactory.java
  commons/all/src/main/java/org/infinispan/commons/util/concurrent/LifecycleRejectedExecutionHandler.java
Labels: Trivial :-)

#8132 ISPN-11570 PersistenceManagerTest#testEarlyTerminatedOperation random…
  core/src/test/java/org/infinispan/persistence/PersistenceManagerTest.java
Labels: Test fix, Trivial :-)

#8133 ISPN-11573 Remove CacheContainerAdmin.AdminFlag.PERMANENT
  commons/all/src/main/java/org/infinispan/commons/api/CacheContainerAdmin.java
Labels: Trivial :-)
