Repository infinispan/infinispan, pull requests merged in 2020-11, with the labels that each got.

#8802 [9.4.x] ISPN-12420 ConcurrentModificationException for EntryMergePolicyFactoryRegistry
  server/integration/infinispan/src/main/java/org/jboss/as/clustering/infinispan/subsystem/CacheAdd.java
  server/integration/infinispan/src/main/java/org/jboss/as/clustering/infinispan/subsystem/CacheContainerBuilder.java
  server/integration/infinispan/src/main/java/org/jboss/as/clustering/infinispan/subsystem/CacheService.java
  server/integration/testsuite/src/test/java/org/infinispan/server/test/partitionhandling/CustomEntryMergePolicyIT.java
Labels: Backport

#8803 ISPN-12438 off heap details
  core/src/main/java/org/infinispan/container/offheap/OffHeapConcurrentMap.java
  core/src/main/java/org/infinispan/container/offheap/OffHeapEntryFactory.java
  core/src/main/java/org/infinispan/container/offheap/SegmentedBoundedOffHeapDataContainer.java
  core/src/main/java/org/infinispan/container/offheap/UnpooledOffHeapMemoryAllocator.java
  core/src/main/java/org/infinispan/expiration/impl/ClusterExpirationManager.java
  documentation/src/main/asciidoc/stories/assembly_configuration.adoc
  documentation/src/main/asciidoc/stories/assembly_configuring_data_container.adoc
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/topics/con_off_heap_memory.adoc
  documentation/src/main/asciidoc/topics/config_examples/max_size_offheap.xml
  documentation/src/main/asciidoc/topics/images/offheap.svg
  documentation/src/main/asciidoc/topics/images/offheap_hashmap.svg
  documentation/src/main/asciidoc/topics/proc_configuring_memory_offheap.adoc
Labels: Documentation

#8828 ISPN-12467 Backup of cache content stores the key as the value
  server/core/src/main/java/org/infinispan/server/core/backup/resources/CacheResource.java
  server/tests/src/test/java/org/infinispan/server/functional/BackupManagerIT.java
Labels: Trivial :-)

#8833 Remove Operator links from doc index
  documentation/src/main/asciidoc/index.asciidoc
Labels: Documentation, Trivial :-)

#8837 ISPN-12471 Increase Maven heap size
  Jenkinsfile
Labels: Backport, Trivial :-)

#8834 Updating links to contributing and Jira
  CONTRIBUTING.md
  README-Build.md
  documentation/src/main/asciidoc/titles/cli/cli.asciidoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/contributing/basics.adoc
  documentation/src/main/asciidoc/topics/contributing/building.adoc
Labels: Documentation, Trivial :-)

#8853 [10.0.x] version chooser directory
  documentation/src/main/asciidoc/js/js.js
Labels: Documentation, Trivial :-)

#8852 [10.1.x] version chooser directory
  documentation/src/main/asciidoc/js/js.js
Labels: Documentation, Trivial :-)

#8742 UI and terminology guidelines in contributor's guide
  documentation/src/main/asciidoc/stories/assembly_contributing.adoc
  documentation/src/main/asciidoc/topics/contributing/docs.adoc
  documentation/src/main/asciidoc/topics/contributing/terminology.adoc
  documentation/src/main/asciidoc/topics/contributing/ui.adoc
  documentation/src/main/asciidoc/topics/proc_using_mvn_archetypes.adoc
Labels: Documentation

#8845 [11.0] ISPN-12104 Do not touch tx mode if unnecessary
  core/src/main/java/org/infinispan/configuration/cache/TransactionConfigurationBuilder.java
  core/src/test/java/org/infinispan/configuration/ConfigurationUnitTest.java
Labels: Backport

#8846 Fix spotbugs/pmd warnings for counters module
  counter/src/main/java/org/infinispan/counter/configuration/CounterConfigurationParser.java
  counter/src/main/java/org/infinispan/counter/impl/function/FunctionHelper.java
  counter/src/main/java/org/infinispan/counter/impl/manager/CounterConfigurationManager.java
  counter/src/main/java/org/infinispan/counter/impl/manager/PersistedCounterConfigurationStorage.java
  counter/src/main/java/org/infinispan/counter/impl/strong/AbstractStrongCounter.java
  etc/spotbugs-exclusions.xml
Labels: Trivial :-)

#8842 ISPN-12490 CounterManager in HR docs
  documentation/src/main/asciidoc/stories/assembly_hotrod_client_api.adoc
  documentation/src/main/asciidoc/topics/con_off_heap_memory.adoc
  documentation/src/main/asciidoc/topics/counters.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_countermanager.adoc
Labels: Documentation, Trivial :-)

#8843 ISPN-12491 doc updates to server logging
  documentation/src/main/asciidoc/stories/assembly_server_logging.adoc
  documentation/src/main/asciidoc/topics/con_access_logs.adoc
  documentation/src/main/asciidoc/topics/config_examples/enable_access_logs.xml
  documentation/src/main/asciidoc/topics/proc_configuring_log_properties.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_access_logs.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_json_logging.adoc
  documentation/src/main/asciidoc/topics/ref_access_log_properties.adoc
  documentation/src/main/asciidoc/topics/ref_logs_categories.adoc
  documentation/src/main/asciidoc/topics/ref_logs_formatters.adoc
  documentation/src/main/asciidoc/topics/ref_logs_handlers.adoc
  documentation/src/main/asciidoc/topics/ref_logs_levels.adoc
  documentation/src/main/asciidoc/topics/ref_logs_server.adoc
Labels: Documentation, Trivial :-)

#8844 [11.0.x] ISPN-12491 doc updates to server logging
  documentation/src/main/asciidoc/stories/assembly_server_logging.adoc
  documentation/src/main/asciidoc/topics/con_access_logs.adoc
  documentation/src/main/asciidoc/topics/config_examples/enable_access_logs.xml
  documentation/src/main/asciidoc/topics/proc_configuring_log_properties.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_access_logs.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_json_logging.adoc
  documentation/src/main/asciidoc/topics/ref_access_log_properties.adoc
  documentation/src/main/asciidoc/topics/ref_logs_categories.adoc
  documentation/src/main/asciidoc/topics/ref_logs_formatters.adoc
  documentation/src/main/asciidoc/topics/ref_logs_handlers.adoc
  documentation/src/main/asciidoc/topics/ref_logs_levels.adoc
  documentation/src/main/asciidoc/topics/ref_logs_server.adoc
Labels: Backport, Documentation, Trivial :-)

#8874 [11.0.x] ISPN-12490 CounterManager in HR docs
  documentation/src/main/asciidoc/stories/assembly_hotrod_client_api.adoc
  documentation/src/main/asciidoc/topics/counters.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_countermanager.adoc
Labels: Backport, Documentation

#8851 [11.0] ISPN-12492 Server option to load property file
  server/runtime/src/main/java/org/infinispan/server/Bootstrap.java
  server/runtime/src/main/java/org/infinispan/server/logging/Messages.java
Labels: Backport, Trivial :-)

#8849 ISPN-12496 Support port offset for JGroups ports in the server
  server/runtime/src/main/java/org/infinispan/server/Bootstrap.java
  server/runtime/src/main/java/org/infinispan/server/Server.java
Labels: Trivial :-)

#8850 [11.0] ISPN-12496 Support port offset for JGroups ports in the server
  server/runtime/src/main/java/org/infinispan/server/Bootstrap.java
  server/runtime/src/main/java/org/infinispan/server/Server.java
Labels: Backport, Trivial :-)

#8832 ISPN-10851 JGroups encrypt docs
  documentation/src/main/asciidoc/stories/assembly_configuring_clustering.adoc
  documentation/src/main/asciidoc/stories/assembly_encrypting_cluster_traffic.adoc
  documentation/src/main/asciidoc/stories/assembly_securing_jgroups.adoc
  documentation/src/main/asciidoc/titles/security/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/con_jgroups_encrypt.adoc
  documentation/src/main/asciidoc/topics/config_examples/jgroups_asym_encrypt.xml
  documentation/src/main/asciidoc/topics/config_examples/jgroups_sym_encrypt.xml
  documentation/src/main/asciidoc/topics/proc_configuring_jgroups_asym_encrypt.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_jgroups_auth.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_jgroups_sym_encrypt.adoc
Labels: Documentation

#8881 [11.0.x] ISPN-10851 JGroups encrypt docs
  documentation/src/main/asciidoc/stories/assembly_configuring_clustering.adoc
  documentation/src/main/asciidoc/stories/assembly_encrypting_cluster_traffic.adoc
  documentation/src/main/asciidoc/stories/assembly_securing_jgroups.adoc
  documentation/src/main/asciidoc/titles/security/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/con_jgroups_encrypt.adoc
  documentation/src/main/asciidoc/topics/config_examples/jgroups_asym_encrypt.xml
  documentation/src/main/asciidoc/topics/config_examples/jgroups_sym_encrypt.xml
  documentation/src/main/asciidoc/topics/proc_configuring_jgroups_asym_encrypt.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_jgroups_auth.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_jgroups_sym_encrypt.adoc
Labels: Backport, Documentation

#8871 [11.0.x] ISPN-12510 Upgrade JGroups to 4.2.9.Final
  build-configuration/pom.xml
  core/src/main/resources/default-configs/default-jgroups-azure.xml
  core/src/main/resources/default-configs/default-jgroups-ec2.xml
  core/src/main/resources/default-configs/default-jgroups-google.xml
  core/src/main/resources/default-configs/default-jgroups-kubernetes.xml
  core/src/main/resources/default-configs/default-jgroups-tcp.xml
  core/src/main/resources/default-configs/default-jgroups-udp.xml
  core/src/test/java/org/infinispan/configuration/JsonSerializationTest.java
  core/src/test/resources/configs/config-with-jgroups-stack.xml
  core/src/test/resources/configs/unified/11.0.xml
  core/src/test/resources/configs/xsite/bridge.xml
  core/src/test/resources/configs/xsite/xsite-inline-test.xml
  core/src/test/resources/stacks/broken-tcp.xml
  core/src/test/resources/stacks/tcp.xml
  core/src/test/resources/stacks/tcp_mping/tcp1.xml
  core/src/test/resources/stacks/tcp_mping/tcp2.xml
  core/src/test/resources/stacks/udp.xml
  documentation/src/main/asciidoc/topics/config_examples/jgroups-relay.xml
  hibernate/cache-commons/src/test/resources/2lc-test-tcp.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-krb-node0.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-krb-node1-fail.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-krb-node1.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-md5-node0.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-md5-node1.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-md5-user-node0.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-prop-handler-node0.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-prop-handler-node1.xml
  server/rest/src/test/java/org/infinispan/rest/search/BaseRestSearchTest.java
  server/tests/src/test/resources/configuration/jgroups/xsite-stacks.xml
  tools/src/test/resources/udp.xml
Labels: Backport

#8862 [11.0.x] ISPN-12502 GC logging provided by default with GC_LOG is valid for Java 8 only
  server/runtime/src/main/server/bin/common.sh
Labels: Backport

#8883 [11.0.x] ISPN-12516 server directory
  documentation/src/main/asciidoc/stories/assembly_server_getting_started.adoc
  documentation/src/main/asciidoc/stories/assembly_server_reference.adoc
  documentation/src/main/asciidoc/titles/server/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/con_server_directory_structure.adoc
  server/runtime/README.adoc
Labels: Backport, Documentation

#8863 [11.0.x] ISPN-12104 Do not touch tx mode if unnecessary
  core/src/main/java/org/infinispan/configuration/cache/TransactionConfigurationBuilder.java
Labels: Backport, Trivial :-)

#8877 ISPN-12515 Improve HR authentication errors
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/configuration/AuthenticationConfigurationBuilder.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/logging/Log.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/Authentication.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/logging/Log.java
Labels: Trivial :-)

#8878 [11.0] ISPN-12515 Improve the HR message when authenticaiton config is incom…
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/configuration/AuthenticationConfigurationBuilder.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/logging/Log.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/Authentication.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/logging/Log.java
Labels: Trivial :-)

#8889 [11.0.x] ISPN-12104 Do not touch tx mode if unnecessary
  core/src/main/java/org/infinispan/configuration/cache/InvocationBatchingConfigurationBuilder.java
  core/src/main/java/org/infinispan/configuration/cache/TransactionConfigurationBuilder.java
Labels: Backport

#8895 [11.0.x] ISPN-10851 correct asym protocol example
  documentation/src/main/asciidoc/topics/config_examples/jgroups_asym_encrypt.xml
  documentation/src/main/asciidoc/topics/proc_configuring_jgroups_asym_encrypt.adoc
Labels: Backport, Documentation, Trivial :-)
