Repository infinispan/infinispan, pull requests merged in 2021-02, with the labels that each got.

#9030 [12.0] ISPN-12636 Implicit connectors
  documentation/src/main/asciidoc/topics/config_examples/endpoints_connectors.xml
  documentation/src/main/asciidoc/topics/ref_endpoints_connectors.adoc
  server/hotrod/src/main/java/org/infinispan/server/hotrod/configuration/HotRodServerConfigurationBuilder.java
  server/rest/src/main/java/org/infinispan/rest/configuration/RestServerConfigurationBuilder.java
  server/runtime/src/main/java/org/infinispan/server/configuration/ServerConfigurationParser.java
  server/runtime/src/main/java/org/infinispan/server/configuration/endpoint/EndpointConfigurationBuilder.java
  server/runtime/src/main/java/org/infinispan/server/configuration/hotrod/HotRodServerConfigurationParser.java
  server/runtime/src/main/java/org/infinispan/server/configuration/rest/RestServerConfigurationParser.java
  server/runtime/src/main/java/org/infinispan/server/configuration/security/RealmConfigurationBuilder.java
  server/runtime/src/main/java/org/infinispan/server/logging/Log.java
  server/runtime/src/main/resources/schema/infinispan-server-12.0.xsd
  server/runtime/src/main/server/server/conf/infinispan-local.xml
  server/runtime/src/main/server/server/conf/infinispan-xsite.xml
  server/runtime/src/main/server/server/conf/infinispan.xml
  server/tests/src/test/java/org/infinispan/server/security/AuthenticationImplicitIT.java
  server/tests/src/test/java/org/infinispan/server/security/AuthenticationMultiEndpointIT.java
  server/tests/src/test/resources/configuration/AuthenticationKerberosTest.xml
  server/tests/src/test/resources/configuration/AuthenticationKeyCloakTest.xml
  server/tests/src/test/resources/configuration/AuthenticationLDAPTest.xml
  server/tests/src/test/resources/configuration/AuthenticationServerMultipleEndpoints.xml
  server/tests/src/test/resources/configuration/AuthenticationServerTLSTest.xml
  server/tests/src/test/resources/configuration/AuthenticationServerTest.xml
  server/tests/src/test/resources/configuration/AuthenticationServerTrustTest.xml
  server/tests/src/test/resources/configuration/AuthorizationKerberosTest.xml
  server/tests/src/test/resources/configuration/AuthorizationLDAPTest.xml
  server/tests/src/test/resources/configuration/AuthorizationPropertiesTest.xml
  server/tests/src/test/resources/configuration/TLSWithoutAuthenticationTest.xml
  server/tests/src/test/resources/configuration/endpoints/alternate-empty.xml
  server/tests/src/test/resources/configuration/endpoints/alternate-hotrod.xml
  server/tests/src/test/resources/configuration/endpoints/auth-explicit.xml
  server/tests/src/test/resources/configuration/endpoints/auth-implicit.xml
  server/tests/src/test/resources/configuration/endpoints/auth-tls-external.xml
  server/tests/src/test/resources/configuration/endpoints/auth-tls.xml
  server/tests/src/test/resources/configuration/endpoints/kerberos.xml
  server/tests/src/test/resources/configuration/endpoints/oauth.xml
Labels: Backport

#9032 ISPN-12692 HotRodUpgradeEncodingsTest random failures
  persistence/remote/src/test/java/org/infinispan/persistence/remote/upgrade/HotRodUpgradeEncodingsTest.java
Labels: Test fix, Trivial :-)

#9016 ISPN-12664 Deprecate login and add supported mechs on config
  server/rest/src/main/java/org/infinispan/rest/resources/LoginResource.java
  server/runtime/src/main/java/org/infinispan/server/Server.java
Labels: Trivial :-)

#9037 ISPN-12695 Remove unzip tomcat logic from third-party-server module
  integrationtests/server-integration/third-party-server/pom.xml
Labels: Trivial :-)

#9044 [12.0.x] ISPN-12716 Hot Rod iteration shouldn't require ADMIN permission
  core/src/main/java/org/infinispan/security/actions/GetEmbeddedCacheManagerAction.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/iteration/DefaultIterationManager.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/iteration/IterationManager.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/iteration/SecurityActions.java
  server/tests/src/test/java/org/infinispan/server/security/authorization/AbstractAuthorization.java
Labels: Backport

#9048 [12.0.x] ISPN-12651 CacheEntryCloudEventsTest test failures
  cloudevents-integration/pom.xml
  cloudevents-integration/src/test/java/org/infinispan/cloudevents/MockKafkaEventSender.java
Labels: Backport

#9046 [12.0] ISPN-12718 Add addtional DEBUG logs to Backup/Restore operations
  server/core/src/main/java/org/infinispan/server/core/backup/resources/CacheConfigResource.java
  server/core/src/main/java/org/infinispan/server/core/backup/resources/CacheResource.java
  server/core/src/main/java/org/infinispan/server/core/backup/resources/CounterResource.java
  server/core/src/main/java/org/infinispan/server/core/backup/resources/InternalCacheResource.java
Labels: Backport, Trivial :-)

#9055 [12.0] ISPN-12729 Upgrade console 0.13.1.Final
  build-configuration/pom.xml
Labels: Trivial :-)

#9053 [12.0] ISPN-12724 Trim Elytron dependencies from the Hot Rod client
  client/hotrod-client/pom.xml
Labels: Backport

#9060 ISPN-12736 remove prod attributes and conditionals
  documentation/src/main/asciidoc/stories/assembly_configuring_maven_repository.adoc
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/stories/assembly_migrating_data.adoc
  documentation/src/main/asciidoc/stories/assembly_rest_api.adoc
  documentation/src/main/asciidoc/stories/assembly_server_endpoints.adoc
  documentation/src/main/asciidoc/stories/assembly_server_patching.adoc
  documentation/src/main/asciidoc/stories/assembly_server_reference.adoc
  documentation/src/main/asciidoc/titles/rest/stories.adoc
  documentation/src/main/asciidoc/titles/spring_boot/starter.asciidoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/cmd_examples/extract_server_distribution.adoc
  documentation/src/main/asciidoc/topics/con_discovery.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_hotrod.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_memcached.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_rest.adoc
  documentation/src/main/asciidoc/topics/con_server_directory_structure.adoc
  documentation/src/main/asciidoc/topics/performance.adoc
  documentation/src/main/asciidoc/topics/proc_adding_server_tasks.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_encoding_memcached.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_firewall.adoc
  documentation/src/main/asciidoc/topics/proc_customizing_jgroups_stacks.adoc
  documentation/src/main/asciidoc/topics/proc_downloading_server.adoc
  documentation/src/main/asciidoc/topics/proc_installing_wildfly_modules.adoc
  documentation/src/main/asciidoc/topics/proc_server_creating_patches.adoc
  documentation/src/main/asciidoc/topics/proc_server_installing_patches.adoc
  documentation/src/main/asciidoc/topics/proc_using_jgroups_default.adoc
  documentation/src/main/asciidoc/topics/proc_using_kyro_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_protostuff_marshaller.adoc
  documentation/src/main/asciidoc/topics/ref_cache_modes_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jpa.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_rocksdb.adoc
  documentation/src/main/asciidoc/topics/ref_endpoints_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_rest_data_formats.adoc
  documentation/src/main/asciidoc/topics/ref_rest_security.adoc
  documentation/src/main/asciidoc/topics/ref_rolling_upgrades_k8s.adoc
  documentation/src/main/asciidoc/topics/ref_server_requirements.adoc
  documentation/src/main/asciidoc/topics/ref_store_migrator_properties.adoc
Labels: Documentation

#9068 [12.0.x] ISPN-12736 remove prod attributes and conditionals
  documentation/src/main/asciidoc/stories/assembly_configuring_maven_repository.adoc
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/stories/assembly_migrating_data.adoc
  documentation/src/main/asciidoc/stories/assembly_rest_api.adoc
  documentation/src/main/asciidoc/stories/assembly_server_endpoints.adoc
  documentation/src/main/asciidoc/stories/assembly_server_patching.adoc
  documentation/src/main/asciidoc/stories/assembly_server_reference.adoc
  documentation/src/main/asciidoc/titles/rest/stories.adoc
  documentation/src/main/asciidoc/titles/spring_boot/starter.asciidoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/cmd_examples/extract_server_distribution.adoc
  documentation/src/main/asciidoc/topics/con_discovery.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_hotrod.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_memcached.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_rest.adoc
  documentation/src/main/asciidoc/topics/con_server_directory_structure.adoc
  documentation/src/main/asciidoc/topics/performance.adoc
  documentation/src/main/asciidoc/topics/proc_adding_server_tasks.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_encoding_memcached.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_firewall.adoc
  documentation/src/main/asciidoc/topics/proc_customizing_jgroups_stacks.adoc
  documentation/src/main/asciidoc/topics/proc_downloading_server.adoc
  documentation/src/main/asciidoc/topics/proc_installing_wildfly_modules.adoc
  documentation/src/main/asciidoc/topics/proc_server_creating_patches.adoc
  documentation/src/main/asciidoc/topics/proc_server_installing_patches.adoc
  documentation/src/main/asciidoc/topics/proc_using_jgroups_default.adoc
  documentation/src/main/asciidoc/topics/proc_using_kyro_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_protostuff_marshaller.adoc
  documentation/src/main/asciidoc/topics/ref_cache_modes_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jpa.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_rocksdb.adoc
  documentation/src/main/asciidoc/topics/ref_endpoints_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_rest_data_formats.adoc
  documentation/src/main/asciidoc/topics/ref_rest_security.adoc
  documentation/src/main/asciidoc/topics/ref_rolling_upgrades_k8s.adoc
  documentation/src/main/asciidoc/topics/ref_server_requirements.adoc
  documentation/src/main/asciidoc/topics/ref_store_migrator_properties.adoc
Labels: Backport, Documentation

#9069 [11.0.x] ISPN-12736 remove prod attributes and conditionals
  documentation/src/main/asciidoc/stories/assembly_configuring_maven_repository.adoc
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/stories/assembly_migrating_data.adoc
  documentation/src/main/asciidoc/stories/assembly_rest_api.adoc
  documentation/src/main/asciidoc/stories/assembly_server_endpoints.adoc
  documentation/src/main/asciidoc/stories/assembly_server_patching.adoc
  documentation/src/main/asciidoc/stories/assembly_server_reference.adoc
  documentation/src/main/asciidoc/titles/rest/stories.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/attributes/product-attributes.adoc
  documentation/src/main/asciidoc/topics/cmd_examples/extract_server_distribution.adoc
  documentation/src/main/asciidoc/topics/con_discovery.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_hotrod.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_memcached.adoc
  documentation/src/main/asciidoc/topics/con_endpoints_rest.adoc
  documentation/src/main/asciidoc/topics/con_server_directory_structure.adoc
  documentation/src/main/asciidoc/topics/performance.adoc
  documentation/src/main/asciidoc/topics/proc_adding_server_tasks.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_encoding_memcached.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_firewall.adoc
  documentation/src/main/asciidoc/topics/proc_customizing_jgroups_stacks.adoc
  documentation/src/main/asciidoc/topics/proc_downloading_server.adoc
  documentation/src/main/asciidoc/topics/proc_implementing_protostream_sci.adoc
  documentation/src/main/asciidoc/topics/proc_installing_wildfly_modules.adoc
  documentation/src/main/asciidoc/topics/proc_server_creating_patches.adoc
  documentation/src/main/asciidoc/topics/proc_server_installing_patches.adoc
  documentation/src/main/asciidoc/topics/proc_using_jgroups_default.adoc
  documentation/src/main/asciidoc/topics/proc_using_kyro_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_protostuff_marshaller.adoc
  documentation/src/main/asciidoc/topics/ref_cache_modes_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_jpa.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_rocksdb.adoc
  documentation/src/main/asciidoc/topics/ref_endpoints_comparison.adoc
  documentation/src/main/asciidoc/topics/ref_rest_data_formats.adoc
  documentation/src/main/asciidoc/topics/ref_rest_security.adoc
  documentation/src/main/asciidoc/topics/ref_rolling_upgrades_k8s.adoc
  documentation/src/main/asciidoc/topics/ref_server_requirements.adoc
  documentation/src/main/asciidoc/topics/ref_store_migrator_properties.adoc
Labels: Backport, Documentation

#9076 ISPN-12769 no indexing with invalidation caches
  documentation/src/main/asciidoc/topics/ref_cache_modes_comparison.adoc
Labels: Documentation, Trivial :-)

#9078 [11.0.x] ISPN-12769 no indexing with invalidation caches
  documentation/src/main/asciidoc/topics/ref_cache_modes_comparison.adoc
Labels: Backport, Documentation, Trivial :-)

#9077 [12.0.x] ISPN-12769 no indexing with invalidation caches
  documentation/src/main/asciidoc/topics/ref_cache_modes_comparison.adoc
Labels: Backport, Documentation, Trivial :-)

#9084 ISPN-12774 Credential store support example for datasource is incomplete
  cli/src/main/resources/help/credentials.adoc
  documentation/src/main/asciidoc/topics/config_examples/server_credentials.xml
  documentation/src/main/asciidoc/topics/config_examples/server_credentials_datasource.xml
  documentation/src/main/asciidoc/topics/config_examples/server_credentials_ldap.xml
Labels: Documentation
