Repository infinispan/infinispan, pull requests merged in 2021-01, with the labels that each got.

#8956 ISPN-12599 server home and root properties
  documentation/src/main/asciidoc/topics/con_server_directory_structure.adoc
  server/runtime/src/main/server/README.adoc
Labels: Documentation, Trivial :-)

#8957 [11.0.x] ISPN-12599 server home and root properties
  documentation/src/main/asciidoc/topics/con_server_directory_structure.adoc
  server/runtime/src/main/server/README.adoc
Labels: Backport, Documentation, Trivial :-)

#8955 ISPN-12564 Remove support for property "infinispan.query.lucene.max-boolean-clauses" from the index config
  documentation/src/main/asciidoc/topics/upgrading.adoc
  query/src/main/java/org/infinispan/query/impl/LifecycleManager.java
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/EmbeddedInfinispanServerDriver.java
  server/tests/src/test/java/org/infinispan/server/functional/ClusteredIT.java
Labels: Test fix

#8963 [11.0.x] ISPN-12573 small correction of REST API request in documentation
  documentation/src/main/asciidoc/topics/ref_rest_logging.adoc
Labels: Backport, Documentation

#8969 Upgrade testcontainers to 1.5.1
  pom.xml
Labels: Test fix, Trivial :-)

#8958 ISPN-12556 shutdown command considerations
  cli/src/main/resources/help/shutdown.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_starting.adoc
  documentation/src/main/asciidoc/stories/assembly_server_getting_started.adoc
  documentation/src/main/asciidoc/topics/cloudevents_integration.adoc
  documentation/src/main/asciidoc/topics/con_restarting_clusters.adoc
  documentation/src/main/asciidoc/topics/proc_cli_shutdown.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_nearcaching.adoc
  documentation/src/main/asciidoc/topics/proc_shutting_down_servers.adoc
Labels: Documentation

#8959 [11.0.x] ISPN-12556 shutdown command considerations
  cli/cli-client/src/main/resources/help/shutdown.adoc
  documentation/src/main/asciidoc/stories/assembly_cli_starting.adoc
  documentation/src/main/asciidoc/stories/assembly_server_getting_started.adoc
  documentation/src/main/asciidoc/topics/con_restarting_clusters.adoc
  documentation/src/main/asciidoc/topics/proc_cli_shutdown.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_nearcaching.adoc
  documentation/src/main/asciidoc/topics/proc_shutting_down_servers.adoc
Labels: Backport, Documentation

#8968 ISPN-12534 Report missing index annotations
  remote-query/remote-query-server/src/main/java/org/infinispan/query/remote/impl/logging/Log.java
Labels: Trivial :-)

#8960 ISPN-12600 Update Query guide
  core/src/main/java/org/infinispan/configuration/cache/IndexMergeConfiguration.java
  core/src/main/java/org/infinispan/configuration/cache/IndexMergeConfigurationBuilder.java
  core/src/main/java/org/infinispan/configuration/cache/IndexWriterConfiguration.java
  core/src/main/java/org/infinispan/configuration/cache/IndexWriterConfigurationBuilder.java
  core/src/main/java/org/infinispan/configuration/parsing/CacheParser.java
  core/src/main/java/org/infinispan/configuration/serializing/Serializer.java
  core/src/main/resources/schema/infinispan-config-12.0.xsd
  core/src/test/java/org/infinispan/configuration/JsonSerializationTest.java
  documentation/src/main/asciidoc/topics/code_examples/AuthorEmbedded.java
  documentation/src/main/asciidoc/topics/code_examples/BookEmbedded.java
  documentation/src/main/asciidoc/topics/code_examples/IndexBasicConfiguration.java
  documentation/src/main/asciidoc/topics/code_examples/IndexWriterConfig.java
  documentation/src/main/asciidoc/topics/code_examples/QueryExample.java
  documentation/src/main/asciidoc/topics/config_examples/index_manager.xml
  documentation/src/main/asciidoc/topics/config_examples/index_writer.xml
  documentation/src/main/asciidoc/topics/config_examples/indexed_entities.xml
  documentation/src/main/asciidoc/topics/config_examples/indexing.xml
  documentation/src/main/asciidoc/topics/config_examples/indexing_async.xml
  documentation/src/main/asciidoc/topics/config_examples/indexing_async_reader_strategy.xml
  documentation/src/main/asciidoc/topics/config_examples/indexing_filesystem.xml
  documentation/src/main/asciidoc/topics/config_examples/indexing_local_heap.xml
  documentation/src/main/asciidoc/topics/config_examples/indexing_lucene_storage.xml
  documentation/src/main/asciidoc/topics/config_examples/indexing_near_real_time.xml
  documentation/src/main/asciidoc/topics/config_examples/indexing_near_real_time_fs.xml
  documentation/src/main/asciidoc/topics/config_examples/indexing_reader.xml
  documentation/src/main/asciidoc/topics/config_examples/infinispan_distributed_cache_books.xml
  documentation/src/main/asciidoc/topics/config_examples/infinispan_indexmanager.xml
  documentation/src/main/asciidoc/topics/config_examples/library.proto
  documentation/src/main/asciidoc/topics/search.adoc
  query/src/test/java/org/infinispan/query/config/EngineConfigTest.java
Labels: Documentation

#8965 [11.0.x] ISPN-12602 WARN during server start: java.lang.IllegalArgumentException: configList.size
  server/rest/src/main/java/org/infinispan/rest/ALPNHandler.java
  server/rest/src/test/java/org/infinispan/rest/PipelineInitializationTest.java
Labels: Backport

#8982 [11.0.x] ISPN-12594 Exception in cache streams with DENY_READ_WRITES
  core/src/main/java/org/infinispan/reactive/publisher/impl/ClusterPublisherManagerImpl.java
  core/src/main/java/org/infinispan/reactive/publisher/impl/PartitionAwareClusterPublisherManager.java
  core/src/test/java/org/infinispan/stream/DenyReadWritesStreamTest.java
Labels: Backport

#8971 ISPN-12608 maven repos update
  documentation/src/main/asciidoc/stories/assembly_configuring_maven_repository.adoc
  documentation/src/main/asciidoc/topics/proc_adding_maven_repository.adoc
Labels: Documentation

#8983 [11.0.x] ISPN-12608 maven repos update
  documentation/src/main/asciidoc/stories/assembly_configuring_maven_repository.adoc
  documentation/src/main/asciidoc/topics/proc_adding_maven_repository.adoc
Labels: Backport, Documentation

#8989 ISPN-12629 XSD "segmented" description is incorrect
  core/src/main/resources/schema/infinispan-config-12.0.xsd
Labels: Documentation

#8990 [11.x] ISPN-12629 XSD "segmented" description is incorrect
  core/src/main/resources/schema/infinispan-config-11.0.xsd
Labels: Backport, Documentation

#8984 ISPN-12626 marshalling adapter class
  documentation/src/main/asciidoc/stories/assembly_marshalling_user_types.adoc
  documentation/src/main/asciidoc/topics/code_examples/LibraryInitializer.java
  documentation/src/main/asciidoc/topics/code_examples/ProtoAdaptor.java
  documentation/src/main/asciidoc/topics/proc_generating_protostream_sci.adoc
  documentation/src/main/asciidoc/topics/proc_implementing_protostream_sci.adoc
  documentation/src/main/asciidoc/topics/proc_manually_registering_sci.adoc
Labels: Documentation

#8994 ISPN-12637 remove superfluous eviction topic
  documentation/src/main/asciidoc/stories/assembly_configuring_data_container.adoc
  documentation/src/main/asciidoc/topics/con_eviction_custom_classes.adoc
Labels: Documentation, Trivial :-)

#8995 [11.0.x] ISPN-12637 remove superfluous eviction topic
  documentation/src/main/asciidoc/stories/assembly_configuring_data_container.adoc
  documentation/src/main/asciidoc/topics/con_eviction_custom_classes.adoc
Labels: Backport, Documentation, Trivial :-)

#8992 ISPN-12608 maven config docs
  documentation/src/main/asciidoc/topics/proc_adding_maven_repository.adoc
Labels: Documentation

#8991 [11.0.x] ISPN-12608 maven config docs
  documentation/src/main/asciidoc/topics/proc_adding_maven_repository.adoc
Labels: Backport, Documentation

#9000 [11.0.x] ISPN-12626 note message marshaller deprecation
  documentation/src/main/asciidoc/topics/proc_implementing_protostream_sci.adoc
Labels: Documentation, Trivial :-)

#8980 ISPN-12600 Query Docs
  core/src/main/resources/schema/infinispan-config-12.0.xsd
  documentation/src/main/asciidoc/stories/assembly_developing.adoc
  documentation/src/main/asciidoc/stories/assembly_querying.adoc
  documentation/src/main/asciidoc/topics/code_examples/BookEmbedded.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodIndexRemoteCache.java
  documentation/src/main/asciidoc/topics/code_examples/QueryExample.java
  documentation/src/main/asciidoc/topics/code_examples/library.proto
  documentation/src/main/asciidoc/topics/proc_indexing_caches.adoc
  documentation/src/main/asciidoc/topics/proc_indexing_caches_programmatically.adoc
  documentation/src/main/asciidoc/topics/proc_indexing_rebuilding.adoc
  documentation/src/main/asciidoc/topics/ref_indexing_annotations.adoc
  documentation/src/main/asciidoc/topics/ref_indexing_configuration.adoc
  documentation/src/main/asciidoc/topics/ref_query_continuous.adoc
  documentation/src/main/asciidoc/topics/ref_query_embedded.adoc
  documentation/src/main/asciidoc/topics/ref_query_ickle.adoc
  documentation/src/main/asciidoc/topics/ref_query_performance.adoc
  documentation/src/main/asciidoc/topics/ref_query_remote.adoc
  documentation/src/main/asciidoc/topics/ref_query_statistics.adoc
  documentation/src/main/asciidoc/topics/search.adoc
Labels: Documentation

#9002 ISPN-12645 Upgrade console to 0.13.Final
  build-configuration/pom.xml
Labels: Trivial :-)

#9003 Update to jboss marshalling
  documentation/src/main/asciidoc/topics/code_examples/JBossUserMarshaller.java
  documentation/src/main/asciidoc/topics/config_examples/jboss_user_marshaller.xml
  documentation/src/main/asciidoc/topics/proc_using_jboss_marshaller.adoc
Labels: Documentation

#9005 [11.0.x] update to jboss marshalling
  documentation/src/main/asciidoc/topics/code_examples/JBossUserMarshaller.java
  documentation/src/main/asciidoc/topics/config_examples/jboss_user_marshaller.xml
  documentation/src/main/asciidoc/topics/proc_using_jboss_marshaller.adoc
Labels: Backport, Documentation

#9011 ISPN-12658 Fix IracWriteSkewTest test
  core/src/test/java/org/infinispan/xsite/irac/IracWriteSkewTest.java
Labels: Test fix, Trivial :-)

#9009 ISPN-12635 Multimap Bucket can't get replicated in server mode
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/multimap/RemoteMultimapStateTransferTest.java
Labels: Test fix, Trivial :-)

#9015 ISPN-12663 LocalIndexSyncStateTransferTest random failures
  query/src/test/java/org/infinispan/query/blackbox/LocalIndexSyncStateTransferTest.java
Labels: Test fix

#9013 ISPN-12659 StatsTest random failures
  query/src/test/java/org/infinispan/query/distributed/StatsTest.java
Labels: Test fix, Trivial :-)

#9010 ISPN-12651 CacheEntryCloudEventsTest test failures
  cloudevents-integration/pom.xml
  cloudevents-integration/src/test/java/org/infinispan/cloudevents/MockKafkaEventSender.java
Labels: Trivial :-)

#9021 ISPN-12666 ReplicationIndexTest random failures
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/query/ReplicationIndexTest.java
  remote-query/remote-query-server/src/main/java/org/infinispan/query/remote/impl/LifecycleManager.java
Labels: Test fix, Trivial :-)

#9020 [12.0.x] ISPN-12667 GlobalState incompatibility between 11.x and 12.x
  core/src/main/java/org/infinispan/distribution/ch/impl/ReplicatedConsistentHash.java
  core/src/test/java/org/infinispan/globalstate/GlobalStateBackwardsCompatibilityTest.java
Labels: Backport
