Repository infinispan/infinispan, pull requests merged in 2021-07, with the labels that each got.

#9419 [12.1.x] ISPN-13116 Additional sanity checks
  core/src/main/java/org/infinispan/persistence/file/SingleFileStore.java
  core/src/main/java/org/infinispan/util/logging/Log.java
  server/runtime/src/test/java/org/infinispan/server/persistence/EventLoggerRecoverCorruptTest.java
  server/runtime/src/test/resources/sfs/corrupt/___event_log_cache.dat
Labels: Preview

#9424 add upgrade note for SFS cache store
  documentation/src/main/asciidoc/topics/upgrading.adoc
Labels: Documentation

#9421 ISPN-13148 XMLTranscoder can block during reflection
  server/core/src/main/java/org/infinispan/server/core/ServerCoreBlockHoundIntegration.java
Labels: Trivial :-)

#9440 [12.1.x] ISPN-12667 GlobalState incompatibility between 11.x and 12.x
  core/src/main/java/org/infinispan/distribution/ch/impl/ReplicatedConsistentHash.java
  core/src/main/java/org/infinispan/topology/LocalTopologyManagerImpl.java
  core/src/test/java/org/infinispan/globalstate/GlobalStateBackwardsCompatibilityTest.java
Labels: Backport

#9426 ISPN-13156 Multiple instances of XMLTranscoder reuse the same internal object
  server/core/src/main/java/org/infinispan/server/core/dataconversion/XMLTranscoder.java
  server/core/src/main/java/org/infinispan/server/core/dataconversion/xml/XStreamEngine.java
Labels: Test fix, Trivial :-)

#9430 ISPN-12247 upgrade to boot 2.5.x
  build-configuration/pom.xml
  spring/spring-boot/remote/src/test/java/test/org/infinispan/spring/starter/remote/actuator/RemoteCacheMetricBinderTest.java
  spring/spring-boot/remote/src/test/resources/infinispan.xml
Labels: Trivial :-)

#9443 ISPN-13170 hibernate and spring guides
  documentation/src/main/asciidoc/index.asciidoc
  documentation/src/main/asciidoc/stories/assembly_hibernate_cache.adoc
  documentation/src/main/asciidoc/stories/assembly_integrating.adoc
  documentation/src/main/asciidoc/stories/assembly_spring_cache_sessions.adoc
  documentation/src/main/asciidoc/titles/hibernate/hibernate-docinfo-footer.html
  documentation/src/main/asciidoc/titles/hibernate/hibernate-docinfo.html
  documentation/src/main/asciidoc/titles/hibernate/hibernate.asciidoc
  documentation/src/main/asciidoc/titles/hibernate/stories.adoc
  documentation/src/main/asciidoc/titles/spring/spring-docinfo-footer.html
  documentation/src/main/asciidoc/titles/spring/spring-docinfo.html
  documentation/src/main/asciidoc/titles/spring/spring.asciidoc
  documentation/src/main/asciidoc/titles/spring/stories.adoc
  documentation/src/main/asciidoc/topics/con_spring_cache_annotations.adoc
  documentation/src/main/asciidoc/topics/integrations_spring.adoc
  documentation/src/main/asciidoc/topics/proc_adding_spring_cache.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_cache_operation_timeouts.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_spring_cache_provider.adoc
  documentation/src/main/asciidoc/topics/proc_externalizing_spring_session.adoc
  documentation/src/main/asciidoc/topics/ref_hibernate_second_level_cache.adoc
Labels: Documentation

#9445 [12.1.x.] ISPN-13170 hibernate and spring guides
  documentation/src/main/asciidoc/index.asciidoc
  documentation/src/main/asciidoc/stories/assembly_hibernate_cache.adoc
  documentation/src/main/asciidoc/stories/assembly_integrating.adoc
  documentation/src/main/asciidoc/stories/assembly_spring_cache_sessions.adoc
  documentation/src/main/asciidoc/titles/hibernate/hibernate-docinfo-footer.html
  documentation/src/main/asciidoc/titles/hibernate/hibernate-docinfo.html
  documentation/src/main/asciidoc/titles/hibernate/hibernate.asciidoc
  documentation/src/main/asciidoc/titles/hibernate/stories.adoc
  documentation/src/main/asciidoc/titles/spring/spring-docinfo-footer.html
  documentation/src/main/asciidoc/titles/spring/spring-docinfo.html
  documentation/src/main/asciidoc/titles/spring/spring.asciidoc
  documentation/src/main/asciidoc/titles/spring/stories.adoc
  documentation/src/main/asciidoc/topics/con_spring_cache_annotations.adoc
  documentation/src/main/asciidoc/topics/integrations_spring.adoc
  documentation/src/main/asciidoc/topics/proc_adding_spring_cache.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_cache_operation_timeouts.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_spring_cache_provider.adoc
  documentation/src/main/asciidoc/topics/proc_externalizing_spring_session.adoc
  documentation/src/main/asciidoc/topics/ref_hibernate_second_level_cache.adoc
Labels: Backport, Documentation

#9438 ISPN-13161 ClusterExpirationMaxIdleTest.testMaxIdleAccessSuspectedExpiredEntryRefreshesProperly
  commons/all/src/test/java/org/infinispan/commons/time/ControlledTimeService.java
  core/src/test/java/org/infinispan/expiration/impl/ClusterExpirationMaxIdleTest.java
  core/src/test/java/org/infinispan/xsite/AsyncBackupExpirationTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracMaxIdleTest.java
Labels: Test fix, Trivial :-)

#9448 ISPN-13174 Filtering listeners registered with a simple cache receive…
  core/src/main/java/org/infinispan/cache/impl/EncoderCache.java
  core/src/test/java/org/infinispan/notifications/cachelistener/FilterListenerTest.java
Labels: Trivial :-)

#9433 ISPN-13157 file store docs
  documentation/src/main/asciidoc/stories/assembly_cache_store_implementations.adoc
  documentation/src/main/asciidoc/stories/assembly_cache_stores.adoc
  documentation/src/main/asciidoc/stories/assembly_creating_custom_cache_stores.adoc
  documentation/src/main/asciidoc/stories/assembly_persistence.adoc
  documentation/src/main/asciidoc/titles/configuring/stories.adoc
  documentation/src/main/asciidoc/topics/code_examples/ConfigSingleFileStore.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigSingleFileStoreRemote.java
  documentation/src/main/asciidoc/topics/code_examples/ConfigSoftIndexFileStore.java
  documentation/src/main/asciidoc/topics/code_examples/GlobalPersistentLocation.java
  documentation/src/main/asciidoc/topics/con_file_based_cache_stores.adoc
  documentation/src/main/asciidoc/topics/con_filesystem_cache_stores.adoc
  documentation/src/main/asciidoc/topics/config_examples/global_persistent_location.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_custom_file_store.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_file_store.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_single_file_store.xml
  documentation/src/main/asciidoc/topics/config_examples/persistence_soft_index_file_store.xml
  documentation/src/main/asciidoc/topics/proc_configuring_cache_stores.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_file_stores.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_global_persistent_location.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_single_file_stores.adoc
  documentation/src/main/asciidoc/topics/proc_setting_persistent_location.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_sfs.adoc
  documentation/src/main/asciidoc/topics/ref_cache_store_sifs.adoc
  documentation/src/main/asciidoc/topics/upgrading.adoc
Labels: Documentation

#9453 ISPN-13185 EventLoggerRecoverCorruptTest fails due to entries being e…
  server/runtime/src/test/java/org/infinispan/server/persistence/EventLoggerRecoverCorruptTest.java
  server/runtime/src/test/resources/sfs/corrupt/___event_log_cache.dat
Labels: Test fix, Trivial :-)

#9454 [12.1.x] ISPN-13185 EventLoggerRecoverCorruptTest fails due to entries being e…
  server/runtime/src/test/java/org/infinispan/server/persistence/EventLoggerRecoverCorruptTest.java
  server/runtime/src/test/resources/sfs/corrupt/___event_log_cache.dat
Labels: Backport, Test fix

#9456 ISPN-13190 AsyncStoreTest.tearDown - NullPointerException - AsyncNonB…
  core/src/main/java/org/infinispan/persistence/async/AsyncNonBlockingStore.java
  core/src/test/java/org/infinispan/util/PersistenceMockUtil.java
Labels: Test fix, Trivial :-)

#9429 ISPN-13160 Write may block topology update forever
  core/src/main/java/org/infinispan/interceptors/impl/EntryWrappingInterceptor.java
  core/src/main/java/org/infinispan/statetransfer/StateTransferLockImpl.java
  core/src/test/java/org/infinispan/distribution/rehash/NonTxPrimaryOwnerBecomingNonOwnerTest.java
Labels: Test fix

#9461 ISPN-13201 Remove deprecated attribute STABLE.stability_delay
  core/src/main/resources/default-configs/default-jgroups-azure.xml
  core/src/main/resources/default-configs/default-jgroups-ec2.xml
  core/src/main/resources/default-configs/default-jgroups-google.xml
  core/src/main/resources/default-configs/default-jgroups-kubernetes.xml
  core/src/main/resources/default-configs/default-jgroups-tcp.xml
  core/src/main/resources/default-configs/default-jgroups-udp.xml
  core/src/test/resources/configs/config-with-jgroups-stack.xml
  core/src/test/resources/configs/unified/10.0.xml
  core/src/test/resources/configs/unified/10.1.xml
  core/src/test/resources/configs/unified/11.0.xml
  core/src/test/resources/configs/unified/12.0.xml
  core/src/test/resources/configs/unified/12.1.xml
  core/src/test/resources/configs/unified/13.0.xml
  core/src/test/resources/configs/xsite/bridge.xml
  core/src/test/resources/configs/xsite/xsite-inline-test.xml
  core/src/test/resources/stacks/tcp.xml
  core/src/test/resources/stacks/tcp_mping/tcp1.xml
  core/src/test/resources/stacks/tcp_mping/tcp2.xml
  core/src/test/resources/stacks/udp.xml
  documentation/src/main/asciidoc/topics/config_examples/jgroups_inline_stack.xml
  hibernate/cache-commons/src/test/resources/2lc-test-tcp.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-krb-node0.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-krb-node1-fail.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-krb-node1.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-md5-node0.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-md5-node1.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-md5-user-node0.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-prop-handler-node0.xml
  integrationtests/security-it/src/test/resources/jgroups-tcp-sasl-prop-handler-node1.xml
  persistence/jdbc/src/test/resources/configs/as7/jdbc-standalone.xml
  tools/src/test/resources/udp.xml
Labels: Trivial :-)

#9467 ISPN-13208 Create profile to disable marshallers
  build-configuration/bom/pom.xml
  client/marshaller/pom.xml
Labels: Trivial :-)
