Repository infinispan/infinispan, pull requests merged in 2021-05, with the labels that each got.

#9284 [12.1] ISPN-12955 Clearer Hot Rod error when user is not authenticated
  server/hotrod/src/main/java/org/infinispan/server/hotrod/logging/Log.java
Labels: Backport, Urgent!

#9288 ISPN-13003 Console 0.14.2.Final
  build-configuration/pom.xml
Labels: Trivial :-), Urgent!

#9292 ISPN-13010 fix wrong calculation of expiration check
  documentation/src/main/asciidoc/topics/con_expiration_overview.adoc
Labels: Documentation

#9302 ISPN-13010 fix wrong calculation of expiration check
  documentation/src/main/asciidoc/topics/con_expiration_overview.adoc
Labels: Backport, Documentation

#9232 ISPN-12938 Improve some error messages for cross-site replication
  core/src/main/java/org/infinispan/remoting/transport/SiteAddress.java
  core/src/main/java/org/infinispan/remoting/transport/jgroups/SingleSiteRequest.java
  core/src/main/java/org/infinispan/util/logging/Log.java
  core/src/main/java/org/infinispan/xsite/status/DefaultTakeOfflineManager.java
Labels: Trivial :-)

#9315 ISPN-13039 Upgrade commons-io to 2.8.0
  pom.xml
Labels: Trivial :-)

#9305 [11.0.x] ISPN-13028 docs mention allowlist
  documentation/src/main/asciidoc/topics/code_examples/JBossUserMarshaller.java
  documentation/src/main/asciidoc/topics/config_examples/jboss_user_marshaller.xml
  documentation/src/main/asciidoc/topics/proc_adding_deserialization_whitelist.adoc
  documentation/src/main/asciidoc/topics/proc_using_custom_marshallers.adoc
  documentation/src/main/asciidoc/topics/proc_using_java_serialization.adoc
  documentation/src/main/asciidoc/topics/proc_using_jboss_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_kyro_marshaller.adoc
  documentation/src/main/asciidoc/topics/proc_using_protostuff_marshaller.adoc
Labels: Documentation

#9326 ISPN-12877 ConfigurationSerializerTest.testParser fails randomly
  counter/src/test/java/org/infinispan/counter/ConfigurationSerializerTest.java
  counter/src/test/resources/config/invalid.xml
Labels: Test fix

#9327 ISPN-13050 Gustavo's encoding doc review
  documentation/src/main/asciidoc/topics/con_cache_encoding.adoc
  documentation/src/main/asciidoc/topics/con_protobuf_encoding.adoc
  documentation/src/main/asciidoc/topics/con_text_encoding.adoc
Labels: Documentation

#9333 ISPN-13033 fix broken doc ref
  documentation/src/main/asciidoc/stories/assembly_encrypting_cluster_traffic.adoc
  documentation/src/main/asciidoc/stories/assembly_setting_up_clusters.adoc
Labels: Documentation, Trivial :-)

#9334 [12.1.x] ISPN-13033 fix broken doc ref
  documentation/src/main/asciidoc/stories/assembly_encrypting_cluster_traffic.adoc
  documentation/src/main/asciidoc/stories/assembly_setting_up_clusters.adoc
Labels: Backport, Documentation, Trivial :-)

#9336 ISPN-13056 server doc duplicate include
  documentation/src/main/asciidoc/stories/assembly_server_security.adoc
  documentation/src/main/asciidoc/stories/assembly_server_security_identity.adoc
  documentation/src/main/asciidoc/titles/server/stories.adoc
Labels: Documentation

#9338 [12.1.x] ISPN-13056 server doc duplicate include
  documentation/src/main/asciidoc/stories/assembly_server_security.adoc
  documentation/src/main/asciidoc/stories/assembly_server_security_identity.adoc
  documentation/src/main/asciidoc/titles/server/stories.adoc
Labels: Backport, Documentation

#9335 ISPN-13052 Hot Rod Java client doc updates
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/configuration/package-info.java
  documentation/pom.xml
  documentation/src/main/asciidoc/stories/assembly_hotrod_client_api.adoc
  documentation/src/main/asciidoc/stories/assembly_hotrod_client_configuration.adoc
  documentation/src/main/asciidoc/stories/assembly_hotrod_clients.adoc
  documentation/src/main/asciidoc/topics/code_examples/HotRodAddCluster.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodClientInstance.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodClientIntelligence.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodClientProperties.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodClientStatistics.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodConnectionPools.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodCreateCacheWithXML.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodCreatePerCache.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodCustomCBH.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodCustomRequestBalancing.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodDefaultCluster.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodDigest.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodExternal.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodForceReturn.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodForceReturnPerCache.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodGSSAPI.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodOAuthBearer.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodOAuthBearerTokenCBH.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodPlain.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodScram.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodTLS.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodUri.java
  documentation/src/main/asciidoc/topics/code_examples/RequestBalancing.java
  documentation/src/main/asciidoc/topics/con_client_intelligence.adoc
  documentation/src/main/asciidoc/topics/con_hotrod.adoc
  documentation/src/main/asciidoc/topics/con_hotrod_client_intelligence.adoc
  documentation/src/main/asciidoc/topics/con_hotrod_request_balancing.adoc
  documentation/src/main/asciidoc/topics/con_xsite_state_transfer.adoc
  documentation/src/main/asciidoc/topics/config_examples/hotrod-client-connection-pool.properties
  documentation/src/main/asciidoc/topics/config_examples/hotrod-client-intelligence.properties
  documentation/src/main/asciidoc/topics/config_examples/hotrod-client.properties
  documentation/src/main/asciidoc/topics/config_examples/hotrod-custom-balancing.properties
  documentation/src/main/asciidoc/topics/config_examples/hotrod-uri.properties
  documentation/src/main/asciidoc/topics/proc_adding_hotrod_client_dependencies.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_authentication.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_clusters.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_connection_pools.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_encryption.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_java_client_properties.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_java_clients.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_jmx.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_percache.adoc
  documentation/src/main/asciidoc/topics/proc_creating_caches_hotrod.adoc
  documentation/src/main/asciidoc/topics/proc_creating_caches_hotrod_onaccess.adoc
  documentation/src/main/asciidoc/topics/proc_creating_hotrod_java_client_instances.adoc
  documentation/src/main/asciidoc/topics/proc_forcing_return_values.adoc
  documentation/src/main/asciidoc/topics/proc_switching_hotrod_clusters.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_basic_api.adoc
Labels: Documentation

#9339 [12.1.x] ISPN-13052 Hot Rod Java client doc updates
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/configuration/package-info.java
  documentation/pom.xml
  documentation/src/main/asciidoc/stories/assembly_hotrod_client_api.adoc
  documentation/src/main/asciidoc/stories/assembly_hotrod_client_configuration.adoc
  documentation/src/main/asciidoc/stories/assembly_hotrod_clients.adoc
  documentation/src/main/asciidoc/topics/code_examples/HotRodAddCluster.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodClientInstance.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodClientIntelligence.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodClientProperties.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodClientStatistics.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodConnectionPools.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodCreateCacheWithXML.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodCreatePerCache.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodCustomCBH.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodCustomRequestBalancing.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodDefaultCluster.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodDigest.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodExternal.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodForceReturn.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodForceReturnPerCache.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodGSSAPI.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodOAuthBearer.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodOAuthBearerTokenCBH.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodPlain.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodScram.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodTLS.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodUri.java
  documentation/src/main/asciidoc/topics/code_examples/RequestBalancing.java
  documentation/src/main/asciidoc/topics/con_client_intelligence.adoc
  documentation/src/main/asciidoc/topics/con_hotrod.adoc
  documentation/src/main/asciidoc/topics/con_hotrod_client_intelligence.adoc
  documentation/src/main/asciidoc/topics/con_hotrod_request_balancing.adoc
  documentation/src/main/asciidoc/topics/con_xsite_state_transfer.adoc
  documentation/src/main/asciidoc/topics/config_examples/hotrod-client-connection-pool.properties
  documentation/src/main/asciidoc/topics/config_examples/hotrod-client-intelligence.properties
  documentation/src/main/asciidoc/topics/config_examples/hotrod-client.properties
  documentation/src/main/asciidoc/topics/config_examples/hotrod-custom-balancing.properties
  documentation/src/main/asciidoc/topics/config_examples/hotrod-uri.properties
  documentation/src/main/asciidoc/topics/proc_adding_hotrod_client_dependencies.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_authentication.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_clusters.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_connection_pools.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_encryption.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_java_client_properties.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_java_clients.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_jmx.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_hotrod_percache.adoc
  documentation/src/main/asciidoc/topics/proc_creating_caches_hotrod.adoc
  documentation/src/main/asciidoc/topics/proc_creating_caches_hotrod_onaccess.adoc
  documentation/src/main/asciidoc/topics/proc_creating_hotrod_java_client_instances.adoc
  documentation/src/main/asciidoc/topics/proc_forcing_return_values.adoc
  documentation/src/main/asciidoc/topics/proc_switching_hotrod_clusters.adoc
  documentation/src/main/asciidoc/topics/ref_hotrod_basic_api.adoc
Labels: Backport, Documentation

#9343 [12.1.x] ISPN-13052 fix Hot Rod doc link
  documentation/src/main/asciidoc/stories/assembly_configuring_maven_repository.adoc
  documentation/src/main/asciidoc/stories/assembly_hotrod_clients.adoc
Labels: Backport, Documentation, Trivial :-)

#9344 ISPN-13052 correct Hot Rod config examples
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/configuration/package-info.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodConnectionPools.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodCreateCacheWithXML.java
  documentation/src/main/asciidoc/topics/config_examples/hotrod-client-connection-pool.properties
Labels: Documentation

#9345 [12.1.x] ISPN-13052 correct Hot Rod config examples
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/configuration/package-info.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodConnectionPools.java
  documentation/src/main/asciidoc/topics/code_examples/HotRodCreateCacheWithXML.java
  documentation/src/main/asciidoc/topics/config_examples/hotrod-client-connection-pool.properties
Labels: Backport, Documentation

#9328 [12.1.x] ISPN-12981 Move NullValue to commons
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/RemoteCacheManager.java
  commons/all/src/main/java/org/infinispan/commons/marshall/ProtoStreamTypeIds.java
  commons/all/src/main/java/org/infinispan/commons/marshall/UserContextInitializer.java
  commons/all/src/main/java/org/infinispan/commons/util/NullValue.java
  core/src/main/java/org/infinispan/marshall/protostream/impl/SerializationContextRegistryImpl.java
  remote-query/remote-query-server/src/main/java/org/infinispan/query/remote/impl/ProtobufMetadataManagerImpl.java
  spring/spring5/spring5-common/src/main/java/org/infinispan/spring/common/provider/NullValue.java
  spring/spring5/spring5-common/src/main/java/org/infinispan/spring/common/provider/SpringCache.java
  spring/spring5/spring5-embedded/src/main/java/org/infinispan/spring/embedded/SpringEmbeddedModule.java
  spring/spring5/spring5-embedded/src/test/java/org/infinispan/spring/embedded/provider/SpringCacheTest.java
  spring/spring5/spring5-remote/src/main/java/org/infinispan/spring/remote/provider/SpringRemoteCacheManager.java
  spring/spring5/spring5-remote/src/test/java/org/infinispan/spring/remote/provider/SpringRemoteCacheTest.java
Labels: Backport

#9316 [12.1] ISPN-13039 Upgrade commons-io to 2.8.0
  pom.xml
Labels: Backport, Trivial :-)

#9268 [12.1.x] JDG-4548 ISPN-11121 Single file store fails to start with security manager
  core/src/main/java/org/infinispan/factories/impl/SecurityActions.java
  core/src/main/java/org/infinispan/persistence/file/SecurityActions.java
  core/src/main/java/org/infinispan/persistence/file/SingleFileStore.java
Labels: Backport

#9323 [12.1.x] ISPN-13049 RollingUpgrade should not timeout
  persistence/remote/src/main/java/org/infinispan/persistence/remote/upgrade/HotRodTargetMigrator.java
Labels: Trivial :-)

#9347 ISPN-13072 Treat all HTTP authentication failures as such
  server/rest/src/main/java/org/infinispan/rest/RestRequestHandler.java
  server/tests/src/test/java/org/infinispan/server/security/authentication/RestAuthentication.java
Labels: Urgent!

#9348 [12.1] ISPN-13072 Treat all HTTP authentication failures as such
  server/rest/src/main/java/org/infinispan/rest/RestRequestHandler.java
  server/tests/src/test/java/org/infinispan/server/security/authentication/RestAuthentication.java
Labels: Urgent!

#9349 [11.0] ISPN-13072 Treat all HTTP authentication failures as such
  server/rest/src/main/java/org/infinispan/rest/RestRequestHandler.java
  server/tests/src/test/java/org/infinispan/server/security/authentication/RestAuthentication.java
Labels: Urgent!
