Repository infinispan/infinispan, pull requests merged in 2022-10, with the labels that each got.

#10366 ISPN-14190 NullPointerException when computing Netty global connections
  server/core/src/main/java/org/infinispan/server/core/transport/NettyTransportConnectionStats.java
Labels: Trivial :-)

#10361 cache-naming-char-limit:Document cache naming character limits
  documentation/src/main/asciidoc/topics/ref_infinispan_caches.adoc
Labels: Documentation

#10374 ISPN-14206 Update console to 14.0.1.Final
  build/configuration/pom.xml
Labels: Trivial :-)

#10375 Make the server/datasources/connection-factory/connection-property unbounded
  server/runtime/src/main/resources/schema/infinispan-server-14.0.xsd
Labels: Trivial :-)

#10386 ISPN-14221 Expose the number of io-thread for endpoints
  server/core/src/main/java/org/infinispan/server/core/transport/NettyTransport.java
Labels: Trivial :-)

#10382 ISPN-14072: Document incompatible mechanisms with LDAP realms
  documentation/src/main/asciidoc/topics/ref_endpoints_authentication_mechanisms.adoc
Labels: Documentation

#10369 [13.0] ISPN-14187 SoftIndexFileStore not removing log files with expiration
  commons/all/src/test/java/org/infinispan/commons/time/ControlledTimeService.java
  core/src/main/java/org/infinispan/persistence/sifs/Compactor.java
  core/src/main/java/org/infinispan/persistence/sifs/EntryRecord.java
  core/src/main/java/org/infinispan/persistence/sifs/LogAppender.java
  core/src/test/java/org/infinispan/persistence/sifs/SoftIndexFileStoreFileStatsTest.java
  core/src/test/java/org/infinispan/persistence/sifs/SoftIndexFileStoreFunctionalTest.java
  core/src/test/java/org/infinispan/util/concurrent/BlockingManagerTestUtil.java
Labels: Backport

#10379 ISPN-14207 Make MemcachedDecoder non blocking
  server/memcached/pom.xml
  server/memcached/src/main/java/org/infinispan/server/memcached/LifecycleCallbacks.java
  server/memcached/src/main/java/org/infinispan/server/memcached/MemcachedDecoder.java
  server/memcached/src/main/java/org/infinispan/server/memcached/MemcachedDecoderState.java
  server/memcached/src/main/java/org/infinispan/server/memcached/MemcachedMetadata.java
  server/memcached/src/main/java/org/infinispan/server/memcached/MemcachedOperation.java
  server/memcached/src/main/java/org/infinispan/server/memcached/MemcachedServer.java
  server/memcached/src/main/java/org/infinispan/server/memcached/PersistenceContextInitializer.java
  server/memcached/src/main/java/org/infinispan/server/memcached/TextProtocolUtil.java
  server/memcached/src/main/java/org/infinispan/server/memcached/configuration/MemcachedServerConfiguration.java
  server/memcached/src/main/java/org/infinispan/server/memcached/configuration/MemcachedServerConfigurationBuilder.java
  server/memcached/src/main/java/org/infinispan/server/memcached/configuration/package-info.java
  server/memcached/src/main/java/org/infinispan/server/memcached/logging/Log.java
  server/memcached/src/test/java/org/infinispan/server/memcached/test/MemcachedBlockHoundIntegration.java
  server/tests/src/test/java/org/infinispan/server/functional/MemcachedOperations.java
Labels: Performance ACK required!

#10352 [13.0] ISPN-13461 Cache should stop if the initial state transfer times out
  core/src/main/java/org/infinispan/cache/impl/CacheImpl.java
  core/src/test/java/org/infinispan/statetransfer/StateTransferFunctionalTest.java
Labels: Backport

#10408 [14.0] ISPN-14247 Drop snakeyaml dependency from everywhere
  cli/pom.xml
  cli/src/main/java/org/infinispan/cli/commands/kubernetes/Kube.java
  cli/src/main/java/org/infinispan/cli/util/Utils.java
  commons/all/src/main/java/org/infinispan/commons/configuration/io/yaml/YamlConfigurationReader.java
  commons/all/src/test/java/org/infinispan/commons/configuration/io/yaml/YamlConfigurationReaderTest.java
  commons/all/src/test/resources/identities.yaml
  pom.xml
  server/rest/pom.xml
  server/rest/src/test/java/org/infinispan/rest/resources/CacheResourceV2Test.java
Labels: Backport

#10413 minor docs fixes
  documentation/src/main/asciidoc/stories/assembly_resp_endpoint.adoc
  documentation/src/main/asciidoc/titles/xsite/stories.adoc
  documentation/src/main/asciidoc/topics/multimapcache.adoc
Labels: Trivial :-), Documentation

#10414 [14.0.x] minor docs fixes
  documentation/src/main/asciidoc/stories/assembly_resp_endpoint.adoc
  documentation/src/main/asciidoc/titles/xsite/stories.adoc
  documentation/src/main/asciidoc/topics/multimapcache.adoc
Labels: Trivial :-), Backport, Documentation

#10380 ISPN-14213: Add a statement why we provide no performance numbers
  documentation/src/main/asciidoc/stories/assembly_deployment_planning.adoc
  documentation/src/main/asciidoc/topics/con_performance_metric_considerations.adoc
Labels: Documentation

#10418 ISPN-14267 fix duplicated id
  documentation/src/main/asciidoc/topics/ref_rest_servers.adoc
Labels: Trivial :-), Documentation

#10419 ISPN-14267 fix duplicated id
  documentation/src/main/asciidoc/topics/ref_rest_servers.adoc
Labels: Trivial :-), Documentation
