Repository infinispan/infinispan, pull requests merged in 2022-07, with the labels that each got.

#10206 ISPN-13990 Do not block threads in BlockingLocalTopologyManager
  core/src/test/java/org/infinispan/util/AbstractControlledLocalTopologyManager.java
  core/src/test/java/org/infinispan/util/BlockingLocalTopologyManager.java
Labels: Trivial :-), Test fix

#10191 [13.0.x]ISPN-13976 fix indentation in sec roles examples
  documentation/src/main/asciidoc/topics/yaml/infinispan_authz_custom_roles.yaml
  documentation/src/main/asciidoc/topics/yaml/server_client_certificate_authz.yaml
Labels: Backport, Documentation

#10216 ISPN-14001 Update console 14.0.0.Dev04
  build/configuration/pom.xml
Labels: Trivial :-)

#10201 ISPN-13981: Restore the Enabling JMX remote ports module on the 13.0.x branch
  documentation/src/main/asciidoc/topics/proc_enabling_jmx_port.adoc
Labels: Documentation

#10227 ISPN-14022 Upgrade log4j to 2.18.0
  build/configuration/pom.xml
Labels: Trivial :-)

#10233 ISPN-13248
  documentation/src/main/asciidoc/topics/con_hotrod_client_intelligence.adoc
Labels: Backport, Documentation

#10092 ISPN-13834 Create single REST endpoint for all container events
  core/src/main/java/org/infinispan/security/actions/AddCacheManagerListenerAsyncAction.java
  core/src/main/java/org/infinispan/security/actions/AddLoggerListenerAsyncAction.java
  core/src/main/java/org/infinispan/topology/LocalTopologyManagerImpl.java
  core/src/main/java/org/infinispan/util/logging/events/impl/BaseEventLog.java
  core/src/main/java/org/infinispan/util/logging/events/impl/DecoratedEventLogger.java
  documentation/src/main/asciidoc/topics/ref_rest_cache_managers.adoc
  server/rest/src/main/java/org/infinispan/rest/resources/ContainerResource.java
  server/rest/src/main/java/org/infinispan/rest/resources/SecurityActions.java
  server/rest/src/test/java/org/infinispan/rest/resources/SSEListener.java
  server/rest/src/test/java/org/infinispan/rest/resources/WeakSSEListener.java
  server/runtime/src/main/java/org/infinispan/server/logging/events/ServerEventImpl.java
  server/runtime/src/test/java/org/infinispan/server/configuration/ServerEventLoggerTest.java
  server/tests/src/test/java/org/infinispan/server/functional/RestOperations.java
  server/tests/src/test/java/org/infinispan/server/security/authorization/AbstractAuthorization.java
Labels: Changes Required
