Repository infinispan/infinispan, pull requests merged in 2022-11, with the labels that each got.

#10421 ISPN-14267 docs fixes
  documentation/src/main/asciidoc/titles/embedding/stories.adoc
  documentation/src/main/asciidoc/topics/proc_cli_statistics.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_jmx_port.adoc
Labels: Trivial :-), Documentation

#10424 [14.0.x] Add a statement why we provide no performance numbers
  documentation/src/main/asciidoc/stories/assembly_deployment_planning.adoc
  documentation/src/main/asciidoc/topics/attributes/community-attributes.adoc
  documentation/src/main/asciidoc/topics/con_performance_metrics_considerations.adoc
Labels: Backport, Documentation

#10429 [14.0.x]ISPN-14267-14 fix docs formatting
  documentation/src/main/asciidoc/titles/embedding/stories.adoc
  documentation/src/main/asciidoc/topics/proc_cli_statistics.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_jmx_port.adoc
Labels: Trivial :-), Documentation

#10444 ISPN-14213-fix-filename: Fix filename for con_performance_metrics_considerations
  documentation/src/main/asciidoc/stories/assembly_deployment_planning.adoc
Labels: Documentation

#10427 ISPN-14273 fixes docs errors and config examples in the CLI guide
  documentation/src/main/asciidoc/topics/json/distributed_cache.json
  documentation/src/main/asciidoc/topics/json/replicated_cache.json
  documentation/src/main/asciidoc/topics/proc_creating_caches_cli.adoc
  documentation/src/main/asciidoc/topics/ref_cli_resource_tree.adoc
  documentation/src/main/asciidoc/topics/ref_infinispan_caches.adoc
  documentation/src/main/asciidoc/topics/ref_listeners_synchronicity.adoc
  documentation/src/main/asciidoc/topics/xml/distributed_cache.xml
  documentation/src/main/asciidoc/topics/xml/replicated_cache.xml
  documentation/src/main/asciidoc/topics/yaml/distributed_cache.yaml
  documentation/src/main/asciidoc/topics/yaml/replicated_cache.yaml
Labels: Urgent!, Documentation

#10449 [14.0.x]ISPN-14273 fixes docs errors and config examples in the CLI guide
  documentation/src/main/asciidoc/topics/json/distributed_cache.json
  documentation/src/main/asciidoc/topics/json/replicated_cache.json
  documentation/src/main/asciidoc/topics/proc_creating_caches_cli.adoc
  documentation/src/main/asciidoc/topics/ref_cli_resource_tree.adoc
  documentation/src/main/asciidoc/topics/ref_infinispan_caches.adoc
  documentation/src/main/asciidoc/topics/ref_listeners_synchronicity.adoc
  documentation/src/main/asciidoc/topics/xml/distributed_cache.xml
  documentation/src/main/asciidoc/topics/xml/replicated_cache.xml
  documentation/src/main/asciidoc/topics/yaml/distributed_cache.yaml
  documentation/src/main/asciidoc/topics/yaml/replicated_cache.yaml
Labels: Backport, Documentation

#10441 ISPN-14290 fix ldap yaml config example
  documentation/src/main/asciidoc/topics/yaml/server_ldap_realm.yaml
Labels: Documentation

#10443 [13.0.x]ISPN-14290 fix ldap yaml config example
  documentation/src/main/asciidoc/topics/yaml/server_ldap_realm.yaml
Labels: Backport, Documentation

#10442 [14.0.x]ISPN-14290 fix ldap yaml config example
  documentation/src/main/asciidoc/topics/yaml/server_ldap_realm.yaml
Labels: Backport, Documentation

#10439 ISPN-14287 Remove extended-statistics module
  build/bom/pom.xml
  distribution/pom.xml
  documentation/src/main/asciidoc/topics/upgrading.adoc
  extended-statistics/pom.xml
  extended-statistics/src/main/java/org/infinispan/extendedstats/CacheStatisticCollector.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/CacheStatisticManager.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/ExtendedStatisticNotFoundException.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/LocalTransactionStatistics.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/Module.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/RemoteTransactionStatistics.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/TransactionStatistics.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/container/BaseExtendedStatisticsContainer.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/container/ConcurrentGlobalContainer.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/container/ExtendedStatistic.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/container/ExtendedStatisticsContainer.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/container/LocalExtendedStatisticsContainer.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/container/RemoteExtendedStatisticsContainer.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/container/StatisticsSnapshot.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/logging/Log.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/package-info.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/percentiles/PercentileStatistic.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/percentiles/ReservoirSampler.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/topK/CacheUsageInterceptor.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/topK/StreamSummaryContainer.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/wrappers/ExtendedStatisticInterceptor.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/wrappers/ExtendedStatisticLockManager.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/wrappers/ExtendedStatisticRpcManager.java
  extended-statistics/src/main/java/org/infinispan/extendedstats/wrappers/TopKeyLockManager.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/AbstractTopKeyTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/BaseClusterTopKeyTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/BaseClusteredExtendedStatisticTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/BaseTxClusterExtendedStatisticLogicTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/ConcurrentContainerTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/TestsModule.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/logic/LocalTxClusterExtendedStatisticLogicTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/logic/OptimisticLockingTxClusterExtendedStatisticLogicTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/logic/PessimisticLockingTxClusterExtendedStatisticLogicTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/logic/SyncDistTxClusterExtendedStatisticLogicTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/logic/SyncReplTxClusterExtendedStatisticLogicTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/simple/LocalExtendedStatisticTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/simple/SyncDistExtendedStatisticTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/simple/SyncReplExtendedStatisticTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/topK/DistTopKeyTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/topK/LocalTopKeyTest.java
  extended-statistics/src/test/java/org/infinispan/extendedstats/topK/ReplTopKeyTest.java
  extended-statistics/src/test/resources/log4j.xml
  javadoc/pom.xml
  pom.xml
Labels: Trivial :-), Documentation

#10230 ISPN-14024: Expand upon JVM heap space allocation content
  documentation/src/main/asciidoc/topics/con_jvm_heap_memory_allocation.adoc
Labels: Backport, Documentation

#10465 ISPN-14024-14:Expand upon JVM heap space allocation content
  documentation/src/main/asciidoc/topics/con_jvm_heap_memory_allocation.adoc
Labels: Documentation

#10469 [14.0.x] ISPN-14324 docs updates and fixes
  documentation/src/main/asciidoc/topics/proc_cli_batching_interactive.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_jmx_port.adoc
  documentation/src/main/asciidoc/topics/upgrading.adoc
  documentation/src/main/asciidoc/topics/xml/persistence_sql_query.xml
Labels: Backport, Documentation

#10463 ISPN-14324 docs updates
  documentation/src/main/asciidoc/topics/proc_cli_batching_interactive.adoc
  documentation/src/main/asciidoc/topics/proc_enabling_jmx_port.adoc
  documentation/src/main/asciidoc/topics/upgrading.adoc
  documentation/src/main/asciidoc/topics/xml/persistence_sql_query.xml
Labels: Question, Documentation

#10471 ISPN-14331 downstream: note that resp is a tech preview
  documentation/src/main/asciidoc/stories/assembly_resp_endpoint.adoc
Labels: Trivial :-), Documentation

#10472 [14.0.x]ISPN-14331 add tech preview module
  documentation/src/main/asciidoc/topics/ref_tech_preview.adoc
Labels: Trivial :-), Documentation

#10478 [14.0.x] ISPN-14333 fix code snippets in the embedded doc
  documentation/src/main/asciidoc/topics/code_examples/GlobalAuthorizationConfiguration.java
  documentation/src/main/asciidoc/topics/code_examples/MutableRolePermissionMapper.java
  documentation/src/main/asciidoc/topics/proc_adding_authorization_roles.adoc
  documentation/src/main/asciidoc/topics/proc_configuring_authorization_embedded.adoc
  documentation/src/main/asciidoc/topics/proc_executing_secure_caches.adoc
Labels: Documentation

#10440 ISPN-14288 Remove kryo and protostuff marshallers
  build/bom/pom.xml
  build/configuration/pom.xml
  client/marshaller/kryo/kryo-marshaller-compatibility-bundle/pom.xml
  client/marshaller/kryo/kryo-marshaller-compatibility-bundle/src/main/resources/README.txt
  client/marshaller/kryo/kryo-marshaller-compatibility-bundle/src/test/resources/README.txt
  client/marshaller/kryo/kryo-marshaller/pom.xml
  client/marshaller/kryo/kryo-marshaller/src/main/java/org/infinispan/marshaller/kryo/KryoMarshaller.java
  client/marshaller/kryo/kryo-marshaller/src/main/java/org/infinispan/marshaller/kryo/KryoTranscoder.java
  client/marshaller/kryo/kryo-marshaller/src/main/java/org/infinispan/marshaller/kryo/SerializerRegistryService.java
  client/marshaller/kryo/kryo-marshaller/src/test/java/org/infinispan/marshaller/kryo/KryoInteropTest.java
  client/marshaller/kryo/kryo-marshaller/src/test/java/org/infinispan/marshaller/kryo/KryoMarshallingTest.java
  client/marshaller/kryo/kryo-marshaller/src/test/java/org/infinispan/marshaller/kryo/SerializerRegistryProvider.java
  client/marshaller/kryo/kryo-marshaller/src/test/java/org/infinispan/marshaller/kryo/UserSerializer.java
  client/marshaller/kryo/kryo-marshaller/src/test/resources/META-INF/services/org.infinispan.marshaller.kryo.SerializerRegistryService
  client/marshaller/marshaller-tests/pom.xml
  client/marshaller/marshaller-tests/src/test/java/org/infinispan/marshaller/test/AbstractInteropTest.java
  client/marshaller/marshaller-tests/src/test/java/org/infinispan/marshaller/test/AbstractMarshallingTest.java
  client/marshaller/marshaller-tests/src/test/java/org/infinispan/marshaller/test/TestObject.java
  client/marshaller/marshaller-tests/src/test/java/org/infinispan/marshaller/test/User.java
  client/marshaller/pom.xml
  client/marshaller/protostuff/protostuff-marshaller-compatibility-bundle/pom.xml
  client/marshaller/protostuff/protostuff-marshaller-compatibility-bundle/src/main/resources/README.txt
  client/marshaller/protostuff/protostuff-marshaller-compatibility-bundle/src/test/resources/README.txt
  client/marshaller/protostuff/protostuff-marshaller/pom.xml
  client/marshaller/protostuff/protostuff-marshaller/src/main/java/org/infinispan/marshaller/protostuff/ProtostuffMarshaller.java
  client/marshaller/protostuff/protostuff-marshaller/src/main/java/org/infinispan/marshaller/protostuff/ProtostuffTranscoder.java
  client/marshaller/protostuff/protostuff-marshaller/src/main/java/org/infinispan/marshaller/protostuff/SchemaRegistryService.java
  client/marshaller/protostuff/protostuff-marshaller/src/main/java/org/infinispan/marshaller/protostuff/Wrapper.java
  client/marshaller/protostuff/protostuff-marshaller/src/test/java/org/infinispan/marshaller/protostuff/ProtostuffInteropTest.java
  client/marshaller/protostuff/protostuff-marshaller/src/test/java/org/infinispan/marshaller/protostuff/ProtostuffMarshallingTest.java
  client/marshaller/protostuff/protostuff-marshaller/src/test/java/org/infinispan/marshaller/protostuff/SchemaRegistryProvider.java
  client/marshaller/protostuff/protostuff-marshaller/src/test/java/org/infinispan/marshaller/protostuff/UserSchema.java
  client/marshaller/protostuff/protostuff-marshaller/src/test/resources/META-INF/services/org.infinispan.marshaller.protostuff.SchemaRegistryService
  commons/all/src/main/java/org/infinispan/commons/dataconversion/MediaType.java
  documentation/src/main/asciidoc/topics/upgrading.adoc
  pom.xml
Labels: Trivial :-), Documentation

#10453 [13.0] ISPN-14053 Use WildFly OpenSSL 2.2.5
  build-configuration/pom.xml
  pom.xml
  server/rest/pom.xml
  server/router/pom.xml
Labels: Backport

#10473 ISPN-14331 add tech preview module
  documentation/src/main/asciidoc/topics/ref_tech_preview.adoc
Labels: Trivial :-), Documentation

#10491 [14.x] ISPN-14346 Upgrade JGroups to 5.2.10.Final
  build/configuration/pom.xml
Labels: Backport

#10435 ISPN-14282 Spring Boot actuator embedded metrics use deprecated code
  spring/spring-boot/embedded/src/main/java/org/infinispan/spring/starter/embedded/actuator/InfinispanCacheMeterBinder.java
Labels: Trivial :-)

#10437 [14.0] ISPN-14260 Use local in-memory reads for the ClusterRoleMapper to avo…
  core/src/main/java/org/infinispan/security/mappers/ClusterPermissionMapper.java
  core/src/main/java/org/infinispan/security/mappers/ClusterRoleMapper.java
  core/src/test/java/org/infinispan/security/DynamicRBACTest.java
Labels: Backport

#10495 [14.0] ISPN-14356 Set default datasource max-size
  server/runtime/src/main/java/org/infinispan/server/configuration/DataSourceConfiguration.java
  server/runtime/src/main/resources/schema/infinispan-server-14.0.xsd
Labels: Trivial :-)
