Repository infinispan/infinispan, pull requests merged in 2024-09, with the labels that each got.

#12821 ISPN-16481 Hybrid remote queries statistics seem incorrect
  query-core/src/main/java/org/infinispan/query/core/impl/BaseEmbeddedQuery.java
  query-core/src/main/java/org/infinispan/query/core/impl/EmbeddedQuery.java
  query-core/src/main/java/org/infinispan/query/core/impl/HybridQuery.java
Labels: 15.0.x

#12825 ISPN-16486 Flaky test: org.infinispan.server.resp.RespBxPOPTest#testB…
  server/resp/src/test/java/org/infinispan/server/resp/RespBxPOPTest.java
Labels: Trivial :-), Test fix

#12818 Fix test name and category
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/retry/ReceiveTransactionExceptionTest.java
Labels: Trivial :-), Test fix

#12840 ISPN-16495 Flaky test: org.infinispan.client.hotrod.impl.transport.ne…
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/impl/transport/netty/ChannelCloseAndInactiveTest.java
Labels: Trivial :-), Test fix

#12838 ISPN-16500 Fix IRAC backoff flaky tests
  core/src/main/java/org/infinispan/xsite/irac/IracManagerKeyChangedState.java
  core/src/test/java/org/infinispan/xsite/irac/ControlledExponentialBackOff.java
  core/src/test/java/org/infinispan/xsite/irac/Irac3SitesExponentialBackOffTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracExponentialBackOffTest.java
Labels: Trivial :-), Test fix, 15.0.x

#12833 ISPN-16515 remove bad chars from testname for jira
  bin/jira/track_flaky_tests.sh
Labels: Trivial :-), github_actions

#12836 ISPN-16517 don't publish flaky in failed test report
  .github/workflows/on_propen_push_do_test.yml
Labels: Trivial :-), github_actions

#12841 ISPN-16526: Doc edits for Certificate reloading documentation
  documentation/src/main/asciidoc/topics/proc_configuring_server_keystores.adoc
  documentation/src/main/asciidoc/topics/proc_server_require_client_cert.adoc
Labels: Documentation, 15.0.x

#12842 ISPN-16527: Doc edits for index/query by key for remote queries docs
  documentation/src/main/asciidoc/topics/proc_query_queries_by_keys.adoc
Labels: Documentation, 15.0.x

#12865 ISPN-16579 Expose aliases in the caches list and detail
  server/rest/src/main/java/org/infinispan/rest/resources/CacheResourceV2.java
  server/rest/src/test/java/org/infinispan/rest/resources/CacheResourceV2Test.java
Labels: Trivial :-)

#12835 ISPN-16514 Limit concurrency for indexing putall to 100
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/query/pressure/LargePutAllPressureTest.java
  query/src/main/java/org/infinispan/query/backend/QueryInterceptor.java
Labels: 15.0.x

#12851 ISPN-16537 Cache health and config do not respond 404 for non running caches
  server/rest/src/main/java/org/infinispan/rest/resources/CacheResourceV2.java
  server/rest/src/test/java/org/infinispan/rest/resources/CacheResourceV2Test.java
Labels: 15.0.x

#12668 ISPN-16215 - fix Locking problems during StringBaseJdbcStore#purgeExpired
  persistence/jdbc-common/src/main/java/org/infinispan/persistence/jdbc/common/logging/Log.java
  persistence/jdbc/src/main/java/org/infinispan/persistence/jdbc/stringbased/JdbcStringBasedStore.java
Labels: 15.0.x

#12870 ISPN-16592 Removing flaky test from failed report
  .github/workflows/on_run_publish_surefire_report.yml
Labels: github_actions

#12902 ISPN-16366 Increase LargeTermTest socket timeout
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/query/LargeTermTest.java
Labels: Test fix

#12897 ISPN-16628 CI Skip following step on build failure
  .github/workflows/on_run_create_jira_flaky_test.yml
  .github/workflows/on_run_publish_surefire_report.yml
Labels: github_actions

#12898 ISPN-16629 Ensure that at least 30000 have been run
  .github/workflows/on_run_publish_surefire_report.yml
Labels: Question, github_actions

#12919 ISPN-16646 Update Console to 15.1.2.Final
  build/configuration/pom.xml
Labels: Trivial :-)

#12916 ISPN-16641 Fix test runs count
  .github/workflows/on_run_publish_surefire_report.yml
Labels: Trivial :-), github_actions

#12930 Bump action-setup-cekit 1.1.6
  .github/workflows/operator_upgrade.yaml
Labels: 15.0.x

#12935 ISPN-14868 Remove and refactor Client Connection Pool
  client/hotrod-client-new/src/main/java/org/infinispan/client/hotrod/impl/transport/netty/HeaderDecoder.java
Labels: Trivial :-)

#12932 ISPN-16597 Client iteration can miss segments due to invalid iteration response during shutdown
  client/hotrod-client-new/src/main/java/org/infinispan/client/hotrod/impl/iteration/RemoteInnerPublisherHandler.java
  client/hotrod-client-new/src/main/java/org/infinispan/client/hotrod/impl/iteration/RemotePublisher.java
  client/hotrod-client-new/src/main/java/org/infinispan/client/hotrod/impl/operations/IterationNextOperation.java
  client/hotrod-client-new/src/test/java/org/infinispan/client/hotrod/impl/iteration/BaseIterationFailOverTest.java
  client/hotrod-client-new/src/test/java/org/infinispan/client/hotrod/impl/iteration/Util.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/iteration/RemoteInnerPublisherHandler.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/iteration/RemotePublisher.java
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/operations/IterationNextOperation.java
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/impl/iteration/BaseIterationFailOverTest.java
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/impl/iteration/Util.java
Labels: 15.0.x

#12940 ISPN-12358 Fix log ranges
  server/rest/src/test/java/org/infinispan/rest/resources/CacheResourceV2Test.java
Labels: Trivial :-), Test fix

#12936 ISPN-16674 Flaky test: org.infinispan.client.hotrod.retry.TopologyUpd…
  client/hotrod-client-new/src/main/java/org/infinispan/client/hotrod/impl/operations/DelegatingHotRodOperation.java
  client/hotrod-client-new/src/main/java/org/infinispan/client/hotrod/impl/operations/HotRodOperation.java
  client/hotrod-client-new/src/main/java/org/infinispan/client/hotrod/impl/transport/netty/OperationChannel.java
  client/hotrod-client-new/src/test/java/org/infinispan/client/hotrod/retry/TopologyUpdateRetryTest.java
Labels: Trivial :-), Test fix

#12873 ISPN-16531 PreferAvailabilityStrategy can form cache topologies with …
  core/src/test/java/org/infinispan/partitionhandling/BasePartitionHandlingTest.java
  core/src/test/java/org/infinispan/partitionhandling/PartitionHigherTopologyIDTest.java
Labels: Changes Required
