Repository infinispan/infinispan, pull requests merged in 2025-04, with the labels that each got.

#14485 [#14441] Reintroduce cache instance variable
  query-core/src/main/java/org/infinispan/query/core/impl/QueryCache.java
Labels: target/15.0.x

#14500 [#14132] Report jacoco coverage using GitHub actions - restrict only …
  .github/workflows/on_build_do_test.yml
Labels: pr/trivial 😀, github_actions

#14517 [#14516] Use unsigned version comparison in the parser registry
  core/src/main/java/org/infinispan/configuration/parsing/ParserRegistry.java
  server/runtime/src/main/resources/infinispan-server-templates.xml
  server/tests/src/test/resources/configuration/security/keycloak-oauth2.xml
Labels: pr/urgent ⚠️

#14327 [#13894] Cluster membership endpoint
  client/rest-client/src/main/java/org/infinispan/client/rest/RestClusterClient.java
  client/rest-client/src/main/java/org/infinispan/client/rest/impl/jdk/RestClusterClientJDK.java
  documentation/src/main/asciidoc/topics/json/rest_cluster_members_response.json
  documentation/src/main/asciidoc/topics/ref_rest_clusters.adoc
  server/rest/src/main/java/org/infinispan/rest/resources/ClusterResource.java
  server/rest/src/test/java/org/infinispan/rest/resources/ClusterResourceTest.java
Labels: area/server/rest, area/client/rest, release/16.0.0

#14491 [#14490] Server new cache startup should not block
  client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/topology/CacheInfo.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/Authentication.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/CacheRequestProcessor.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/HotRodServer.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/ServerHotRodBlockHoundIntegration.java
  server/hotrod/src/main/java/org/infinispan/server/hotrod/TransactionRequestProcessor.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/HotRodAsymmetricClusterTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/HotRodDefaultCacheTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/HotRodFunctionalTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/HotRodMultiNodeTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/HotRodSingleClusteredNonLoopbackTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/HotRodSingleClusteredTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/HotRodSniFunctionalTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/HotRodStatsTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/counter/CounterManagerOperationTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/logging/HotRodAccessLoggingTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/test/HotRodClient.java
Labels: area/server/hotrod, area/client/hotrod

#14502 [#14499] UnsafeMemoryAddressOffHeapMemory throws CNFE with widfly
  commons/jdk22/src/main/java/org/infinispan/commons/jdk22/logging/Jdk22Log.java
  commons/jdk22/src/main/java/org/infinispan/commons/jdk22/logging/Jdk22LogFactory.java
  commons/jdk22/src/main/java/org/infinispan/commons/jdkspecific/OffHeapMemory.java
  commons/jdk22/src/main/java/org/infinispan/commons/jdkspecific/UnsafeMemoryAddressOffHeapMemory.java
Labels: area/core, backport/15.2.x

#14531 [#14322] Document Vector Search as a not supported feature
  documentation/src/main/asciidoc/topics/con_indexing_annotations.adoc
Labels: backport/15.0.x

#14555 [15.0.x] [#14322] Document Vector Search as a not supported feature
  documentation/src/main/asciidoc/topics/con_indexing_annotations.adoc
Labels: target/15.0.x

#14507 [#14506] Ad-hoc JsonBucket mem size
  server/resp/src/main/java/org/infinispan/server/resp/commands/connection/MemoryEntrySizeUtils.java
  server/resp/src/main/java/org/infinispan/server/resp/json/JsonBucket.java
Labels: area/server/resp

#14550 [#14549] Fix the HotRodCompCacheOperationsIT test failing in GHA\n
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/ContainerInfinispanServerDriver.java
Labels: pr/test fix

#14512 [#14510] Properties can containt Integer values
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/configuration/ConfigurationTest.java
  commons/all/src/main/java/org/infinispan/commons/util/TypedProperties.java
  commons/all/src/test/java/org/infinispan/commons/util/TypedPropertiesTest.java
Labels: area/client/hotrod, backport/15.2.x

#14561 [#14525] Fix repository in wrkflw link
  .github/workflows/on_build_do_test.yml
Labels: pr/trivial 😀, github_actions

#14558 [#14556] Workaround network interface test failures on GitHub Actions
  .github/workflows/on_build_do_test.yml
  commons-test/src/main/java/org/infinispan/commons/test/skip/SkipTestNG.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/HotRodMultiHomedAddressTest.java
  server/hotrod/src/test/java/org/infinispan/server/hotrod/HotRodSingleClusteredNonLoopbackTest.java
Labels: pr/changes required

#14585 [#14571] Renew token after mvn verify
  .github/workflows/on_build_do_test.yml
  .github/workflows/on_test_publish_surefire_report.yml
Labels: github_actions

#14572 [#14559] Use bulk strings in RESP HELLO response
  server/resp/src/main/java/org/infinispan/server/resp/commands/cluster/SHARDS.java
  server/resp/src/main/java/org/infinispan/server/resp/commands/connection/COMMAND.java
  server/resp/src/main/java/org/infinispan/server/resp/commands/connection/HELLO.java
  server/resp/src/main/java/org/infinispan/server/resp/commands/connection/MEMORY.java
  server/resp/src/main/java/org/infinispan/server/resp/commands/connection/MODULE.java
  server/resp/src/main/java/org/infinispan/server/resp/serialization/Resp3Type.java
  server/resp/src/test/java/org/infinispan/server/resp/RespServerTest.java
Labels: area/server/resp

#14608 [15.1.x] [#14600] Test can fail on shutdown due to netty thread blocking
  server/core/src/main/java/org/infinispan/server/core/ServerCoreBlockHoundIntegration.java
Labels: target/15.1.x

#14607 [15.0.x] [#14600] Test can fail on shutdown due to netty thread blocking
  server/core/src/main/java/org/infinispan/server/core/ServerCoreBlockHoundIntegration.java
Labels: target/15.0.x

#14612 [#14581] Missing BuiltBy annotation
  core/src/main/java/org/infinispan/metrics/config/MicrometerMeterRegistryConfiguration.java
Labels: backport/15.0.x, area/core

#14620 [#14618] DistSyncNonTxStateTransferTest can fail to complete
  core/src/test/java/org/infinispan/xsite/statetransfer/BaseStateTransferTest.java
Labels: pr/test fix

#14617 [#14581] Missing BuiltBy annotation
  core/src/main/java/org/infinispan/metrics/config/MicrometerMeterRegistryConfiguration.java
Labels: pr/backport, area/core, target/15.2.x

#14639 [#14638] JVM GC ReferenceQueue should not be flagged as blocking
  commons/all/src/main/java/org/infinispan/commons/internal/CommonsBlockHoundIntegration.java
Labels: pr/trivial 😀, pr/test fix

#14645 [#14643] Utilize JUnit BOM for dependency
  hibernate/cache-v62/pom.xml
Labels: pr/trivial 😀, area/integrations/hibernate

#14649 [#14648] Remove gh- prefix tag from infinispan-test/server image
  .github/workflows/on_build_do_publish_image.yml
Labels: pr/trivial 😀, github_actions

#14642 [#13908] Manually load JDBC driver
  server/tests/src/test/java/org/infinispan/server/persistence/JGroupsJdbcPing2IT.java
Labels: pr/test fix, area/server

#14656 [#14655] Close cache manager to avoid thread leak
  client/hotrod-client-legacy/src/test/java/org/infinispan/client/hotrod/event/RemoteContinuousQueryLeavingRemoteCacheManagerTest.java
  client/hotrod-client/src/test/java/org/infinispan/client/hotrod/event/RemoteContinuousQueryLeavingRemoteCacheManagerTest.java
Labels: pr/trivial 😀, pr/test fix, area/client/hotrod

#14651 [#14650] LOLWUT
  server/resp/src/main/java/org/infinispan/server/resp/commands/Commands.java
  server/resp/src/main/java/org/infinispan/server/resp/commands/generic/LOLWUT.java
  server/resp/src/main/resources/lolwut/14.0.txt
  server/resp/src/main/resources/lolwut/15.0.txt
  server/resp/src/main/resources/lolwut/15.1.txt
  server/resp/src/main/resources/lolwut/15.2.txt
  server/resp/src/main/resources/lolwut/infinispan.txt
  server/resp/src/test/java/org/infinispan/server/resp/RespSingleNodeTest.java
Labels: area/server/resp

#14631 [#14630] Break cycle between local and cluster topology manager
  core/src/main/java/org/infinispan/commands/topology/CacheStatusRequestCommand.java
  core/src/main/java/org/infinispan/commands/topology/TopologyUpdateCommand.java
  core/src/main/java/org/infinispan/factories/GlobalComponentRegistry.java
  core/src/main/java/org/infinispan/topology/ClusterTopologyManagerImpl.java
  core/src/main/java/org/infinispan/topology/LocalTopologyManagerImpl.java
  core/src/test/java/org/infinispan/topology/AbstractStatefulCluster.java
  core/src/test/java/org/infinispan/topology/ClusterTopologyStatefulTest.java
Labels: area/core

#14616 [15.0.x] [#14581] Missing BuiltBy annotation
  core/src/main/java/org/infinispan/metrics/config/MicrometerMeterRegistryConfiguration.java
Labels: pr/on hold, target/15.0.x

#14660 [#14659] Adding backport main->15.2.x
  .github/workflows/backport.yaml
Labels: github_actions

#14665 [#14663] [14.0.x] On 14.0.x docs go only to 14.0.x
  .github/workflows/sync_docs.yml
Labels: github_actions, target/14.0.x, area/documentation

#14666 [#14663] On 15.0.x docs go only to 15.0.x
  .github/workflows/sync_docs.yml
Labels: github_actions, target/15.0.x, area/documentation

#14667 [#14663] On 15.1.x docs go only to 15.1.x
  .github/workflows/sync_docs.yml
Labels: github_actions, target/15.1.x, area/documentation

#14668 [#14663] On 15.2.x docs go to stable
  .github/workflows/sync_docs.yml
Labels: github_actions, target/15.2.x, area/documentation

#14685 [15.0.x] [#13908] Manually load JDBC driver
  server/tests/src/test/java/org/infinispan/server/persistence/JGroupsJdbcPing2IT.java
Labels: pr/backport, pr/test fix, area/server, target/15.0.x

#14686 [15.2.x] [#13908] Manually load JDBC driver
  server/tests/src/test/java/org/infinispan/server/persistence/JGroupsJdbcPing2IT.java
Labels: pr/backport, pr/test fix, area/server, target/15.2.x

#14679 [15.2] [#14674] Fix unreplaced XSD placeholders
  build/infinispan-defaults-maven-plugin/src/main/java/org/infinispan/plugins/maven/defaults/DefaultsExtractorMojo.java
  build/infinispan-defaults-maven-plugin/src/main/java/org/infinispan/plugins/maven/defaults/DefaultsResolver.java
  build/infinispan-defaults-maven-plugin/src/main/java/org/infinispan/plugins/maven/defaults/InfinispanDefaultsResolver.java
  persistence/jdbc-common/src/main/resources/schema/infinispan-cachestore-jdbc-common-config-15.2.xsd
  persistence/jdbc/src/main/resources/schema/infinispan-cachestore-jdbc-config-15.2.xsd
  persistence/remote/src/main/resources/schema/infinispan-cachestore-remote-config-15.2.xsd
  persistence/rocksdb/src/main/resources/schema/infinispan-cachestore-rocksdb-config-15.2.xsd
  server/runtime/src/main/resources/schema/infinispan-server-15.2.xsd
Labels: target/15.2.x, area/build

#14676 [15.0] [#14674] Fix unreplaced XSD placeholders
  build/infinispan-defaults-maven-plugin/src/main/java/org/infinispan/plugins/maven/defaults/DefaultsExtractorMojo.java
  build/infinispan-defaults-maven-plugin/src/main/java/org/infinispan/plugins/maven/defaults/DefaultsResolver.java
  build/infinispan-defaults-maven-plugin/src/main/java/org/infinispan/plugins/maven/defaults/InfinispanDefaultsResolver.java
  persistence/jdbc-common/src/main/resources/schema/infinispan-cachestore-jdbc-common-config-15.0.xsd
  persistence/jdbc/src/main/resources/schema/infinispan-cachestore-jdbc-config-15.0.xsd
  persistence/remote/src/main/resources/schema/infinispan-cachestore-remote-config-15.0.xsd
  persistence/rocksdb/src/main/resources/schema/infinispan-cachestore-rocksdb-config-15.0.xsd
  server/runtime/src/main/resources/schema/infinispan-server-15.0.xsd
Labels: target/15.0.x

#14677 [14.0] [#14674] Fix unreplaced XSD placeholders
  build/infinispan-defaults-maven-plugin/src/main/java/org/infinispan/plugins/maven/defaults/DefaultsExtractorMojo.java
  build/infinispan-defaults-maven-plugin/src/main/java/org/infinispan/plugins/maven/defaults/DefaultsResolver.java
  build/infinispan-defaults-maven-plugin/src/main/java/org/infinispan/plugins/maven/defaults/InfinispanDefaultsResolver.java
  persistence/jdbc-common/src/main/resources/schema/infinispan-cachestore-jdbc-common-config-14.0.xsd
  persistence/jdbc/src/main/resources/schema/infinispan-cachestore-jdbc-config-14.0.xsd
  persistence/remote/src/main/resources/schema/infinispan-cachestore-remote-config-14.0.xsd
  persistence/rocksdb/src/main/resources/schema/infinispan-cachestore-rocksdb-config-14.0.xsd
  server/runtime/src/main/resources/schema/infinispan-server-14.0.xsd
Labels: target/14.0.x

#14673 [#14662] Return fixed id in case of shutdown
  server/insights/src/main/java/org/infinispan/server/insights/InfinispanInsightsConfiguration.java
Labels: backport/15.0.x, backport/15.2.x, area/insights
