Repository infinispan/infinispan, pull requests merged in 2025-03, with the labels that each got.

#14230 [#14229] Checkout only .github for test + enable hibernate-matrix
  .github/workflows/on_build_do_test.yml
Labels: github_actions, backport/15.1.x

#14250 [#13465] RESP json.mset command
  documentation/src/main/asciidoc/topics/ref_redis_commands.adoc
  server/resp/src/main/java/org/infinispan/server/resp/commands/Commands.java
  server/resp/src/main/java/org/infinispan/server/resp/commands/json/JSONMSET.java
  server/resp/src/test/java/org/infinispan/server/resp/JsonCommandsTest.java
Labels: area/server/resp

#13159 ISPN-16285 Memory size for more resp types
  build/configuration/pom.xml
  pom.xml
  server/resp/pom.xml
  server/resp/src/main/java/org/infinispan/server/resp/commands/connection/MEMORY.java
  server/resp/src/main/java/org/infinispan/server/resp/commands/connection/MemoryEntrySizeUtils.java
  server/resp/src/test/java/org/infinispan/server/resp/RespSingleNodeTest.java
Labels: area/server/resp, target/15.2.x

#14263 [15.1.x] [#14229] Checkout only .github for test + enable hibernate-matrix
  .github/workflows/on_build_do_test.yml
Labels: target/15.1.x

#14262 [#13473] JSON.TOGGLE root fix
  server/resp/src/main/java/org/infinispan/server/resp/json/JsonToggleFunction.java
  server/resp/src/test/java/org/infinispan/server/resp/JsonCommandsTest.java
Labels: area/server/resp

#14320 [#14304] Avoid locking with query cache
  query-core/src/main/java/org/infinispan/query/core/impl/QueryCache.java
Labels: backport/15.0.x

#14274 Document Vector Search as a not supported feature
  documentation/src/main/asciidoc/topics/con_indexing_annotations.adoc
Labels: pr/documentation, backport/15.0.x, area/documentation

#14333 [15.0.x] Document Vector Search as a not supported feature
  documentation/src/main/asciidoc/topics/con_indexing_annotations.adoc
Labels: target/15.0.x

#14228 [#13464] RESP json.mget command
  documentation/src/main/asciidoc/topics/ref_redis_commands.adoc
  server/resp/src/main/java/org/infinispan/server/resp/commands/Commands.java
  server/resp/src/main/java/org/infinispan/server/resp/commands/json/JSONMGET.java
  server/resp/src/test/java/org/infinispan/server/resp/JsonCommandsTest.java
Labels: area/server/resp

#14275 [#13470] RESP json.resp command
  server/resp/src/main/java/org/infinispan/server/resp/ExternalizerIds.java
  server/resp/src/main/java/org/infinispan/server/resp/RespModuleLifecycle.java
  server/resp/src/main/java/org/infinispan/server/resp/commands/Commands.java
  server/resp/src/main/java/org/infinispan/server/resp/commands/json/JSONRESP.java
  server/resp/src/main/java/org/infinispan/server/resp/json/EmbeddedJsonCache.java
  server/resp/src/main/java/org/infinispan/server/resp/json/JsonRespFunction.java
  server/resp/src/test/java/org/infinispan/server/resp/JsonCommandsTest.java
Labels: pr/needs rebase, area/server/resp

#14330 [15.0.x] [#14304] Avoid locking with query cache
  query-core/src/main/java/org/infinispan/query/core/impl/QueryCache.java
Labels: target/15.0.x

#14280 [#14270] Flaky test comment, limit gh search to current repo
  bin/gh/track_flaky_tests.sh
Labels: github_actions, backport/15.1.x

#14344 [15.1.x] [#14270] Flaky test comment, limit gh search to current repo
  bin/gh/track_flaky_tests.sh
Labels: target/15.1.x

#14335 [#14334] Replace non-blocking executor with virtual thread executor
  core/src/main/java/org/infinispan/factories/threads/NonBlockingThreadPoolExecutorFactory.java
Labels: pr/trivial 😀

#14348 [#14347] JGroups metrics ignore the configured prefix
  core/src/main/java/org/infinispan/metrics/impl/MetricsComponentFactory.java
  core/src/main/java/org/infinispan/remoting/transport/jgroups/JGroupsMetricsManagerImpl.java
Labels: pr/changes required

#14353 [#14350] Make query clear non blocking
  query/src/main/java/org/infinispan/query/backend/QueryInterceptor.java
  query/src/main/java/org/infinispan/search/mapper/scope/SearchWorkspace.java
  query/src/main/java/org/infinispan/search/mapper/scope/impl/SearchWorkspaceImpl.java
Labels: area/query

#14396 [15.0.x] [#14393] Fix RestMetricsResourceIT.testDetailedKeyMetrics2
  server/tests/src/test/java/org/infinispan/server/functional/rest/RestMetricsResourceIT.java
Labels: target/15.0.x

#14397 [15.1.x] [#14393] Fix RestMetricsResourceIT.testDetailedKeyMetrics2
  server/tests/src/test/java/org/infinispan/server/functional/rest/RestMetricsResourceIT.java
Labels: target/15.1.x

#14343 [#14304] Simplify query cache
  query-core/src/main/java/org/infinispan/query/core/impl/LifecycleManager.java
  query-core/src/main/java/org/infinispan/query/core/impl/QueryCache.java
  query/src/test/java/org/infinispan/query/impl/QueryCacheEmbeddedTest.java
Labels: backport/15.0.x, area/query

#14188 [15.0.x] [#13977] Fix the code coverage impl to work with integration tests
  documentation/src/main/asciidoc/topics/contributing/tests.adoc
  pom.xml
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/ContainerInfinispanServerDriver.java
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/InfinispanGenericContainer.java
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/TestSystemPropertyNames.java
  server/testdriver/junit4/pom.xml
  server/testdriver/junit5/pom.xml
  server/tests/pom.xml
Labels: pr/changes required, target/15.0.x

#14294 [#14293] Let InfinispanServerExtension auto close the clients
  server/tests/src/test/java/org/infinispan/server/functional/rest/RestMetricsResourceIT.java
  server/tests/src/test/java/org/infinispan/server/security/AuthenticationCertIT.java
  server/tests/src/test/java/org/infinispan/server/security/TLSWithoutAuthenticationIT.java
Labels: backport/15.0.x

#14411 [15.0.x] [#14304] Simplify query cache
  query-core/src/main/java/org/infinispan/query/core/impl/LifecycleManager.java
  query-core/src/main/java/org/infinispan/query/core/impl/QueryCache.java
  query/src/test/java/org/infinispan/query/impl/QueryCacheEmbeddedTest.java
Labels: target/15.0.x

#14418 [15.0.x] [#14293] Let InfinispanServerExtension auto close the clients
  server/tests/src/test/java/org/infinispan/server/functional/rest/RestMetricsResourceIT.java
  server/tests/src/test/java/org/infinispan/server/security/AuthenticationCertIT.java
  server/tests/src/test/java/org/infinispan/server/security/TLSWithoutAuthenticationIT.java
Labels: target/15.0.x

#14361 [#14360] Remove stale data from IracManager backup owners
  core/src/main/java/org/infinispan/commands/CommandsFactory.java
  core/src/main/java/org/infinispan/commands/CommandsFactoryImpl.java
  core/src/main/java/org/infinispan/commands/RemoteCommandsFactory.java
  core/src/main/java/org/infinispan/commands/irac/IracPrimaryPendingKeyCheckCommand.java
  core/src/main/java/org/infinispan/commands/irac/IracStateResponseCommand.java
  core/src/main/java/org/infinispan/container/versioning/irac/DefaultIracTombstoneManager.java
  core/src/main/java/org/infinispan/marshall/exts/CacheRpcCommandExternalizer.java
  core/src/main/java/org/infinispan/xsite/irac/DefaultIracManager.java
  core/src/main/java/org/infinispan/xsite/irac/IracManager.java
  core/src/main/java/org/infinispan/xsite/irac/IracManagerKeyChangedState.java
  core/src/main/java/org/infinispan/xsite/irac/IracManagerKeyInfo.java
  core/src/main/java/org/infinispan/xsite/irac/NoOpIracManager.java
  core/src/test/java/org/infinispan/jmx/XSiteMBeanTest.java
  core/src/test/java/org/infinispan/util/mocks/ControlledCommandFactory.java
  core/src/test/java/org/infinispan/xsite/AbstractMultipleSitesTest.java
  core/src/test/java/org/infinispan/xsite/irac/ControlledIracManager.java
  core/src/test/java/org/infinispan/xsite/irac/Irac3SitesConflictTest.java
  core/src/test/java/org/infinispan/xsite/irac/Irac3SitesExponentialBackOffTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracAlwaysRemoveConflictTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracCustomConflictTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracExponentialBackOffTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracTombstoneUnitTest.java
  core/src/test/java/org/infinispan/xsite/irac/ManualIracManager.java
  core/src/test/java/org/infinispan/xsite/irac/persistence/BaseIracPersistenceTest.java
  core/src/test/java/org/infinispan/xsite/irac/statetransfer/IracStateTransferTest.java
Labels: area/clustering/xsite

#14433 [15.0] [#14432] Cleanup resources after cross-site tests
  core/src/test/java/org/infinispan/jmx/XSiteMBeanTest.java
  core/src/test/java/org/infinispan/xsite/irac/Irac3SitesConflictTest.java
  core/src/test/java/org/infinispan/xsite/irac/Irac3SitesExponentialBackOffTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracAlwaysRemoveConflictTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracCustomConflictTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracExponentialBackOffTest.java
  core/src/test/java/org/infinispan/xsite/irac/persistence/BaseIracPersistenceTest.java
  core/src/test/java/org/infinispan/xsite/irac/statetransfer/IracStateTransferTest.java
Labels: pr/trivial 😀, pr/test fix, target/15.0.x

#14260 [#14132] Report jacoco coverage using GitHub actions
  .github/scripts/merge-jacoco-files.sh
  .github/workflows/on_build_do_test.yml
  pom.xml
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/AbstractInfinispanServerDriver.java
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/ContainerInfinispanServerDriver.java
  server/testdriver/core/src/main/java/org/infinispan/server/test/core/InfinispanGenericContainer.java
Labels: github_actions

#14440 [#14412] Fix flaky test AsyncBackupTest
  core/src/test/java/org/infinispan/xsite/AsyncBackupTest.java
Labels: pr/trivial 😀, pr/test fix

#14426 [#14425] Use Netty threads in server
  server/core/src/main/java/org/infinispan/server/core/factories/NettyEventLoopFactory.java
  server/core/src/main/java/org/infinispan/server/core/logging/Log.java
Labels: area/server, release/15.2.0

#14434 [15.1] [#14432] Cleanup resources after cross-site tests
  core/src/test/java/org/infinispan/jmx/XSiteMBeanTest.java
  core/src/test/java/org/infinispan/xsite/irac/Irac3SitesConflictTest.java
  core/src/test/java/org/infinispan/xsite/irac/Irac3SitesExponentialBackOffTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracAlwaysRemoveConflictTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracCustomConflictTest.java
  core/src/test/java/org/infinispan/xsite/irac/IracExponentialBackOffTest.java
  core/src/test/java/org/infinispan/xsite/irac/persistence/BaseIracPersistenceTest.java
  core/src/test/java/org/infinispan/xsite/irac/statetransfer/IracStateTransferTest.java
Labels: pr/trivial 😀, pr/test fix, target/15.1.x

#14410 [#13351] Don't abort FileWatcher.run() on errors
  commons/all/src/main/java/org/infinispan/commons/io/FileWatcher.java
Labels: pr/test fix, area/core, release/15.2.0

#14291 [#14311] Non Blocking Publisher API
  commons/all/src/main/java/org/infinispan/commons/marshall/Ids.java
  core/src/main/java/org/infinispan/AdvancedCache.java
  core/src/main/java/org/infinispan/CachePublisher.java
  core/src/main/java/org/infinispan/cache/impl/AbstractDelegatingAdvancedCache.java
  core/src/main/java/org/infinispan/cache/impl/CacheImpl.java
  core/src/main/java/org/infinispan/cache/impl/CachePublisherImpl.java
  core/src/main/java/org/infinispan/cache/impl/DecoratedCache.java
  core/src/main/java/org/infinispan/cache/impl/EncoderCache.java
  core/src/main/java/org/infinispan/cache/impl/EncoderEntryMapper.java
  core/src/main/java/org/infinispan/cache/impl/EntryFunctionEncoder.java
  core/src/main/java/org/infinispan/cache/impl/KeyFunctionEncoder.java
  core/src/main/java/org/infinispan/cache/impl/SimpleCacheImpl.java
  core/src/main/java/org/infinispan/marshall/core/InternalExternalizers.java
  core/src/main/java/org/infinispan/reactive/publisher/PublisherReducers.java
  core/src/main/java/org/infinispan/reactive/publisher/impl/DeliveryGuarantee.java
  core/src/main/java/org/infinispan/reactive/publisher/impl/SegmentPublisherSupplier.java
  core/src/main/java/org/infinispan/security/impl/SecureCacheImpl.java
  core/src/test/java/org/infinispan/functional/decorators/FunctionalAdvancedCache.java
  core/src/test/java/org/infinispan/security/SecureCacheTestDriver.java
  core/src/test/java/org/infinispan/stream/CachePublisherTest.java
  multimap/src/main/java/org/infinispan/multimap/impl/EmbeddedMultimapCache.java
Labels: area/core, area/multimap, release/15.2.0

#14469 [#14468] Update server thread naming
  server/core/src/main/java/org/infinispan/server/core/factories/NettyEventLoopFactory.java
Labels: pr/trivial 😀, area/server

#14471 [#14132] Report jacoco coverage using GitHub actions - part2
  .github/workflows/on_build_do_test.yml
Labels: github_actions, kind/bug
